{% extends 'index.html' %}
{% load bootstrap3 %}

{% block content %}
    <br clear="all">
    <a href="{% url 'contact-delete' pk=object.pk %}" class="btn btn-danger">
        {% bootstrap_icon "remove-circle" %} Удалить
    </a>
    <form action="" method="post" class="form" novalidate>
        {% csrf_token %}
        {#        {% bootstrap_form form %}#}
        <div class="col-xs-4">
            {% bootstrap_field form.name %}
        </div>


        <div class="row col-md-12">

            <h4>Контакты</h4>

            <a href="#" id="new_phone" class="btn btn-success">
                Добавить еще один телефон</a>
            {{ phone_formset.management_form }}
            <div class="phones_formset">
                {% for pf in phone_formset %}
                    <div class="contact_data contact-div">
                        {% for f in pf %}
                            <div class="col-xs-3">{% bootstrap_field f size='small' %}</div>
                        {% endfor %}
                        <br clear="all">
                    </div>
                {% endfor %}
                <div id="empty_phone" style="display:none">
                    <div class="contact_data contact-div">
                        {% for f in phone_formset.empty_form %}
                            <div class="col-xs-3">{% bootstrap_field f size='small' %}</div>
                        {% endfor %}
                        <br clear="all">
                    </div>
                </div>
            </div>

        </div>
        {% buttons submit='Сохранить' reset='Вернуть' layout='horizontal' %}{% endbuttons %}
    </form>

    {% if orders %}
        <hr />
        <br clear="all">
        <h3>История заказов</h3>
        <table  class="table table-striped">
            <tr>
                <th>#</th>
                <th>Дата создания</th>
                <th>Дата завершения</th>
                <th>Статус</th>
            </tr>
            {% for ord in orders %}
                <tr>
                    <td>{{ ord.number }}</td>
                    <td>{{ ord.date_created|date:"d.m.Y" }}</td>
                    <td>{{ ord.date_complete|date:"d.m.Y" }}</td>
                    <td>{{ ord.status.name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}