{% extends 'index.html' %}

{% block content %}
    <form action="" method="get" class="form" novalidate>
        <div class="form-group">
            <input type="text" name="search" id="id_search" class="form-control" placeholder="Поиск" />
        </div>
    </form>

    <table class="table">
    <thead>
        <th>#</th>
        <th>Имя</th>
        <th>Добавочные</th>
        <th>Телефоны</th>
        <th>Emails</th>
        {# <th>Кол-во адресов</th>#}
    </thead>
    <tbody>
        {% for contact in object_list %}
            <tr>
                <td>
                    <a href="{% url 'contact-detail' pk=contact.pk %}">{{ contact.pk }}</a>
                </td>
                <td>
                    <a href="{% url 'contact-detail' pk=contact.pk %}">{{ contact.name }}</a>
                </td>
                <td>{{ contact.get_additional }}</td>
                <td>{{ contact.get_phones }}</td>
                <td>{{ contact.get_emails }}</td>
                {# <td>{{ contact.address.all|length }}</td>#}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}