{% load staticfiles bootstrap3 %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}">
</head>
<body>
{# ng-app="{% block ng_app %}example.app.calls{% endblock %}"#}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CRM BHC</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <form action="" method="post" class="form" novalidate>
                {% csrf_token %}
                <div class="col-md-3">
                    {% bootstrap_form form %}
                    {% bootstrap_button "Войти" button_type="submit" button_class="btn-primary" %}
                </div>
            </form>
        </div>
    </div>

</div>
{% block js %}
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "chosen/chosen.jquery.min.js" %}"></script>
    <script src="{% static "jquery-ui/ui/i18n/datepicker-ru.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/app2.js" %}"></script>
{% endblock %}
</body>
</html>
