﻿<!doctype html>
<html ng-app='app'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Велосипеды</title>

<link rel='stylesheet' href='lib/bootstrap/css/bootstrap.css'>
<link rel='stylesheet' href='lib/ui-select/select.css'>
<link rel='stylesheet' href='lib/icheck/skins/all.css'>
<link rel='stylesheet' href='lib/bootstrap-slider/css/bootstrap-slider.css'>
<link rel='stylesheet' href='css/style.css'>


</head>

<body>
<div class="page_wrapper"> <!-- pressing footer -->
	<!-- header -->
	<header>
		<div class="header_top_menu">
			<div class="container container_1200 mein_nav_block">
				<ul class="nav nav-pills navbar_left">
					<li id="glyphicon_home"><a class="active" href="#"></a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">Безопасность</a></li>
					<li><a href="#">Соглашение</a></li>
					<li><a href="#">Полезное</a></li>
				</ul>
				<ul class="nav nav-pills navbar_right">
					<li><a href="#"><img src="img/f.png" alt="facebook"></a></li>
					<li><a href="#"><img src="img/tv.png" alt="twitter"></a></li>
					<li><a href="#"><img src="img/g.png" alt="g+"></a></li>
					<li><a href="#"><img src="img/vk.png" alt="vk"></a></li>
					<li><a href="#"><img src="img/y.png" alt="youtube"></a></li>
				</ul>
			</div>
		</div>
		<div class="container container_1200 office_block">
			<div class="office_rental">
				<button type="button" class="btn">Добавить в прокат</button>
				<div class="office_div">
					<img src="img/Castle.png" alt="Castle.png">
					<a href="">Кабинет проката</a>
				</div>
			</div>
			<div class="logo_studia">
				<a href=""><img src="img/Logo.png" alt="Logo"></a>
				<p><span>1 000 000</span> студий проката по всей России </p>
			</div>
			<div class="control_panel">
				<button type="button" class="btn">Регистрация</button>
				<div class="control_panel_div">
					<img src="img/key.png" alt="key.png">
					<a href="">Кабинет пользователя</a>
				</div>
			</div>
		</div>
		
	</header>
	<!-- header end-->
	
	<!-- Search_block -->
	<div class="container container_1200">
		<div class="Search_block">
			<div class="col-md-12 Search_block1">
				<div><img src="img/procatitsa.png" alt="procatitsa.png"></div>
				<div>Желаете прокатиться?</div>
				<div  class="ui_select_chearch_my" ng-controller='MainCtrl'>
					<ui-select ng-model='s.dropdownSelection'>
					  <ui-select-match placeholder='1 человек' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					  </ui-select-match>
					  
					  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					  </ui-select-choices>
					</ui-select>
				</div>
				<div class="ui_select_chearch_my" ng-controller='MainCtrl'>
					<ui-select ng-model='s.dropdownSelection'>
					  <ui-select-match placeholder='Пол' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					  </ui-select-match>
					  
					  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					  </ui-select-choices>
					</ui-select>
				</div>
				<div class="ui_select_chearch_my" ng-controller='MainCtrl'>
					<ui-select ng-model='s.dropdownSelection'>
					  <ui-select-match placeholder='Тип велосипеда' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					  </ui-select-match>
					  
					  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					  </ui-select-choices>
					</ui-select>
				</div>
			</div>
				<div class="col-md-12 Search_block2">
					<div class="procatitsa"><img src="img/gde.png" alt="procatitsa.png"></div>
					<div>Где удобно забрать<br> велосипед?</div>
					<div class="ui_select_chearch_my" ng-controller='MainCtrl'>
						<ui-select ng-model='s.dropdownSelection'>
						  <ui-select-match placeholder='Москва' allow-clear>
							<span  class="ui_select" ng-bind='$select.selected.name'></span>
						  </ui-select-match>
							  
						  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
							<span ng-bind='t.name'></span>
						  </ui-select-choices>
						</ui-select>
					</div>
					<div class="ui_select_chearch_my" ng-controller='MainCtrl'>
						<ui-select ng-model='s.dropdownSelection'>
						  <ui-select-match placeholder='Район' allow-clear>
							<span  class="ui_select" ng-bind='$select.selected.name'></span>
						  </ui-select-match>
							  
						  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
							<span ng-bind='t.name'></span>
						  </ui-select-choices>
						</ui-select>
					</div>
					<div class="wontch_bicegli">
						<div class="checkbox_1_label">
							<input type="checkbox" value="agree" class="checkbox_1" id="input-checkbox">
							<label for="input-checkbox" class="checkbox-inline label-checkbox">
								Хочу велосипед<br>с доставкой
							</label>
						</div>
					</div>
				</div>
				<div class="Zoom_out">
					<a href=""><img src="img/Zoom_out.png" alt="Zoom_out.png"></a>
				</div>
		</div>
	</div>
	<!-- Search_block end -->
	
	<!-- Main block filter -->
	<div class="container container_1200">
		<div class="main_block_filter">
			<p class="search_p">Расширенный поиск</p>
			<a class="filter_cliner" href=""><span>&#215;</span> Очистить все</a>
			<div class="block_filter">
				<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
					<p class="block_filter_section_p">Марка</p>
					<ui-select ng-model='s.dropdownSelection'>
					  <ui-select-match placeholder='Выбор марки' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					  </ui-select-match>
					  
					  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					  </ui-select-choices>
					</ui-select>
				</div>
				<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
					<p class="block_filter_section_p">Модель</p>
					<ui-select ng-model='s.dropdownSelection'>
					  <ui-select-match placeholder='Выбор модели' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					  </ui-select-match>
					  
					  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					  </ui-select-choices>
					</ui-select>
				</div>
				<div class="block_filter_section prise_for">
					<p class="block_filter_section_p">Цена за час /  
						<span class="glyphicon glyphicon-ruble"></span></p>
						<div>
							<slider ng-model='s.sliderValue' min='1' step='1' max='100' range='true' value='[25, 70]'></slider>
						</div>
						
						<div>
						  <h3></h3>
						</div>
						
					<div class="prise_p">
						<p class="prise_left">{{ s.sliderValue }}</p>
					</div>
				</div>
				
				<div class="block_filter_section filter_color">
					<p class="block_filter_section_p">Цвет</p>
						<div class="filter_checkbox_label">
							<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox1">
							<label for="input-checkbox1" class="checkbox-inline label_checkbox_filter label_chech1">
							</label>
							<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox2">
							<label for="input-checkbox2" class="checkbox-inline label_checkbox_filter label_chech2">
							</label>
							<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox3">
							<label for="input-checkbox3" class="checkbox-inline label_checkbox_filter label_chech3">
							</label>
							<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox4">
							<label for="input-checkbox4" class="checkbox-inline label_checkbox_filter label_chech4">
							</label>
							<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox5">
							<label for="input-checkbox5" class="checkbox-inline label_checkbox_filter label_chech5">
							</label>
							<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox6">
							<label for="input-checkbox6" class="checkbox-inline label_checkbox_filter label_chech6">
							</label>
						</div>
					
				</div>
				<div class="block_filter_section razmer_colesa">
					<p class="block_filter_section_p">Размер колеса</p>
					<div class="checkbox_1_label">
							<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size1">
							<label for="size1" class="checkbox-inline label-checkbox">12
							</label>
							<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size2">
							<label for="size2" class="checkbox-inline label-checkbox">16
							</label>
							<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size3">
							<label for="size3" class="checkbox-inline label-checkbox razmer_colesa_18">18
							</label>
							<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size4">
							<label for="size4" class="checkbox-inline label-checkbox">20
							</label>
							<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size5">
							<label for="size5" class="checkbox-inline label-checkbox">22
							</label>
							<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size6">
							<label for="size6" class="checkbox-inline label-checkbox razmer_colesa_24">24
							</label>
							<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size7">
							<label for="size7" class="checkbox-inline label-checkbox">26
							</label>
							<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size8">
							<label for="size8" class="checkbox-inline label-checkbox">29
							</label>
					</div>
					
				</div>
				<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
					<p class="block_filter_section_p">Тип рамы</p>
					<ui-select ng-model='s.dropdownSelection'>
					  <ui-select-match placeholder='Выбор модели' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					  </ui-select-match>
					  
					  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					  </ui-select-choices>
					</ui-select>
				</div>
				<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
					<p class="block_filter_section_p">Тип подвески</p>
					<ui-select ng-model='s.dropdownSelection'>
					  <ui-select-match placeholder='Выбор модели' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					  </ui-select-match>
					  
					  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					  </ui-select-choices>
					</ui-select>
				</div>
				<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
					<p class="block_filter_section_p">Кол-во скоростей</p>
					<ui-select ng-model='s.dropdownSelection'>
					  <ui-select-match placeholder='16' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					  </ui-select-match>
					  
					  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					  </ui-select-choices>
					</ui-select>
				</div>
				<div class="block_filter_section dop_option">
					<p class="block_filter_section_p">Доп. опции</p>
					<div class="checkbox_1_label checkbox_1_label_dop">
							<input type="checkbox" value="agree" class="checkbox_1" id="dop1">
							<label for="dop1" class="checkbox-inline label-checkbox">Детское седенье
							</label>
							<input type="checkbox" value="agree" class="checkbox_1" id="dop2">
							<label for="dop2" class="checkbox-inline label-checkbox">Дополнительные колеса
							</label>
							<input type="checkbox" value="agree" class="checkbox_1" id="dop3">
							<label for="dop3" class="checkbox-inline label-checkbox">Литые диски
							</label>
							<input type="checkbox" value="agree" class="checkbox_1" id="dop4">
							<label for="dop4" class="checkbox-inline label-checkbox">Дисковые тормоза
							</label>
					</div>
				</div>
				<div class="block_filter_section dop_option">
					<p class="block_filter_section_p">Сервисы проката</p>
					<div class="checkbox_1_label checkbox_1_label_dop">
							<input type="checkbox" value="agree" class="checkbox_1" id="serfice1">
							<label for="serfice1" class="checkbox-inline label-checkbox">Рукомойник
							</label><br>
							<input type="checkbox" value="agree" class="checkbox_1" id="serfice2">
							<label for="serfice2" class="checkbox-inline label-checkbox">Туалет
							</label>
							<input type="checkbox" value="agree" class="checkbox_1" id="serfice3">
							<label for="serfice3" class="checkbox-inline label-checkbox">Питьевая вода
							</label>
							<input type="checkbox" value="agree" class="checkbox_1" id="serfice4">
							<label for="serfice4" class="checkbox-inline label-checkbox">Камера хранения
							</label>
					</div>
				</div>
				
				<div class="block_filter_section filter_apply">
					<a href="">
						<img src="img/apply_button.png" alt="apply_button.png">
					</a>
				</div>
			</div>
			<a class="filter_cliner cliner_bottom" href=""><span>&#215;</span> Очистить все</a>
		</div>
	<!-- right block filter -->
	<div class="right_block_filter">
		<div class="r_b_top">
			<div class="active"><a class="bicycles" href="">Велосипеды </a></div>
			<div class="bicegli_a"><a class="rentals" href="">Прокаты</a></div>
			<div class="bicegli_a"><a href="" class="map">Карта</a></div>
			<div class="r_b_top_select ui_select_prise_my" ng-controller='MainCtrl'>
				<ui-select ng-model='s.dropdownSelection'>
					<ui-select-match placeholder='По цене за час' allow-clear>
						<span  class="ui_select" ng-bind='$select.selected.name'></span>
					</ui-select-match>
					  
					<ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="r_b_top_a">
				<a class="active" href=""><img src="img/link_catalog1_active.png" alt="link_catalog1_active.png"></a>
				<a href=""><img src="img/link_catalog2.png" alt="link_catalog2.png"></a>
			</div>
		</div>
		<!-- main_catalog -->
		<div class="main_catalog">
			<div class="main_catalog_bicegli">
				<div class="main_catalog_bicegli1">
					<div class="catalog_foto">
						<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
					</div>
					<div class="catalog_opisanie">
						<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						<div class="catalog_p"><div><img src="img/images/16skorostey.png" alt="16skorostey.png"></div>16 скоростей</div>
						<div class="catalog_p"><div><img src="img/images/dvyhpodves.png" alt="16skorostey.png"></div>Двухподвес</div>
						<div class="catalog_p"><div><img src="img/images/size_opisanie.png" alt="16skorostey.png"></div>S размер</div>
						<div class="catalog_p"><div><img src="img/images/tormoza.png" alt="16skorostey.png"></div>Дисковые тормоза</div>
					</div>
					<div class="catalog_zabronirovat">
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble"> / час</span>
							    
						</div>
						<div class="time_catalog"><b>130</b> <span class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2 часов</div>
						<div class="time_catalog"><b>700</b> <span class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в день</div>
						<div class="time_catalog"><b>2000</b> <span class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в неделю</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
				</div>
				<div class="main_catalog_bicegli2">
					<div class="adres_block"><div><img src="img/images/adress.png" alt="adress_otzivi.png"></div>ул. Ленинский проспект д.76/2 стр.8</div>
					<div class="adres_block"><div><img src="img/images/adress_procat.png" alt="adress_procat.png"></div>Студия проката «2 КОЛЕСА»</div>
					<div class="adres_block"><div><img src="img/images/adress_otzivi.png" alt="adress_otzivi.png"></div>Отзывы: <a href="" class="plus_otziv">+6</a> <a class="minus_otziv">-0</a></div>
				</div>
			</div>
			<div class="main_catalog_bicegli">
				<div class="main_catalog_bicegli1">
					<div class="catalog_foto">
						<a href=""><img src="img/images/Felt_Zipp_900.png" alt="Merida_RX_567.png"></a>
					</div>
					<div class="catalog_opisanie">
						<a href="" class="opisanie_name">Felt Zipp 900 new</a>
						<div class="catalog_p"><div><img src="img/images/cross_cantri.png" alt="16skorostey.png"></div>Кросс-кантри</div>
						<div class="catalog_p"><div><img src="img/images/colesa_26.png" alt="16skorostey.png"></div>26 колеса</div>
						<div class="catalog_p"><div><img src="img/images/rama_18.png" alt="16skorostey.png"></div>18 рама</div>
						<div class="catalog_p"><div><img src="img/images/tormoza.png" alt="16skorostey.png"></div>Дисковые тормоза</div>
					</div>
					<div class="catalog_zabronirovat">
						<div class="catalog_zabronirovat_prise">250 
							<span class="glyphicon glyphicon-ruble"> / час</span>
							    
						</div>
						<div class="time_catalog"><b>130</b> <span class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2 часов</div>
						<div class="time_catalog"><b>700</b> <span class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в день</div>
						<div class="time_catalog"><b>2000</b> <span class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в неделю</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
				</div>
				<div class="main_catalog_bicegli2">
					<div class="adres_block"><div><img src="img/images/adress.png" alt="adress_otzivi.png"></div>ул. Ленинский проспект д.76/2 стр.8</div>
					<div class="adres_block"><div><img src="img/images/adress_procat.png" alt="adress_procat.png"></div>Студия проката «2 КОЛЕСА»</div>
					<div class="adres_block"><div><img src="img/images/adress_otzivi.png" alt="adress_otzivi.png"></div>Отзывы: <a href="" class="plus_otziv">+6</a> <a class="minus_otziv">-0</a></div>
				</div>
			</div>
			<div class="main_catalog_bicegli">
				<div class="main_catalog_bicegli1">
					<div class="catalog_foto">
						<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
					</div>
					<div class="catalog_opisanie">
						<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						<div class="catalog_p"><div><img src="img/images/16skorostey.png" alt="16skorostey.png"></div>16 скоростей</div>
						<div class="catalog_p"><div><img src="img/images/dvyhpodves.png" alt="16skorostey.png"></div>Двухподвес</div>
						<div class="catalog_p"><div><img src="img/images/size_opisanie.png" alt="16skorostey.png"></div>S размер</div>
						<div class="catalog_p"><div><img src="img/images/tormoza.png" alt="16skorostey.png"></div>Дисковые тормоза</div>
					</div>
					<div class="catalog_zabronirovat">
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble" > / час</span>
							    
						</div>
						<div class="time_catalog"><b>130</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2 часов</div>
						<div class="time_catalog"><b>700</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;в день</div>
						<div class="time_catalog"><b>2000</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;в неделю</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
				</div>
				<div class="main_catalog_bicegli2">
					<div class="adres_block"><div><img src="img/images/adress.png" alt="adress_otzivi.png"></div>ул. Ленинский проспект д.76/2 стр.8</div>
					<div class="adres_block"><div><img src="img/images/adress_procat.png" alt="adress_procat.png"></div>Студия проката «2 КОЛЕСА»</div>
					<div class="adres_block"><div><img src="img/images/adress_otzivi.png" alt="adress_otzivi.png"></div>Отзывы: <a href="" class="plus_otziv">+6</a> <a class="minus_otziv">-0</a></div>
				</div>
			</div>
			<div class="main_catalog_bicegli">
				<div class="main_catalog_bicegli1">
					<div class="catalog_foto">
						<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
					</div>
					<div class="catalog_opisanie">
						<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						<div class="catalog_p"><div><img src="img/images/16skorostey.png" alt="16skorostey.png"></div>16 скоростей</div>
						<div class="catalog_p"><div><img src="img/images/dvyhpodves.png" alt="16skorostey.png"></div>Двухподвес</div>
						<div class="catalog_p"><div><img src="img/images/size_opisanie.png" alt="16skorostey.png"></div>S размер</div>
						<div class="catalog_p"><div><img src="img/images/tormoza.png" alt="16skorostey.png"></div>Дисковые тормоза</div>
					</div>
					<div class="catalog_zabronirovat">
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble" > / час</span>
							    
						</div>
						<div class="time_catalog"><b>130</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2 часов</div>
						<div class="time_catalog"><b>700</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;в день</div>
						<div class="time_catalog"><b>2000</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;в неделю</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
				</div>
				<div class="main_catalog_bicegli2">
					<div class="adres_block"><div><img src="img/images/adress.png" alt="adress_otzivi.png"></div>ул. Ленинский проспект д.76/2 стр.8</div>
					<div class="adres_block"><div><img src="img/images/adress_procat.png" alt="adress_procat.png"></div>Студия проката «2 КОЛЕСА»</div>
					<div class="adres_block"><div><img src="img/images/adress_otzivi.png" alt="adress_otzivi.png"></div>Отзывы: <a href="" class="plus_otziv">+6</a> <a class="minus_otziv">-0</a></div>
				</div>
			</div>
			<div class="main_catalog_bicegli">
				<div class="main_catalog_bicegli1">
					<div class="catalog_foto">
						<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
					</div>
					<div class="catalog_opisanie">
						<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						<div class="catalog_p"><div><img src="img/images/16skorostey.png" alt="16skorostey.png"></div>16 скоростей</div>
						<div class="catalog_p"><div><img src="img/images/dvyhpodves.png" alt="16skorostey.png"></div>Двухподвес</div>
						<div class="catalog_p"><div><img src="img/images/size_opisanie.png" alt="16skorostey.png"></div>S размер</div>
						<div class="catalog_p"><div><img src="img/images/tormoza.png" alt="16skorostey.png"></div>Дисковые тормоза</div>
					</div>
					<div class="catalog_zabronirovat">
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble" > / час</span>
							    
						</div>
						<div class="time_catalog"><b>130</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2 часов</div>
						<div class="time_catalog"><b>700</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;в день</div>
						<div class="time_catalog"><b>2000</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;в неделю</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
				</div>
				<div class="main_catalog_bicegli2">
					<div class="adres_block"><div><img src="img/images/adress.png" alt="adress_otzivi.png"></div>ул. Ленинский проспект д.76/2 стр.8</div>
					<div class="adres_block"><div><img src="img/images/adress_procat.png" alt="adress_procat.png"></div>Студия проката «2 КОЛЕСА»</div>
					<div class="adres_block"><div><img src="img/images/adress_otzivi.png" alt="adress_otzivi.png"></div>Отзывы: <a href="" class="plus_otziv">+6</a> <a class="minus_otziv">-0</a></div>
				</div>
			</div>
			<div class="main_catalog_bicegli">
				<div class="main_catalog_bicegli1">
					<div class="catalog_foto">
						<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
					</div>
					<div class="catalog_opisanie">
						<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						<div class="catalog_p"><div><img src="img/images/16skorostey.png" alt="16skorostey.png"></div>16 скоростей</div>
						<div class="catalog_p"><div><img src="img/images/dvyhpodves.png" alt="16skorostey.png"></div>Двухподвес</div>
						<div class="catalog_p"><div><img src="img/images/size_opisanie.png" alt="16skorostey.png"></div>S размер</div>
						<div class="catalog_p"><div><img src="img/images/tormoza.png" alt="16skorostey.png"></div>Дисковые тормоза</div>
					</div>
					<div class="catalog_zabronirovat">
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble" > / час</span>
							    
						</div>
						<div class="time_catalog"><b>130</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2 часов</div>
						<div class="time_catalog"><b>700</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;в день</div>
						<div class="time_catalog"><b>2000</b> <span class="glyphicon glyphicon-ruble" ></span>&nbsp;&nbsp;в неделю</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
				</div>
				<div class="main_catalog_bicegli2">
					<div class="adres_block"><div><img src="img/images/adress.png" alt="adress_otzivi.png"></div>ул. Ленинский проспект д.76/2 стр.8</div>
					<div class="adres_block"><div><img src="img/images/adress_procat.png" alt="adress_procat.png"></div>Студия проката «2 КОЛЕСА»</div>
					<div class="adres_block"><div><img src="img/images/adress_otzivi.png" alt="adress_otzivi.png"></div>Отзывы: <a href="" class="plus_otziv">+6</a> <a class="minus_otziv">-0</a></div>
				</div>
			</div>
		</div>
		<!-- main_catalog end-->	
	</div>
	<!-- right block filter end-->
		
	</div>
	<!-- Main block filter end-->
	<div class="container container_1200 text_center">
		<button type="button" class="btn echo_predlogeniy">
			Еще 20 предложений 
		</button>
	</div>
	
<div class="page_buffer"></div> <!-- pressing footer empty block -->
</div>	<!-- pressing footer end -->	
<!-- footer -->
	<footer>
		<div class="container container_1200">
			<ul class="nav nav-pills footer_main_menu">
				<li class="active"><a href="#">Главная</a></li>
				<li><a href="#">О проекте</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Безопасность</a></li>
				<li><a href="#">Соглашение</a></li>
				<li><a href="#">Реклама</a></li>
				<li><a href="#">Полезное</a></li>
				<li><a href="#">Структура</a></li>
			</ul>
			<div class="podpishites">
				<label for="podpis">Подпишись</label>
				 <input placeholder="Ваш e-mail" id="podpis" type="text" class="form-control">
				 <span class="airplane_icon" ></span>
			 </div>
			 <div class="logo_small">
				<a href=""><img src="img/logo_small.png" alt="logo_small.png"></a>
				<p>&copy; 2016 Непеш.com Все права защищены</p>
			 </div>
			<ul class="nav nav-pills footer_navbar_right">
				<li><a href="#"><img src="img/f.png" alt="facebook"></a></li>
				<li><a href="#"><img src="img/tv.png" alt="twitter"></a></li>
				<li><a href="#"><img src="img/g.png" alt="g+"></a></li>
				<li><a href="#"><img src="img/vk.png" alt="vk"></a></li>
				<li><a href="#"><img src="img/y.png" alt="youtube"></a></li>
			</ul>
		</div>		
	</footer>
<!-- footer end -->
	
	

	
<script src='lib/jquery/jquery.js'></script>
<!--<script src='lib/bootstrap/js/bootstrap.js'></script>-->
<script src='lib/angular/angular.js'></script>
<script src='lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>
<script src='lib/checklist-model/checklist-model.js'></script>
<script src='lib/ui-select/select.js'></script>
<script src='lib/icheck-2.x/icheck.js'></script>
<script src='lib/bootstrap-slider/bootstrap-slider.js'></script>
<script src='lib/angular-bootstrap-slider/slider.js'></script>






<script type='text/javascript'>
  var app = angular.module('app', ['ui.bootstrap', 'ui.select', 'checklist-model', 'ui.bootstrap-slider'])
  
  
  app.controller('MainCtrl', ['$scope', '$timeout', '$uibModal',
    function MainCtrl($scope, $timeout, $uibModal) {
      var s = $scope.s = {}
      
      
      s.things = [
        {id: 1, name: 'foo'},
        {id: 2, name: 'bar'},
        {id: 3, name: 'baz'},
        {id: 4, name: 'qux'},
        {id: 5, name: 'quux'},
        {id: 6, name: 'corge'},
        {id: 7, name: 'grault'},
      ]
      
      
      s.openModal = function openModal($event) {
        return $uibModal.open({
          templateUrl: 'confirmationModalTempl',
          controller: 'ModalCtrl as s',
        })
          .result
          
          .then(
            res => {if (res === 'yes') s.modalResult = 'yes'},
            res => {s.modalResult = 'no'}
          )
      }
      
      
      $timeout(function timeout() {
        $('input.-icheck').icheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
        })
      })
    },
  ])
  
  
  app.controller('ModalCtrl', [
    '$scope', '$uibModalInstance',
    
    function ConfirmationModalCtrl($scope, $uibModalInstance) {
      const s = this
      
      s.yes = () => $uibModalInstance.close('yes')
      s.cancel = () => $uibModalInstance.dismiss()
    },
  ])
</script>
</body>
</html>
