{% extends 'base.html' %}
{% load hitcount_tags %}
{% block header_search %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}

	<div class="container container_1200"">
		<hr>
	</div>

	<!-- block_registr -->
	<div class="container container_1200" id="registration">
		<div class="block_registr">
			<div class="text-center registr">Вход</div>
				<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                          {% csrf_token %}

						<div class="form-group">
								<input type="email" name="{{ form.username.name }}" class="col-xs-10 form-control" id="inputEmail" placeholder="Электронная почта">
                                <p>{{ form.email.errors.as_text }}</p>
						</div>

						<div class="form-group">
								<input type="password" name="{{ form.password.name }}" class="col-xs-10 form-control" id="inputPassword" placeholder="Пароль">
                            <p>{{ form.password1.errors.as_text }}</p>
						</div>

						<div>
							<button type="submit" class="btn registr_button">
								Вход
							</button>
						</div>
						<div class="text-left">
							<p>Регистрируясь, я подтверждаю своё согласие с условиями <a href="" class="sohlahenija">пользовательского соглашения</a></p>
						</div>
						<div class="text-center">
							<p class="p-ili">или</p>
						</div>
            <input type="hidden" name="next" value="{% if request.user.is_studio %}{% url 'studio_profile' %}{% else %}{% url 'profile' %}{% endif %}">
				</form>
				<div class="col-xs-12 text-center">
					<div class="btn-group" role="group">
					  <div class="pull-left -social -fb"><a href="{% url 'social:begin' 'facebook' %}"><img src="/static/img/social/fb.png" alt="fb"></a></div>
					  <div class="pull-left -social -tw"><a href="{% url 'social:begin' 'twitter' %}"><img src="/static/img/social/tw.png" alt="tw"></a></div>
					  <div class="pull-left -social -gplus"><a href=""><img src="/static/img/social/gplus.png" alt="gplus"></a></div>
					  <div class="pull-left -social -vk"><a href="{% url 'social:begin' 'vk-oauth2' %}"><img src="/static/img/social/vk.png" alt="vk"></a></div>
					  <div class="pull-left -social -yt"><a href=""><img src="/static/img/social/yt.png" alt="yt"></a></div>
					</div>
				</div>
		</div>
    </div>
	<!-- block_registr end -->
{% endblock %}
