{% extends 'base.html' %}
{% block header_search %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}

  <div class="container_1200 hr_border_top">
    <hr>
  </div>

  <div class="container container_1200 Profile">
    <p>Личный кабинет <span>/</span></p>
    <p>Профиль пользователя</p>
  </div>

  <div class="Private_rental_office container container_1200">
    <div class="left_sitebar">
      {% include 'profile/_menu.html' %}
      <div class="How_use_resource">
        <p>Как пользоваться ресурсом?</p>
        <div class="How_use_resource_video">
          <iframe src="https://www.youtube.com/embed/GwPK4_8WjyI" allowfullscreen=""></iframe>
        </div>
        <div class="How_use_resource_video">
          <iframe src="https://www.youtube.com/embed/f5ma_Kr0t4g" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
    <!-- Personal data -->
    <div class="Personal_data" id="Personal">
      <div class="Personal_data_header">
        {% if view == 'personal' %}
          <p>Личные данные</p>
        {% else %}
          <a href="{% url 'profile_personal' %}">Личные данные</a>
        {% endif %}

        {% if view == 'password' %}
          <p>Замена пароля</p>
        {% else %}
          <a href="{% url 'profile_password' %}">Замена пароля</a>
        {% endif %}

        {% if view == 'delete' %}
          <p>Удалить аккаунт</p>
        {% else %}
          <a href="{% url 'profile_delete' %}">Удалить аккаунт</a>
        {% endif %}
      </div>
      <div class="Personal_data_form">
        {% with "profile/"|add:view|add:'.html' as template %}
          {% include template %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
