﻿{% extends 'base.html' %}
{% load hitcount_tags staticfiles %}
{% block header_search %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}

  <div class="container container_1200">
    <hr>
  </div>

  <!-- block_registr -->
  <div class="container container_1200" id="registration">
    <div class="block_registr">
      <div class="text-center registr">Регистрация</div>
      <form method="post" action="">

        {% csrf_token %}
        <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->

        <div class="form-group">
          <input type="text" name="{{ form.first_name.name }}" class="col-xs-10 form-control" id="firstName"
                 placeholder="Ваше имя">
          <p>{{ form.first_name.errors.as_text }}</p>

        </div>

        <div class="form-group">
          <input type="email" name="{{ form.email.name }}" class="col-xs-10 form-control" id="inputEmail"
                 placeholder="Электронная почта">
          <p>{{ form.email.errors.as_text }}</p>
        </div>

        <div class="form-group">
          <input type="tel" name="{{ form.phonenumber.name }}" class="col-xs-10 form-control" id="phoneNumber"
                 placeholder="Номер телефона">
{#          <a href="" class="tell_icon"><img src="{% static 'img/tell.png' %}" alt="tell.png"></a>#}
          <p class="tell_p">Только мобильные номера телефонов</p>
          <p>{{ form.phonenumber.errors.as_text }}</p>
        </div>
        <div class="form-group">
          <input type="password" name="{{ form.password1.name }}" class="col-xs-10 form-control" id="inputPassword"
                 placeholder="Пароль">
          <p>{{ form.password1.errors.as_text }}</p>
        </div>
        <div class="form-group first">
          <input type="password" name="{{ form.password2.name }}" class="col-xs-10 form-control"
                 placeholder="Eще раз пароль">
          <p>{{ form.password2.errors.as_text }}</p>
        </div>
        {#						<div class="form-group two">#}
        {#								<img class="validator_img" src="img/validator.png" alt="validator">#}
        {#								<img class="validator_triangle" src="img/validator_triangle.png" alt="validator_triangle">#}
        {#								<input type="text" class="form-control">#}
        {#						</div>#}
        {#						<div class="checkbox_1_label">#}
        {#							<input type="checkbox" value="agree" class="checkbox_1" id="input-checkbox">#}
        {#							<label for="input-checkbox" class="checkbox-inline label-checkbox">#}
        {#								Я хочу получать информационные сообщения от Непеш.ком#}
        {#							</label>#}
        {#						</div>#}
        <div>
          <button type="submit" class="btn registr_button">
            Зарегистрироваться
          </button>
        </div>
        <div class="text-left">
          <p>Регистрируясь, я подтверждаю своё согласие с условиями <a href="" class="sohlahenija">пользовательского
            соглашения</a></p>
        </div>
        {#						<div class="text-center">#}
        {#							<p class="p-ili">или</p>#}
        {#						</div>#}

      </form>
      <div class="col-xs-12 text-center">
        <div class="btn-group" role="group">
          <div class="pull-left -social -fb"><a href=""><img src="{% static 'img/social/fb.png' %}" alt="fb"></a></div>
          <div class="pull-left -social -tw"><a href=""><img src="{% static 'img/social/tw.png' %}" alt="tw"></a></div>
          <div class="pull-left -social -gplus"><a href=""><img src="{% static 'img/social/gplus.png' %}"
                                                                alt="gplus"></a></div>
          <div class="pull-left -social -vk"><a href=""><img src="{% static 'img/social/vk.png' %}" alt="vk"></a></div>
          <div class="pull-left -social -yt"><a href=""><img src="{% static 'img/social/yt.png' %}" alt="yt"></a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- block_registr end -->
{% endblock %}
