{% extends 'base.html' %}
{% block header_search %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}

  <div class="container_1200 hr_border_top">
    <hr>
  </div>


  <div class="container container_1200 Profile">
    <p>Личный кабинет <span>/</span></p>
    <p>Профиль пользователя</p>
  </div>

  <div class="Private_rental_office container container_1200" id="p_rental">
    <div class="left_sitebar">
      {% include 'profile/_menu.html' %}

{#      <div class="How_use_resource">#}
{#        <p>Как пользоваться ресурсом?</p>#}
{#        <div class="How_use_resource_video">#}
{#          <iframe src="https://www.youtube.com/embed/GwPK4_8WjyI" allowfullscreen=""></iframe>#}
{#        </div>#}
{#        <div class="How_use_resource_video">#}
{#          <iframe src="https://www.youtube.com/embed/f5ma_Kr0t4g" allowfullscreen=""></iframe>#}
{#        </div>#}
{#      </div>#}
    </div>
    <div class="Personal_data">
      {% block studio_tabs %}
        <div class="Personal_data_header">
          {% for studio in studios %}
            {% if studio.pk|stringformat:"i" == object.pk %}
              <p>{{ studio.name|slice:'30' }}</p>
            {% else %}
              <a href="{% url 'studio_profile' pk=studio.pk %}">{{ studio.name|slice:'30' }}</a>
            {% endif %}
          {% endfor %}
          <a href="{% url 'studio_profile_add' %}">Добавить Филиал</a>
        </div>
      {% endblock %}
      {% block profile_content %}{% endblock %}
    </div>
    {% block velos %}{% endblock %}
    <!-- Rolled_Profile end -->
    <div class="page_buffer"></div> <!-- pressing footer empty block -->
  </div>
{% endblock %}
