{% load staticfiles %}
{% load widget_tweaks %}




<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="Cupidus биржа спроса товаров и услуг" />
		<meta name="author" content="Cupidus" />
		<link rel="icon" href="{% static "home/favicon.ico" %}" />

		<title>Купидус&nbsp;&mdash; биржа спроса товаров и&nbsp;услуг</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

		<!-- Cupidus styles -->
		<link href="{% static "home/css/cupidus_styles.css" %}" rel="stylesheet">
		<script src="{% static "angular/angular.js" %}"></script>
		<script src="{% static "djangular/js/django-angular.js" %}"></script>
		<script src="{% static "angular-ui-mask/dist/mask.min.js" %}"></script>
		<script src="{% static "angular-sanitize/angular-sanitize.min.js" %}"></script>
		<script src="{% static "angular-ui-event/dist/event.js" %}"></script>
		<script src="{% static "angular-ui-select/dist/select.js" %}"></script>
		<script src="{% static "angular-animate/angular-animate.js" %}"></script>

		<script src="{% static "angular-bootstrap/ui-bootstrap-tpls.js" %}"></script>

		<script src="{% static "home/js/app.js" %}"></script>
		<link rel="stylesheet" href="{% static "angular-ui-select/dist/select.css" %}">
</head>

	<body ng-app='example'>
		<!-- Top navigation panel -->
		<header class="pos-f-t">

			<!-- Hidden menu -->
			<div class="collapse hidden-lg-up" id="navbar-header">
				<div class="container-fluid bg-inverse p-a-1">
					<a href="#" data-toggle="modal" data-target="#modal_order_buy"><i class="fa fa-fw fa-shopping-cart"></i>&nbsp; оставить заявку</a><br />
					<a href="#" data-toggle="modal" data-target="#modal_order_buy"><i class="fa fa-fw fa-money"></i>&nbsp; хочу продать</a><br />
					<a href="pages/static.html"><i class="fa fa-fw fa-question"></i>&nbsp; куда я попал</a><br />
					<a href="#" data-toggle="modal" data-target="#modal_check_in"><i class="fa fa-fw fa-user-plus"></i>&nbsp; зарегистрироваться</a><br />
					<a href="#" data-toggle="modal" data-target="#modal_sign_in"><i class="fa fa-fw fa-sign-in"></i>&nbsp; войти</a>
					<hr />
					<i class="fa fa-fw fa-credit-card"></i>&nbsp; выбери категорию заявок:
					<select class="form-control" id="exampleSelect1">
						<option>все категории</option>
						<option>абонементы в фитнес-клубы</option>
						<option>абонементы в йога-центры</option>
						<option>абонементы в спа-салоны</option>
						<option>мили Аэрофлота</option>
						<option>мили S7</option>
						<option>подарочные сертификаты одежды</option>
					</select>
				</div>
			</div>

			<!-- Main menu -->
			<nav class="navbar navbar-dark bg-faded navbar-static-top">
				<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar-header">&#9776;</button>
				<a class="navbar-brand" href="index.html">&nbsp;</a>
				<a id="qwe" class="nav-link m-r-1" href="#" data-toggle="modal" data-target="#modal_city"><i class="fa fa-map-marker" ></i> <span data-toggle="location_alert" title="твой город&nbsp;&mdash; Петропавловск-Камчатский?" data-placement="bottom">Петропавловск-Камчатский</span></a>
				<div class="container collapse navbar-toggleable-md">
					<ul class="nav navbar-nav">
						<li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#modal_order_buy"><i class="fa fa-shopping-cart"></i> оставить заявку</a></li>
						<li class="nav-item hidden-lg-down"><a class="nav-link" href="#" data-toggle="modal" data-target="#modal_order_buy"><i class="fa fa-money"></i> хочу продать</a></li>
						<li class="nav-item pull-md-right"><a class="nav-link" href="#" data-toggle="modal" data-target="#modal_sign_in"><i class="fa fa-sign-in"></i> войти</a></li>
						<li class="nav-item pull-md-right"><a class="nav-link" href="#" data-toggle="modal" data-target="#modal_check_in"><i class="fa fa-user-plus"></i> зарегистрироваться</a></li>
						<li class="nav-item pull-md-right" id="where_am_i"><a class="nav-link" href="pages/static.html"><i class="fa fa-question"></i> куда я попал</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<!-- Main page header -->
		<div class="container-fluid" id="main_head_01">
			<div class="jumbotron">
				<h1>здесь ты можешь заказывать услуги и товары по собственным ценам</h1>
				<p class="lead">например, закажи фитнес-абонемент, или бонусные мили</p>
				<a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#modal_order_buy">подать заявку &raquo;</a>
			</div>
		</div>

		<!-- Page content -->
		<div class="container-fluid">
				<!-- Side column -->
			<aside class="col-md-3 hidden-md-down">

				<!-- Mini-map -->
				<div class="card"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=RYtWGkPp5v2yJ1ej8PhIS190cIl80czW&height=300&lang=ru_RU&sourceType=constructor"></script></div>

				<!-- Categories -->
				<div class="card">
					<h2 class="card-header m-b-0">выбери категорию</h2>
					<div class="list-group">
						<button type="button" class="list-group-item font-weight-bold"><span class="label label-primary label-pill pull-xs-right">168</span>все категории</button>
						<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">16</span>мили Аэрофлота</button>
						<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">14</span>абонементы в фитнес-клубы</button>
						<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">11</span>подарочные сертификаты одежды</button>
						<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">10</span>абонементы в йога-центры</button>
						<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">8</span>абонементы в спа-салоны</button>
						<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">5</span>мили S7</button>
						<div class="collapse" id="collapse_categ">
							<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">4</span>земельные участки</button>
							<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">4</span>автомобили</button>
							<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">2</span>парковки</button>
							<button type="button" class="list-group-item"><span class="label label-default label-pill pull-xs-right">1</span>абонементы в кино</button>
						</div>
						<button type="button" class="list-group-item text-xs-center" data-toggle="collapse" data-target="#collapse_categ" aria-expanded="false" aria-controls="collapse_categ"><i class="fa fa-chevron-down"></i> посмотреть все <i class="fa fa-chevron-down"></i></button>
					</div>
				</div>

				<!-- Filters -->
				<div class="card">
					<h2 class="card-header m-b-0">фильтры заявок</h2>
					<ul class="list-group">
						<li class="list-group-item">
							<select class="form-control">
								<option>станция метро</option>
									<option>Авиамоторная</option>
									<option>Автозаводская</option>
									<option>Академическая</option>
									<option>Александровский сад</option>
									<option>Алексеевская</option>
									<option>Алма-Атинская</option>
									<option>Алтуфьево</option>
									<option>Аннино</option>
									<option>Арбатская</option>
									<option>Аэропорт</option>
									<option>Бабушкинская</option>
									<option>Багратионовская</option>
									<option>Баррикадная</option>
									<option>Бауманская</option>
									<option>Беговая</option>
									<option>Белорусская</option>
									<option>Беляево</option>
									<option>Бибирево</option>
									<option>Библиотека им. Ленина</option>
									<option>Битцевский парк</option>
									<option>Борисово</option>
									<option>Боровицкая</option>
							</select>
						</li>
						<li class="list-group-item">
							<div class="checkbox">
								<label class="c-input c-checkbox">
									<input type="checkbox" />
									<span class="c-indicator"></span>
									должен быть бассейн
								</label>
							</div>
						</li>
					</ul>
				</div>
			</aside>

			<!-- Page main content -->
			<div class="col-lg-9 p-x-0 text-xs-center">

				<!-- Sorting block -->
				<div class="text-sm-right hidden-md-down p-r-3"><span class="brand_color">сортировать заявки:</span> по цене <button type="button" class="btn btn-primary-outline btn-sm"><i class="fa fa-long-arrow-up"></i></button> <button type="button" class="btn btn-primary-outline btn-sm"><i class="fa fa-long-arrow-down"></i></button> по дате <button type="button" class="btn btn-primary-outline btn-sm"><i class="fa fa-long-arrow-up"></i></button> <button type="button" class="btn btn-primary-outline btn-sm"><i class="fa fa-long-arrow-down"></i></button></div>

				<!-- Map button -->
				<div class="text-sm-center hidden-lg-up"><a id="orders_block_collapse" class="btn btn-secondary" href="#" role="button"><i class="fa fa-map-o"></i> посмотреть на карте</a></div>

				<div class="collapse m-t-1" id="collapsed_map"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=RYtWGkPp5v2yJ1ej8PhIS190cIl80czW&height=720&lang=ru_RU&sourceType=constructor"></script></div>

				<!-- Orders view block -->
				<div class="collapse in" id="orders_block">
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Артём</span><span class="order_type">куплю абонемент</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">в спа-салон</span><span class="order_price">за 44 414 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Павелецкая</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 23.02.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Владислав</span><span class="order_type">куплю скидку</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на одежду</span><span class="order_price">за 5 778 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Площадь Ильича</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 18.02.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Павел</span><span class="order_type">куплю карту</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на косметику</span><span class="order_price">за 90 197 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Речной вокзал</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 13.06.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Матвей</span><span class="order_type">куплю абонемент</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">в спа-салон</span><span class="order_price">за 14 499 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Проспект Вернадского</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 14.03.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Александра</span><span class="order_type">куплю мили</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">S9</span><span class="order_price">за 69 905 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Тропарёво</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 26.05.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Михаил</span><span class="order_type">куплю карту</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на аксессуары</span><span class="order_price">за 60 503 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Полянка</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 17.04.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Яна</span><span class="order_type">куплю скидку</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на одежду</span><span class="order_price">за 68 795 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Шаболовская</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 30.08.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Алексей</span><span class="order_type">куплю скидку</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на аксессуары</span><span class="order_price">за 47 083 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Площадь революции</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 07.11.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Надежда</span><span class="order_type">куплю мили</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">Аэрофлота</span><span class="order_price">за 92 316 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Ясенево</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 17.11.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Ксения</span><span class="order_type">куплю абонемент</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">в спа-салон</span><span class="order_price">за 15 108 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Тимирязевская</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 02.12.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Тимур</span><span class="order_type">куплю скидку</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на детские товары</span><span class="order_price">за 11 520 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Римская</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 02.08.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Алена</span><span class="order_type">куплю абонемент</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">в фитнес-клуб</span><span class="order_price">за 82 438 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Университет</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 06.10.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Марина</span><span class="order_type">куплю карту</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на одежду</span><span class="order_price">за 96 421 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Шоссе энтузиастов</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 18.04.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Дарья</span><span class="order_type">куплю скидку</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на одежду</span><span class="order_price">за 81 037 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Сухаревская</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 04.07.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Кира</span><span class="order_type">куплю скидку</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на аксессуары</span><span class="order_price">за 6 359 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Шипиловская</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 06.09.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Анна</span><span class="order_type">куплю карту</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на одежду</span><span class="order_price">за 66 743 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Таганская</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 08.01.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Светлана</span><span class="order_type">куплю сертификат</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на одежду</span><span class="order_price">за 54 531 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Щукинская</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 07.07.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>
					<div class="order_card">
						<span class="card_user_name pull-xs-left">Егор</span><span class="order_type">куплю скидку</span>
						<div class="card_stripe"><span class="fw-300 pull-xs-left">на косметику</span><span class="order_price">за 89 878 &#8381;</span></div>
						<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Планерная</p>
						<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 19.03.2015</span>
						<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
					</div>

					<!-- Collapsed content -->
					<div class="collapse" id="collapse_orders">
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Маргарита</span><span class="order_type">куплю абонемент</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">в тренажёрный зал</span><span class="order_price">за 29 694 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Царицыно</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 16.11.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Тимофей</span><span class="order_type">куплю сертификат</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">на электронику</span><span class="order_price">за 43 352 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Пятницкое шоссе</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 14.12.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Арина</span><span class="order_type">куплю сертификат</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">на косметику</span><span class="order_price">за 44 933 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Тушинская</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 21.12.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Данила</span><span class="order_type">куплю мили</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">S8</span><span class="order_price">за 81 131 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Смоленская</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 10.07.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Вероника</span><span class="order_type">куплю скидку</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">на детские товары</span><span class="order_price">за 12 624 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Улица 1905 года</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 20.02.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Алиса</span><span class="order_type">куплю скидку</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">на аксессуары</span><span class="order_price">за 92 459 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Улица Старокачаловская</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 25.01.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Юлия</span><span class="order_type">куплю скидку</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">на электронику</span><span class="order_price">за 14 713 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Улица академика Янгеля</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 04.05.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Вадим</span><span class="order_type">куплю скидку</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">на косметику</span><span class="order_price">за 95 407 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Савёловская</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 21.11.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
						<div class="order_card">
							<span class="card_user_name pull-xs-left">Ева</span><span class="order_type">куплю карту</span>
							<div class="card_stripe"><span class="fw-300 pull-xs-left">на аксессуары</span><span class="order_price">за 55 783 &#8381;</span></div>
							<p class="order_region text-xs-left"><i class="fa fa-map-marker"></i> м. Щелковская</p>
							<span class="brand_color pull-xs-left font-italic">жду предложений</span><span class="order_date"><span class="hidden-xs-down">заявка</span> от 22.07.2015</span>
							<a class="btn btn-secondary" href="#" role="button" data-toggle="modal" data-target="#modal_order_details">подробнее</a>
						</div>
					</div>

				<!-- Load more button -->
				<button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapse_orders" aria-expanded="false" aria-controls="collapse_orders"><i class="fa fa-chevron-down"></i> загрузить ещё <i class="fa fa-chevron-down"></i></button>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<div class="container-fluid">
				<div class="col-sm-12 col-md-4 col-xl-3">
					<span class="block-m-b"><a class="navbar-brand" href="pages/static.html">&nbsp;</a></span>
					<span>ознакомься с <a href="pages/static.html">договором оферты</a> и <a href="pages/static.html">информацией об оплате</a></span>
				</div>
				<div class="col-lg-2 hidden-lg-down">
					<span class="block-m-b"><img src="{% static "home/pics/payments/visa.png" %}" /><img src="{% static "home/pics/payments/mastercard.png" %}"/></span>
					<span>принимаем к оплате</span>
				</div>
				<div class="col-lg-2 hidden-lg-down">
					<span class="block-m-b"><img src="{% static "home/pics/payments/payanyway.png" %}" /></span>
					<span>оплата через <a href="http://payanyway.ru/" target="_blank">PayAnyWay</a></span>
				</div>
				<div class="col-sm-12 col-md-4 col-xl-3">
					<h3 class="text-nowrap block-m-b m-b-0">+7&nbsp;925&nbsp;548 83 93</h3>
					<span><a href="pages/static.html">контакты</a></span>
				</div>
				<div class="col-sm-12 col-md-4 col-xl-2">
					<h5 class="block-m-b m-b-0"><a href="https://elba.kontur.ru/card/cupidus" target="_blank">ООО &laquo;Купидус&raquo;</a></h5>
					<span class="text-nowrap">
						ОГРН 1155243000681<br />
						ИНН 5227001167
					</span>
				</div>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript	================================================== -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="{% static "home/js/tether.min.js" %}"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">





		<script>window.jQuery || document.write('<script src="{% static "home/js/jquery.min.js" %}"><\/script>')</script>

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{% static "home/js/ie10-viewport-bug-workaround.js" %}"></script>

		<!-- Popovers and modals enable scripts -->
		<script type="text/javascript">

			var opening_modal_id = null;
			var modals_array = document.getElementsByClassName("modal");

			$(function () {
				// City choise popover enable script
				$('[data-toggle="location_alert"]').popover({
					html: true,
					content: '<a href="#" id="city_choose_yes">да</a><a id="city_choose_no" href="#" class="m-l-2">выбрать другой город</a>'
				})
				$('[data-toggle="location_alert"]').popover('show');

				// City choise popover links script
				document.getElementById('city_choose_yes').onclick = function() { $('[data-toggle="location_alert"]').popover('hide'); };
				document.getElementById('city_choose_no').onclick = function() { $('[data-toggle="location_alert"]').popover('hide'); $('#modal_city').modal('toggle'); };

				// Modal closing events
				[].forEach.call(modals_array, function (modal_id) { $(modal_id).on('hidden.bs.modal', function () { if (opening_modal_id != null) { $(opening_modal_id).modal('show'); opening_modal_id = null; } }); });
				$('#modal_payment').on('hide.bs.modal', function () { location.href = "pages/profile.html"; });

				// Thanks for order messages modal disable script
				var els = document.getElementsByClassName("thanks_close"); [].forEach.call(els, function (el) { el.onclick =function() { $('#modal_thanks_order').modal('hide'); }; });

				// Thanks for check in modal closing event
				document.getElementById('thanks_check_in_dismiss').onclick =function() { $('#modal_thanks_checkin').modal('hide'); };

				// Map/orders view
				document.getElementById('orders_block_collapse').onclick = function() { $('#orders_block').collapse('toggle'); $('#collapsed_map').collapse('toggle'); };
			});
		</script>


		<!-- Modals -->
		<!-- City choose -->
		<div class="modal fade" id="modal_city" tabindex="-1" role="dialog" aria-labelledby="city_choose" aria-hidden="true">
			<div class="modal-dialog modal-fullscreen" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<div class="col-md-4">
							<h4 class="modal-title" id="city_choose">Москва</h4>
						</div>
						<div class="col-lg-3 hidden-md-down">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Найди свой город">
								<span class="input-group-btn">
									<button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="modal-body">
						<ul>
							<li><h4>А</h4></li>
							<li><a href="#" data-dismiss="modal">Абакан</a></li>
							<li><a href="#" data-dismiss="modal">Альметьевск</a></li>
							<li><a href="#" data-dismiss="modal">Анадырь</a></li>
							<li><a href="#" data-dismiss="modal">Ангарск</a></li>
							<li><a href="#" data-dismiss="modal">Арзамас</a></li>
							<li><a href="#" data-dismiss="modal">Армавир</a></li>
							<li><a href="#" data-dismiss="modal">Артём</a></li>
							<li><a href="#" data-dismiss="modal">Архангельск</a></li>
							<li><a href="#" data-dismiss="modal">Астрахань</a></li>
							<li><a href="#" data-dismiss="modal">Ачинск</a></li>
							<li><h4>Б</h4></li>
							<li><a href="#" data-dismiss="modal">Балаково</a></li>
							<li><a href="#" data-dismiss="modal">Балашиха</a></li>
							<li><a href="#" data-dismiss="modal">Барнаул</a></li>
							<li><a href="#" data-dismiss="modal">Батайск</a></li>
							<li><a href="#" data-dismiss="modal">Белгород</a></li>
							<li><a href="#" data-dismiss="modal">Бердск</a></li>
							<li><a href="#" data-dismiss="modal">Березники</a></li>
							<li><a href="#" data-dismiss="modal">Бийск</a></li>
							<li><a href="#" data-dismiss="modal">Биробиджан</a></li>
							<li><a href="#" data-dismiss="modal">Благовещенск</a></li>
							<li><a href="#" data-dismiss="modal">Братск</a></li>
							<li><a href="#" data-dismiss="modal">Брянск</a></li>
							<li><h4>В</h4></li>
							<li><a href="#" data-dismiss="modal">Великий Новгород</a></li>
							<li><a href="#" data-dismiss="modal">Владивосток</a></li>
							<li><a href="#" data-dismiss="modal">Владикавказ</a></li>
							<li><a href="#" data-dismiss="modal">Владимир</a></li>
							<li><a href="#" data-dismiss="modal">Волгоград</a></li>
							<li><a href="#" data-dismiss="modal">Волгодонск</a></li>
							<li><a href="#" data-dismiss="modal">Волжский</a></li>
							<li><a href="#" data-dismiss="modal">Вологда</a></li>
							<li><a href="#" data-dismiss="modal">Воронеж</a></li>
							<li><h4>Г</h4></li>
							<li><a href="#" data-dismiss="modal">Горно-Алтайск</a></li>
							<li><a href="#" data-dismiss="modal">Грозный</a></li>
							<li><h4>Д</h4></li>
							<li><a href="#" data-dismiss="modal">Дербент</a></li>
							<li><a href="#" data-dismiss="modal">Дзержинск</a></li>
							<li><a href="#" data-dismiss="modal">Димитровград</a></li>
							<li><a href="#" data-dismiss="modal">Домодедово</a></li>
							<li><h4>Е</h4></li>
							<li><a href="#" data-dismiss="modal">Евпатория</a></li>
							<li><a href="#" data-dismiss="modal">Екатеринбург</a></li>
							<li><a href="#" data-dismiss="modal">Елец</a></li>
							<li><a href="#" data-dismiss="modal">Ессентуки</a></li>
							<li><h4>Ж</h4></li>
							<li><a href="#" data-dismiss="modal">Железнодорожный</a></li>
							<li><a href="#" data-dismiss="modal">Жуковский</a></li>
							<li><h4>З</h4></li>
							<li><a href="#" data-dismiss="modal">Златоуст</a></li>
							<li><h4>И</h4></li>
							<li><a href="#" data-dismiss="modal">Иваново</a></li>
							<li><a href="#" data-dismiss="modal">Ижевск</a></li>
							<li><a href="#" data-dismiss="modal">Иркутск</a></li>
							<li><h4>Й</h4></li>
							<li><a href="#" data-dismiss="modal">Йошкар-Ола</a></li>
							<li><h4>К</h4></li>
							<li><a href="#" data-dismiss="modal">Казань</a></li>
							<li><a href="#" data-dismiss="modal">Калининград</a></li>
							<li><a href="#" data-dismiss="modal">Калуга</a></li>
							<li><a href="#" data-dismiss="modal">Каменск-Уральский</a></li>
							<li><a href="#" data-dismiss="modal">Камышин</a></li>
							<li><a href="#" data-dismiss="modal">Каспийск</a></li>
							<li><a href="#" data-dismiss="modal">Кемерово</a></li>
							<li><a href="#" data-dismiss="modal">Керчь</a></li>
							<li><a href="#" data-dismiss="modal">Киров</a></li>
							<li><a href="#" data-dismiss="modal">Кисловодск</a></li>
							<li><a href="#" data-dismiss="modal">Ковров</a></li>
							<li><a href="#" data-dismiss="modal">Коломна</a></li>
							<li><a href="#" data-dismiss="modal">Комсомольск-на-Амуре</a></li>
							<li><a href="#" data-dismiss="modal">Копейск</a></li>
							<li><a href="#" data-dismiss="modal">Королёв</a></li>
							<li><a href="#" data-dismiss="modal">Кострома</a></li>
							<li><a href="#" data-dismiss="modal">Красногорск</a></li>
							<li><a href="#" data-dismiss="modal">Краснодар</a></li>
							<li><a href="#" data-dismiss="modal">Красноярск</a></li>
							<li><a href="#" data-dismiss="modal">Курган</a></li>
							<li><a href="#" data-dismiss="modal">Курск</a></li>
							<li><a href="#" data-dismiss="modal">Кызыл</a></li>
							<li><h4>Л</h4></li>
							<li><a href="#" data-dismiss="modal">Липецк</a></li>
							<li><a href="#" data-dismiss="modal">Люберцы</a></li>
							<li><h4>М</h4></li>
							<li><a href="#" data-dismiss="modal">Магадан</a></li>
							<li><a href="#" data-dismiss="modal">Магас</a></li>
							<li><a href="#" data-dismiss="modal">Магнитогорск</a></li>
							<li><a href="#" data-dismiss="modal">Майкоп</a></li>
							<li><a href="#" data-dismiss="modal">Махачкала</a></li>
							<li><a href="#" data-dismiss="modal">Миасс</a></li>
							<li><a href="#" data-dismiss="modal">Москва</a></li>
							<li><a href="#" data-dismiss="modal">Мурманск</a></li>
							<li><a href="#" data-dismiss="modal">Муром</a></li>
							<li><a href="#" data-dismiss="modal">Мытищи</a></li>
							<li><h4>Н</h4></li>
							<li><a href="#" data-dismiss="modal">Набережные Челны</a></li>
							<li><a href="#" data-dismiss="modal">Назрань</a></li>
							<li><a href="#" data-dismiss="modal">Нальчик</a></li>
							<li><a href="#" data-dismiss="modal">Нарьян-Мар</a></li>
							<li><a href="#" data-dismiss="modal">Находка</a></li>
							<li><a href="#" data-dismiss="modal">Невинномысск</a></li>
							<li><a href="#" data-dismiss="modal">Нефтекамск</a></li>
							<li><a href="#" data-dismiss="modal">Нефтеюганск</a></li>
							<li><a href="#" data-dismiss="modal">Нижневартовск</a></li>
							<li><a href="#" data-dismiss="modal">Нижнекамск</a></li>
							<li><a href="#" data-dismiss="modal">Нижний Новгород</a></li>
							<li><a href="#" data-dismiss="modal">Нижний Тагил</a></li>
							<li><a href="#" data-dismiss="modal">Новокузнецк</a></li>
							<li><a href="#" data-dismiss="modal">Новокуйбышевск</a></li>
							<li><a href="#" data-dismiss="modal">Новомосковск</a></li>
							<li><a href="#" data-dismiss="modal">Новороссийск</a></li>
							<li><a href="#" data-dismiss="modal">Новосибирск</a></li>
							<li><a href="#" data-dismiss="modal">Новочебоксарск</a></li>
							<li><a href="#" data-dismiss="modal">Новочеркасск</a></li>
							<li><a href="#" data-dismiss="modal">Новошахтинск</a></li>
							<li><a href="#" data-dismiss="modal">Новый Уренгой</a></li>
							<li><a href="#" data-dismiss="modal">Ногинск</a></li>
							<li><a href="#" data-dismiss="modal">Норильск</a></li>
							<li><a href="#" data-dismiss="modal">Ноябрьск</a></li>
							<li><h4>О</h4></li>
							<li><a href="#" data-dismiss="modal">Обнинск</a></li>
							<li><a href="#" data-dismiss="modal">Одинцово</a></li>
							<li><a href="#" data-dismiss="modal">Октябрьский</a></li>
							<li><a href="#" data-dismiss="modal">Омск</a></li>
							<li><a href="#" data-dismiss="modal">Орёл</a></li>
							<li><a href="#" data-dismiss="modal">Оренбург</a></li>
							<li><a href="#" data-dismiss="modal">Орехово-Зуево</a></li>
							<li><a href="#" data-dismiss="modal">Орск</a></li>
							<li><h4>П</h4></li>
							<li><a href="#" data-dismiss="modal">Пенза</a></li>
							<li><a href="#" data-dismiss="modal">Первоуральск</a></li>
							<li><a href="#" data-dismiss="modal">Пермь</a></li>
							<li><a href="#" data-dismiss="modal">Петрозаводск</a></li>
							<li><a href="#" data-dismiss="modal">Петропавловск-Камчатский</a></li>
							<li><a href="#" data-dismiss="modal">Подольск</a></li>
							<li><a href="#" data-dismiss="modal">Прокопьевск</a></li>
							<li><a href="#" data-dismiss="modal">Псков</a></li>
							<li><a href="#" data-dismiss="modal">Пушкино</a></li>
							<li><a href="#" data-dismiss="modal">Пятигорск</a></li>
							<li><h4>Р</h4></li>
							<li><a href="#" data-dismiss="modal">Раменское</a></li>
							<li><a href="#" data-dismiss="modal">Ростов-на-Дону</a></li>
							<li><a href="#" data-dismiss="modal">Рубцовск</a></li>
							<li><a href="#" data-dismiss="modal">Рыбинск</a></li>
							<li><a href="#" data-dismiss="modal">Рязань</a></li>
							<li><h4>С</h4></li>
							<li><a href="#" data-dismiss="modal">Салават</a></li>
							<li><a href="#" data-dismiss="modal">Салехард</a></li>
							<li><a href="#" data-dismiss="modal">Самара</a></li>
							<li><a href="#" data-dismiss="modal">Санкт-Петербург</a></li>
							<li><a href="#" data-dismiss="modal">Саранск</a></li>
							<li><a href="#" data-dismiss="modal">Саратов</a></li>
							<li><a href="#" data-dismiss="modal">Севастополь</a></li>
							<li><a href="#" data-dismiss="modal">Северодвинск</a></li>
							<li><a href="#" data-dismiss="modal">Северск</a></li>
							<li><a href="#" data-dismiss="modal">Сергиев Посад</a></li>
							<li><a href="#" data-dismiss="modal">Серпухов</a></li>
							<li><a href="#" data-dismiss="modal">Симферополь</a></li>
							<li><a href="#" data-dismiss="modal">Смоленск</a></li>
							<li><a href="#" data-dismiss="modal">Сочи</a></li>
							<li><a href="#" data-dismiss="modal">Ставрополь</a></li>
							<li><a href="#" data-dismiss="modal">Старый Оскол</a></li>
							<li><a href="#" data-dismiss="modal">Стерлитамак</a></li>
							<li><a href="#" data-dismiss="modal">Сургут</a></li>
							<li><a href="#" data-dismiss="modal">Сызрань</a></li>
							<li><a href="#" data-dismiss="modal">Сыктывкар</a></li>
							<li><h4>Т</h4></li>
							<li><a href="#" data-dismiss="modal">Таганрог</a></li>
							<li><a href="#" data-dismiss="modal">Тамбов</a></li>
							<li><a href="#" data-dismiss="modal">Тверь</a></li>
							<li><a href="#" data-dismiss="modal">Тольятти</a></li>
							<li><a href="#" data-dismiss="modal">Томск</a></li>
							<li><a href="#" data-dismiss="modal">Тула</a></li>
							<li><a href="#" data-dismiss="modal">Тюмень</a></li>
							<li><h4>У</h4></li>
							<li><a href="#" data-dismiss="modal">Улан-Удэ</a></li>
							<li><a href="#" data-dismiss="modal">Ульяновск</a></li>
							<li><a href="#" data-dismiss="modal">Уссурийск</a></li>
							<li><a href="#" data-dismiss="modal">Уфа</a></li>
							<li><h4>Х</h4></li>
							<li><a href="#" data-dismiss="modal">Хабаровск</a></li>
							<li><a href="#" data-dismiss="modal">Ханты-Мансийск</a></li>
							<li><a href="#" data-dismiss="modal">Хасавюрт</a></li>
							<li><a href="#" data-dismiss="modal">Химки</a></li>
							<li><h4>Ч</h4></li>
							<li><a href="#" data-dismiss="modal">Чебоксары</a></li>
							<li><a href="#" data-dismiss="modal">Челябинск</a></li>
							<li><a href="#" data-dismiss="modal">Череповец</a></li>
							<li><a href="#" data-dismiss="modal">Черкесск</a></li>
							<li><a href="#" data-dismiss="modal">Чита</a></li>
							<li><h4>Ш</h4></li>
							<li><a href="#" data-dismiss="modal">Шахты</a></li>
							<li><h4>Щ</h4></li>
							<li><a href="#" data-dismiss="modal">Щёлково</a></li>
							<li><h4>Э</h4></li>
							<li><a href="#" data-dismiss="modal">Электросталь</a></li>
							<li><a href="#" data-dismiss="modal">Элиста</a></li>
							<li><a href="#" data-dismiss="modal">Энгельс</a></li>
							<li><h4>Ю</h4></li>
							<li><a href="#" data-dismiss="modal">Южно-Сахалинск</a></li>
							<li><h4>Я</h4></li>
							<li><a href="#" data-dismiss="modal">Якутск</a></li>
							<li><a href="#" data-dismiss="modal">Ярославль</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- City choose end -->

		<!-- Order buy -->
		<div class="modal fade" id="modal_order_buy" tabindex="-1" role="dialog" aria-labelledby="order_buy" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<h4 class="modal-title" id="order_buy">для подачи заявки заполни поля</h4>
					</div>
					<form>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-5">
									<select class="form-control m-b-1" id="fw-300" required>
										<option>выбери тип заявки</option>
										<option>мили Аэрофлота</option>
										<option>абонемент в фитнес-клубы</option>
										<option>подарочные сертификаты одежды</option>
										<option>абонемент в йога-центры</option>
										<option>абонемент в спа-салоны</option>
										<option>мили S7</option>
									</select>
								</div>
								<div class="col-md-7">
									<select class="form-control m-b-1" id="order_type" required>
										<option>найти или продать</option>
										<option>я хочу найти абонемент в фитнес-клуб</option>
										<option>я хочу продать абонемент в фитнес-клуб</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="input-group col-md-3 m-b-1">
									<input type="text" class="form-control" id="order_price" required placeholder="потолок цены" />
									<div class="input-group-addon"><i class="fa fa-rub"></i></div>
								</div>
								<div class="col-md-6">
									<select class="form-control m-b-1" id="order_type" required>
										<option>выбери станции метро, около которых ищешь</option>
										<option>Таганская</option>
										<option>Боровицкая</option>
									</select>
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-secondary m-b-1" data-toggle="collapse" data-target="#collapse_map" aria-expanded="false" aria-controls="collapse_map">или покажи на карте</button>
								</div>
							</div>
							<div class="row collapse" id="collapse_map">
								<div class="col-md-12 m-b-1"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=RYtWGkPp5v2yJ1ej8PhIS190cIl80czW&height=300&lang=ru_RU&sourceType=constructor"></script></div>
							</div>
							<h5>дополнительно</h5>
							<label class="c-input c-checkbox m-b-1">
								<input type="checkbox" />
								<span class="c-indicator"></span>
								должен быть бассейн
							</label>
							<h5 class="m-t-1">твои контакты для связи</h5>
							<div class="row">
								<div class="input-group col-md-4 m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div><input type="text" class="form-control" id="name" required placeholder="*имя" /></div>
								<div class="input-group col-md-4 m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-mobile"></i></div><input type="text" class="form-control" id="phone" required placeholder="*телефон" /></div>
								<div class="input-group col-md-4 m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div><input type="email" class="form-control" id="email" required placeholder="*email" /></div>
							</div>
							<div class="row">
								<div class="input-group col-md-4 m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-vk"></i></div><input type="text" class="form-control" id="vk" placeholder="ВКонтакте" /></div>
								<div class="input-group col-md-4 m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-facebook"></i></div><input type="text" class="form-control" id="fb" placeholder="Faceboook" /></div>
								<div class="input-group col-md-4 m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-odnoklassniki"></i></div><input type="email" class="form-control" id="ok" placeholder="Одноклассники" /></div>
							</div>
							<div class="row">
								<div class="input-group col-md-4"><div class="input-group-addon"><i class="fa fa-fw fa-linkedin"></i></div><input type="text" class="form-control" id="in" placeholder="LinkedIn" /></div>
								<div class="col-md-8 m-t-1 brand_color font-italic"><i class="fa fa-exclamation va-m"></i> чем больше контактов, тем быстрее будет исполнена заявка</div>
							</div>
						</div>
						<div class="modal-footer">
							<label class="c-input c-checkbox">
								<input type="checkbox" />
								<span class="c-indicator"></span>
								я ознакомился с <a href="pages/static.html" target="_blank">пользовательским соглашением</a> и принял его условия
							</label>
							<button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" onclick="opening_modal_id='#modal_thanks_order'">найти мне абоменемент</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Order buy end -->

		<!-- Thanks for order message -->
		<div class="modal fade" id="modal_thanks_order" tabindex="-1" role="dialog" aria-labelledby="thanks_order" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content text-xs-center">
					<div class="modal-header">
						<h4 class="modal-title" id="thanks_order">Спасибо за заявку!</h4>
					</div>
					<div class="modal-body">
						<p>Как только что-то подходящее появится, мы тебе сообщим.</p>
						<p>Для того, чтобы абонемент быстрее нашёлся, расскажи о наших группах в соцсетях своим друзьм. <i class="fa fa-smile-o va-m"></i></p>
					</div>
					<div class="modal-footer text-xs-center">
						<a class="btn btn-primary m-b-05 thanks_close" href="https://www.facebook.com/groups/cardchare/" target="_blank"><i class="fa fa-fw fa-facebook"></i>&nbsp; зайти в группу</a>
						<a class="btn btn-primary m-b-05 thanks_close" href="http://vk.com/cardchare" target="_blank"><i class="fa fa-fw fa-vk"></i>&nbsp; зайти в группу</a>
						<a class="btn btn-primary m-b-05 thanks_close" href="http://ok.ru/cardchare" target="_blank"><i class="fa fa-fw fa-odnoklassniki"></i>&nbsp; зайти в группу</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Thanks for order message end -->

		<!-- Order details -->
		<div class="modal fade" id="modal_order_details" tabindex="-1" role="dialog" aria-labelledby="order_details" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close order_det_close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&#10005;</span>
						</button>
						<div class="col-sm-5"><h4 class="modal-title" id="order_details">Анюта</h4></div>
						<div class="col-sm-7">
							куплю фитнес-абонемент<br />
							за <strong>20 000 &#8381;</strong>
						</div>
					</div>
					<div class="modal-body order_details">
						<div class="order_phone"></div>
						<dl class="dl-horizontal">
							<dt class="col-sm-5">ищу в районе</dt>
							<dd class="col-sm-7 m-b-05">
								<i class="fa fa-fw fa-map-marker"></i>&nbsp; м. Братиславская<br />
								<i class="fa fa-fw fa-map-o"></i>&nbsp; <a href="#" data-dismiss="modal" onclick="opening_modal_id='#modal_map'">посмотреть на карте</a>
							</dd>

							<dt class="col-sm-12 checkbox disabled">
								<label class="c-input c-checkbox">
									<input type="checkbox" checked disabled />
									<span class="c-indicator"></span>
									нужен бассейн
								</label>
							</dt>

							<dt class="col-sm-5">заявка подана</dt>
							<dd class="col-sm-7"><i class="fa fa-fw fa-calendar"></i>&nbsp; 10.01.2016</dd>

							<dt class="col-sm-5">заявка просмотрена</dt>
							<dd class="col-sm-7"><i class="fa fa-fw fa-eye"></i><span class="text-danger">&nbsp; 5</span></dd>

							<dt class="col-sm-5">предложений сделано</dt>
							<dd class="col-sm-7"><i class="fa fa-fw fa-suitcase"></i><span class="text-danger">&nbsp; 2</span></dd>
						</dl>
					</div>
					<div class="modal-footer">
						<span class="brand_color font-italic">жду предложений <i class="fa fa-arrow-circle-o-right va-m"></i></span>
						<button type="button" class="btn btn-primary btn-lg m-l-3" data-toggle="collapse" data-target="#collapse_lead" aria-expanded="false" aria-controls="collapse_lead">узнать контакты</button>
					</div>
					<div class="collapse" id="collapse_lead">
						<div class="modal-body lead_details">
							<h4>набор контактов</h4>
							<div class="row">
								<div class="col-xs-7">
									<dl class="dl-horizontal brace">
										<div class="row">
											<dt class="col-sm-7"><i class="fa fa-fw fa-mobile"></i>&nbsp; телефон</dt>
											<dd class="col-sm-5 m-b-05 order_sm_phone"></dd>
										</div>

										<div class="row">
											<dt class="col-sm-7"><i class="fa fa-fw fa-envelope-o"></i>&nbsp; email</dt>
											<dd class="col-sm-5 m-b-05 order_sm_email"></dd>
										</div>

										<div class="row">
											<dt class="col-sm-7"><i class="fa fa-fw fa-vk"></i>&nbsp; ВКонтакте</dt>
											<dd class="col-sm-5 m-b-05 order_sm_vk"></dd>
										</div>

										<div class="row">
											<dt class="col-sm-7"><i class="fa fa-fw fa-facebook"></i>&nbsp; Facebook</dt>
											<dd class="col-sm-5 m-b-05 order_sm_fb"></dd>
										</div>

										<div class="row">
											<dt class="col-sm-7 p-r-0"><i class="fa fa-fw fa-odnoklassniki"></i>&nbsp; Одноклассники</dt>
											<dd class="col-sm-5 m-b-05 order_sm_ok"></dd>
										</div>

										<div class="row">
											<dt class="col-sm-7"><i class="fa fa-fw fa-linkedin"></i>&nbsp; Linkedin</dt>
											<dd class="col-sm-5 m-b-05 order_sm_in"></dd>
										</div>
									</dl>
								</div>
								<div class="col-xs-5 lead_price"><h2>100 &#8381;</h2></div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="https://payanyway.ru" target="_blank" class="hidden-xs-down"><img src="{% static "home/pics/payments/payanyway_text.png" %}"/></a>
							<button type="button" class="btn btn-primary btn-lg m-l-3" data-dismiss="modal" onclick="opening_modal_id='#modal_payment'">оплатить контакты &raquo;</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Order details end -->

		<!-- Map -->
		<div class="modal fade" id="modal_map" tabindex="-1" role="dialog" aria-labelledby="map" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="map">район поиска</h4>
					</div>
					<div class="modal-body"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=RYtWGkPp5v2yJ1ej8PhIS190cIl80czW&height=300&lang=ru_RU&sourceType=constructor"></script></div>
					<div class="modal-footer"><button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" onclick="opening_modal_id='#modal_order_details'">вернуться в заявку</button></div>
				</div>
			</div>
		</div>
		<!-- Map end -->

		<!-- Payment -->
		<div class="modal fade" id="modal_payment" tabindex="-1" role="dialog" aria-labelledby="payment" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="payment">оплата контактов</h4>
					</div>
					<div class="modal-body">Модуль оплаты</div>
					<div class="modal-footer"><button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" >закрыть</button></div>
				</div>
			</div>
		</div>
		<!-- Payment end -->

		<!-- Check in -->
		<div class="modal fade" id="modal_check_in" tabindex="-1" role="dialog" aria-labelledby="check_in" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document" style="padding-top: 95px;">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="check_in">регистрация</h4>
					</div>

					<form ng-controller="RegisterForm" validate name="registerForm">
					{% csrf_token %}
						<div class="modal-body">

							<div class="row">
								<div class="col-md-4 m-b-1">
									<div class="bearing">
										<div ng-show="registerForm.name.$error.required && FormCheckError('name')">имя пользователя обязательно</div>
										<div ng-show="registerForm.name.$error.maxlength && FormCheckError('name')">слишком длинное имя пользователя</div>
										<div ng-show="registerForm.name.$error.uniqueField">это имя пользователя уже занято</div>
										<div ng-show="registerForm.name.$error.pattern && FormCheckError('name')">неверный формат имени пользователя</div>
									</div>
									<div class="input-group">
										<div class="input-group-addon" ng-class="{'has-error': FormCheckError('name')}"><i class="fa fa-fw fa-user"></i></div>
										<input
											class="form-control"
											id="name"
											maxlength="100"
											name="name"
											ng-class="{'has-error': FormCheckError('name')}"
											ng-maxlength="30"
											ng-model="fields.name"
											ng-pattern="/^[a-zA-Z0-9.\-_$@*!]{3,30}$/"
											placeholder="*имя"
											required type="text"
											unique-field
                                        	ui-event="{ mouseleave : 'TrigerFormValidate($event)' , keypress : 'TrigerFormOnkeypress($event)'}"
                                        	ng-init="$scope.registerForm.name.focus=false;$scope.registerForm.name.blur=false;"
                                        	ng-focus="TrigerFormFocus('name')"
                                        	ng-blur="TrigerFormBlur('name')"
										>
									</div>
								</div>
                                <div class="col-md-4 m-b-1">
                                    <div class="bearing">
                                        <div ng-show="registerForm.phone.$error.required && FormCheckError('phone')">номер телефона обязателен</div>
										<div ng-show="registerForm.phone.$error.maxlength && FormCheckError('phone')">слишком длинный номер телефона</div>
										<div ng-show="registerForm.phone.$error.uniqueField">этот номер телефона уже занят</div>
                                    </div>
                                    <div class="input-group" 												popover="Hello!"
									popover-toggle="registerForm.phone.$valid"
									uib-popover-template="myPopoverTemplate.html"
									popover-title="123"
									>
                                        <div class="input-group-addon" ng-class="{'has-error': FormCheckError('phone')}"><i class="fa fa-fw fa-mobile"></i></div>
                                        <input
                                        	class="form-control form-control-phone"
                                        	id="phone"
                                        	name="phone"
                                        	ng-class="{'has-error': FormCheckError('phone')}"
                                        	ng-minlength="10"
                                        	ng-maxlength="30"
                                        	ng-model="fields.phone"
                                        	placeholder="*телефон"
                                        	required
                                        	type="text"
                                        	ui-mask="+7(999)999-99-99"
                                        	ui-mask-placeholder=""
                                        	ui-options=""
                                        	unique-field
                                        	ui-event="{ mouseleave : 'TrigerFormValidate($event)' , keypress : 'TrigerFormOnkeypress($event)'}"
                                        	ng-init="$scope.registerForm.phone.focus=false;$scope.registerForm.phone.blur=false;"
                                        	ng-focus="TrigerFormFocus('phone')"
                                        	ng-blur="TrigerFormBlur('phone')"
                                        >
                                         <div
                                         	class="input-group-addon"
                                         	ng-class="{'has-error': FormCheckError('phone')}"
                                         	uib-popover-template="dynamicPopover.templateUrl"
                                         	popover-trigger="outsideClick"
                                         	popover-is-open="registerForm.phonepopover"
                                         	ng-init="registerForm.phonepopover=false"
                                         	popover-title="Подтверждение телефона"
                                         >
                                         	<i
                                         		class="fa fa-fw fa-check form-control-phone-right-addon"
                                         		ng-class="{'phone-confirm-redy': registerForm.phone.$valid && !registerForm.phonecodeok && !registerForm.phonecodeerror, 'phone-confirm-ok' : registerForm.phone.$valid && registerForm.phonecodeok, 'phone-confirm-error': registerForm.phonecodeerror && !registerForm.phonecodeok}"
                                         	>
                                         	</i>
                                         </div>
                                    </div>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div style="width: 220px;">
1)Получить код в смс на номер {$ registerForm.phone.$modelValue | tel $}</li>
 <button class="btn btn-default" type="button" ng-model="phoneconfbutton" ng-disabled="registerForm.phone.$invalid || cantsend" ng-click="FormSendPhoneCode(registerForm.phone)">выслать код</button>
 <div style="height: 21px;"><div ng-show="cantsend">повторно выслать код: {$ countDown $}</div></div>

2)Ввести код из смс:
	<input
		class="form-control"
		id="phonecode"
		name="phonecode"
		ng-maxlength="6"
		ng-minlength="6"
		required
		ng-model="fields.phonecode"
		ng-init="registerForm.phonecode.error=false"
		placeholder="код подтверждения"
    	ui-mask-placeholder=""
    	ui-options=""
		required
		type="text"
		ui-mask="999999"
	>


<div class="clearfix"></div>
<div style="height: 10px;"><div ng-show="!registerForm.phonecodeok && registerForm.phonecode.$valid" class="">код неверен</div></div>
</script>
                                </div>
                                <div class="col-md-4 m-b-1">
                                    <div class="bearing">
                                        <div ng-show="registerForm.city.$error.required && registerForm.city.$touched">город обязателен</div>
                                        <div ng-show="registerForm.city.$error.maxlength && registerForm.name.$touched">слишком длинное название города</div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon" ng-class="{'has-error': registerForm.city.$invalid && registerForm.city.$touched}"><i class="fa fa-fw fa-map-marker"></i></div>
									<ui-select id="city" name="city" ng-model="fields.city" placeholder="*город" required type="text" theme="bootstrap">
									    <ui-select-match placeholder="*город" allow-clear="false">{$ $select.selected.name $}</ui-select-match>
									    <ui-select-choices repeat="address in (addresses | filter: $select.search) track by address.id">
									        <span ng-bind="address.name"></span>
									    </ui-select-choices>
									  </ui-select>
                                    </div>
                                </div>
								<div class="clearfix"></div>
                                <div class="col-md-4 m-b-1">
                                    <div class="bearing">
                                        <div ng-show="registerForm.email.$error.required && FormCheckError('email')">email обязателен</div>
                                        <div ng-show="registerForm.email.$error.maxlength && FormCheckError('email')">слишком длинный email</div>
                                        <div ng-show="(registerForm.email.$error.email || registerForm.email.$error.pattern) && FormCheckError('email')">неверный формат email</div>
                                        <div ng-show="registerForm.email.$error.uniqueField">этот email уже занят</div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon" ng-class="{'has-error': FormCheckError('email')}"><i class="fa fa-fw fa-envelope-o"></i></div>
                                        <input
                                        	class="form-control"
                                        	id="email"
                                        	maxlength="100"
                                        	name="email"
                                        	ng-class="{'has-error': FormCheckError('email')}"
                                        	ng-maxlength="30"
                                        	ng-model="fields.email"
                                        	ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                        	placeholder="*email"
                                        	required type="email"
                                        	unique-field=""
                                        	ui-event="{ mouseleave : 'TrigerFormValidate($event)' , keypress : 'TrigerFormOnkeypress($event)'}"
                                        	ng-init="$scope.registerForm.email.focus=false;$scope.registerForm.email.blur=false;"
                                        	ng-focus="TrigerFormFocus('email')"
                                        	ng-blur="TrigerFormBlur('email')"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-4 m-b-1">
                                    <div class="bearing">
                                        <div ng-show="registerForm.vk.$invalid && !registerForm.vk.$pristine && registerForm.vk.$touched">неправильный формат ссылки</div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon" ng-class="{'has-error': registerForm.vk.$invalid && !registerForm.vk.$pristine && registerForm.vk.$touched}"><i class="fa fa-fw fa-vk"></i></div>
                                        <input
                                        	class="form-control"
                                        	id="vk"
                                        	maxlength="100"
                                        	name="vk"
                                        	ng-class="{'has-error': registerForm.vk.$invalid && !registerForm.vk.$pristine && registerForm.vk.$touched}"
                                        	ng-maxlength="200"
                                        	ng-model="fields.vk"
                                        	placeholder="ВКонтакте"
                                        	type="url"
                                        	ui-event="{ mouseleave : 'TrigerFormValidate($event)' , focus : 'TrigerFormFocus($event)'}"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-4 m-b-1">
                                    <div class="bearing">
                                        <div ng-show="registerForm.face.$invalid && !registerForm.face.$pristine && registerForm.face.$touched">неправильный формат ссылки</div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon" ng-class="{'has-error': registerForm.face.$invalid && !registerForm.face.$pristine && registerForm.face.$touched}"><i class="fa fa-fw fa-facebook"></i></div>
                                        <input
                                        	class="form-control"
                                        	id="face"
                                        	maxlength="100"
                                        	name="face"
                                        	ng-class="{'has-error': registerForm.face.$invalid && !registerForm.face.$pristine && registerForm.face.$touched}"
                                        	ng-maxlength="200"
                                        	ng-model="fields.face"
                                        	placeholder="Faceboook"
                                        	type="url"
                                        	ui-event="{ mouseleave : 'TrigerFormValidate($event)' , focus : 'TrigerFormFocus($event)'}"
                                        >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-4 m-b-1">
                                    <div class="bearing">
                                        <div ng-show="registerForm.ok.$invalid && !registerForm.ok.$pristine && registerForm.ok.$touched">неправильный формат ссылки</div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon" ng-class="{'has-error': registerForm.ok.$invalid && !registerForm.ok.$pristine && registerForm.ok.$touched}"><i class="fa fa-fw fa-odnoklassniki"></i></div>
                                        <input
                                        	class="form-control"
                                        	id="ok"
                                        	maxlength="100"
                                        	name="ok"
                                        	ng-class="{'has-error': registerForm.ok.$invalid && !registerForm.ok.$pristine && registerForm.ok.$touched}"
                                        	ng-maxlength="200"
                                        	ng-model="fields.ok"
                                        	placeholder="Одноклассники"
                                        	type="url"
                                        	ui-event="{ mouseleave : 'TrigerFormValidate($event)' , focus : 'TrigerFormFocus($event)'}"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-4 m-b-1">
                                    <div class="bearing">
                                        <div ng-show="registerForm.linkedin.$invalid && !registerForm.linkedin.$pristine && registerForm.linkedin.$touched">неправильный формат ссылки</div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon" ng-class="{'has-error': registerForm.linkedin.$invalid && !registerForm.linkedin.$pristine && registerForm.linkedin.$touched}"><i class="fa fa-fw fa-linkedin"></i></div>
                                        <input
                                        	class="form-control"
                                        	id="in"
                                        	maxlength="100"
                                        	name="in"
                                        	ng-class="{'has-error': registerForm.linkedin.$invalid && !registerForm.linkedin.$pristine && registerForm.linkedin.$touched}"
                                        	ng-maxlength="200"
                                        	ng-model="fields.in"
                                        	placeholder="LinkedIn"
                                        	type="url"
                                        	ui-event="{ mouseleave : 'TrigerFormValidate($event)' , focus : 'TrigerFormFocus($event)'}"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-4 m-b-1">
                                    <div class="bearing"></div>
 									<div class="brand_color font-italic"><i class="fa fa-exclamation va-m"></i> чем больше контактов, тем быстрее будет исполняться твои заявки</div>
                                </div>
						</div>
						<div class="modal-footer">
							<label class="c-input c-checkbox">
							<input id="id_check" name="check" ng-model="fields.check" required type="checkbox">
								<span class="c-indicator" ng-class="{'inputerror': registerForm.check.$invalid && registerForm.check.$touched}"></span>
								я ознакомился с <a href="#" target="_blank">пользовательским соглашением</a> и принял его условия
							</label>
							<button type="button" ng-click="submit()" class="btn btn-primary btn-lg">зарегистрироваться</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Check in end -->

		<!-- Thanks for check in message -->
		<div class="modal fade" id="modal_thanks_checkin" tabindex="-1" role="dialog" aria-labelledby="thanks_checkin" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content text-xs-center">
					<div class="modal-header">
						<h4 class="modal-title" id="thanks_checkin">Спасибо за регистрацию!</h4>
					</div>
					<div class="modal-body">
						<p>Теперь можешь оставить свою заявку на поиск абонемента в фитнес-клуб, или йога-студию. Или можешь выставить свои ненужные карты на продажу.</p>
						<p>Ещё заходи в нашу Facebook группу, там тоже много карточек, которые могут быть полезны тебе и твоим друзьям. <i class="fa fa-smile-o va-m"></i></p>
					</div>
					<div class="modal-footer text-xs-center">
						<a id="thanks_check_in_dismiss" class="btn btn-primary m-b-05" href="https://www.facebook.com/groups/cardchare/" target="_blank"><i class="fa fa-fw fa-facebook"></i>&nbsp; зайти в группу</a>
						<button type="button" class="btn btn-primary m-b-05" data-dismiss="modal" onclick="opening_modal_id='#modal_order_buy'"><i class="fa fa-fw fa-pencil-square-o"></i>&nbsp; оставить заявку</button>
						<button type="button" class="btn btn-primary m-b-05" data-dismiss="modal"><i class="fa fa-fw fa-eye"></i>&nbsp; смотреть заявки</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Thanks for check in message end -->

		<!-- Sign in -->
		<div class="modal fade" id="modal_sign_in" tabindex="-1" role="dialog" aria-labelledby="sign_in" aria-hidden="true">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="sign_in">вход</h4>
					</div>
					<form>
						<div class="modal-body">
							<div class="input-group m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-mobile"></i></div><input type="text" class="form-control" id="phone" required placeholder="телефон" /></div>
							<div class="input-group m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-key"></i></div><input type="password" class="form-control" id="pass" required placeholder="пароль" /></div>
						</div>
						<div class="modal-footer">
							<a href="#" data-dismiss="modal" onclick="opening_modal_id='#modal_pass_recovery'"><i class="fa fa-frown-o va-m"></i> я забыл пароль</a>
							<button id="signin_submit" type="button" class="btn btn-primary btn-lg m-l-2" onclick="location.href='pages/profile.html'">войти</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Sign in end -->

		<!-- Password recovery -->
		<div class="modal fade" id="modal_pass_recovery" tabindex="-1" role="dialog" aria-labelledby="pass_recovery" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="pass_recovery">восстановление пароля</h4>
					</div>
					<form>
						<div class="modal-body">
							<p>Введи телефон, или email, который оставлял при регистрации. Мы отправим на него новый временный пароль.</p>
							<div class="input-group m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-mobile"></i></div><input type="text" class="form-control" id="phone" placeholder="телефон" /></div>
							<div class="input-group m-b-1"><div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div><input type="email" class="form-control" id="email" placeholder="email" /></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" onclick="opening_modal_id='#modal_pass_recovery_success'">восстановить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Password recovery end -->

		<!-- Password recovery success -->
		<div class="modal fade" id="modal_pass_recovery_success" tabindex="-1" role="dialog" aria-labelledby="pass_recovery_success" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="pass_recovery_success">восстановление пароля</h4>
					</div>
					<div class="modal-body">Отлично! Мы отправили тебе временный пароль. Войди с ним в личный кабинет и обязательно поменяй на новый и надёжный, который ты не забудешь. <i class="fa fa-smile-o va-m"></i></div>
					<div class="modal-footer"><button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" aria-label="Close">закрыть</button></div>
				</div>
			</div>
		</div>
		<!-- Password recovery success end -->

		<!-- Modals end -->
	</body>
</html>