/* --- --- --- --- --- --- --- --- --- --- MAIN --- */
html {
	position: relative;
	min-height: 100%;
}

body, .popover {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15rem;
	padding-right: 0 !important;
}
/* --- --- --- --- --- --- --- --- --- --- MAIN END --- */

/* --- --- --- --- --- --- --- --- --- --- NAVBAR --- */
.bg-faded { background-color: rgba(54, 163, 145, 0.7); }

.navbar-brand {
	background-image: url(../pics/branding/logo_white_min.png);
	width: 95px;
}

.nav-link {
	float: left;
	padding-top: .425rem;
	color: white;
}

.navbar-dark .navbar-nav .nav-link, footer a:hover, #where_am_i a:hover, nav button, .bg-inverse a, #navbar-header, #modal_city a, .modal-fullscreen .close { color: white !important; }

.navbar {
	border-radius: 0;
	padding: 0 1rem;
}

#city_choise, #where_am_i { margin-right: 2rem; }
#where_am_i a, .nav-link:hover, .bg-inverse a:hover { text-decoration: none; color: rgba(255, 255, 255, 0.5); }

#navbar-header select { max-width: 20rem; }

#navbar-header hr {
	background-color: white;
	margin: .8rem 0 .5rem 0;
}
/* --- --- --- --- --- --- --- --- --- --- NAVBAR END --- */

/* --- --- --- --- --- --- --- --- --- --- HEADER --- */
#main_head_01 {
	padding: 4rem 0 0 0;
	margin-bottom: 1.5rem;
	text-align: center;
	background: url(../pics/backs/head_pic_01.jpg);
	background-size: cover;
	background-position: 50%;
	color: white;
}

.jumbotron, .popover-title { background-color: transparent; }

#main_head_01 h1 {
  font-size: 3em;
  font-weight: 100;
}

#main_head_01 .btn { box-shadow: 0 0 .7rem rgba(255, 255, 255, 0.5); }
/* --- --- --- --- --- --- --- --- --- --- HEADER END --- */

/* --- --- --- --- --- --- --- --- --- --- CONTENT --- */
.lead { font-weight: 400; }

.container-fluid { padding: 0; }

.page_without_header { padding-top: 5rem; }

.card, .popover {
	box-shadow: 0 .1rem .5rem rgba(0,0,0,0.3);
	border: none;
}

.card form {
	padding: .75rem 1.25rem;
	text-align: right;
}

.order_card {
	max-width: 22rem;
	border-radius: .5rem;
	box-shadow: 0 .1rem .5rem rgba(0,0,0,0.3);
	padding: .7rem 0;
	margin: .8rem;
	text-align: right;
	display: inline-block;
}

.card_stripe {
	background-color: #36A391;
	padding: .8rem;
	color: white;
	margin: .1rem 0 .5rem 0;
	font-size: 1.2rem;
}

.card-header {
	background-color: #36A391;
	color: white;
}

.order_region { margin-bottom: .8rem; }

.brand_color, .card .font-weight-bold, .modal a, .popover a, .nav-tabs .nav-link, .cards_link .fa-circle { color: #36A391; }

.card_user_name, .order_region, .brand_color.pull-xs-left { padding-left: .8rem; }

.order_type, .order_date { padding-right: .8rem; }

.order_card .btn { margin: .3rem .8rem; }

.fw-300, .modal-body { font-weight: 300; }

.list-group-item:first-of-type { border-radius: 0; }

.card-header:first-child { margin-bottom: -1px !important; }

.selling_card { background-color: rgba(113, 190, 177, 0.3); }

.closed_card { background-color: rgba(0, 0, 0, 0.2); }

#modal_order_sell .modal-footer .col-md-7 { display: inline-block; }

.selling_orders_tab .order_card:last-child { margin-bottom: 3rem; }

.without_back {
	background-color: transparent;
	box-shadow: none;
	z-index: 1020;
}

.va-m, header .fa { vertical-align: middle; }

#qwe(@width: 100%) {
   text-overflow: ellipsis;
   display: inline-block;
   vertical-align: top;
   white-space: nowrap;
   overflow: hidden;
   width: @width;
}
/* --- --- --- --- --- --- --- --- --- --- CONTENT END --- */

/* --- --- --- --- --- --- --- --- --- --- BUTTONS --- */
.btn-primary, .modal a.btn, .btn-primary-outline:hover, .btn-primary-outline:focus, .btn-secondary.btn-block:focus, .label-primary  {
	background-color: #36A391;
	border-color: #36A391;
	color: white;
	outline: none;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #1E7D6F;
	border-color: #1E7D6F;
	color: white;
}

.btn-primary:active:hover, .btn:active:focus, .btn-secondary:focus, .btn-primary:focus {
	background-color: #16695D;
	border-color: #16695D;
	color: white;
	outline-color: #16695D;
}

.btn-primary-outline, button.list-group-item:focus {
	color: #36A391;
	border-color: #36A391;
	outline-color: #36A391;
}

.btn-secondary.btn-block { border: none; }

.navbar-toggler:focus, .nav-link:focus { outline: none;}

select { height: 38px; }

.inputerror {
	box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem #d9534f;;
}

.c-input>input:focus~.c-indicator {
    -webkit-box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem #36A391;
    box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem #36A391;
}

.c-input>input:checked~.c-indicator { background-color: #36A391; }

.c-input>input:active~.c-indicator { background-color: rgba(54, 163, 145, 0.5); }
/* --- --- --- --- --- --- --- --- --- --- BUTTONS END --- */


/* --- --- --- --- --- --- --- --- --- --- FOOTER --- */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #36A391;
	padding-top: .3rem;
	color: white;
	font-size: .8rem;
}

footer img { padding: 4px; }

footer .navbar-brand { background-repeat: no-repeat; }

.block-m-b {
	display: block;
	height: 2.4rem;
}

footer a, footer a:visited, footer a:focus, #city_choise:visited, #city_choise:focus {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}

footer .col-sm-12 { margin-bottom: .3rem; }
/* --- --- --- --- --- --- --- --- --- --- FOOTER END --- */

/* --- --- --- --- --- --- --- --- --- --- MODALS --- */
.modal-fullscreen {
	width: 100%;
	height: 100%;
	margin: 0;
}

.modal-fullscreen .modal-content {
	border: 0;
	border-radius: 0;
	background-color: rgba(0,0,0,0.9);
	color: white;
}

.modal-fullscreen .modal-body {
	-moz-column-width: 11.5rem; /* Firefox */
	-webkit-column-width: 11.5rem; /* webkit, Safari, Chrome */
	column-width: 11.5rem;
}

.modal-fullscreen ul { list-style-type: none; }

.modal-fullscreen input, .modal-fullscreen button { border-radius: .2rem; }

.modal-fullscreen .modal-body h4 { margin: 1.5rem 0 .2rem 0; }

.modal-fullscreen ul li:first-child h4 { margin-top: 0; }

.close { opacity: .5; }

.modal-footer label {
	display: block;
	float: left;
	margin-top: .9rem;
}

.c-indicator { top: .2rem; }

.form-control, .input-group-addon {
	border-color: #36A391;
	background-color: white;
}

.form-control-phone {
    border-radius: 0 !important;
}

.form-control-phone-right-addon{
	font-size: 17px !important;
	color: rgb(133, 133, 134);
}

.phone-confirm-redy {
	color: rgb(197, 177, 96);
}

.phone-confirm-ok {
	color: #36A391;
}

.phone-confirm-error {
	color: #d9534f;
}

.form-control-city {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}


.input-group input:first-child { border-right: 0; }

#modal_check_in .brand_color { font-size: small; }

#modal_city .form-control, #modal_city .btn-secondary { border-color: white; }

.modal-body dl, .modal-body dd { margin: 0; }
.modal-body dt { font-weight: 300; }
.modal-body dd { font-weight: 400; }

.m-b-05 { margin-bottom: .5rem !important; }

.order_phone {
	background-image: url(../pics/elements/blured_number.png);
	background-repeat: no-repeat;
	background-position-x: .9375rem;
	height: 3rem;
}

.lead_details dd {
	background-repeat: no-repeat;
	height: 1.3rem;
}

.order_sm_phone { background-image: url(../pics/elements/blured_small_number.png); background-position-x: .9375rem; }
.order_sm_email { background-image: url(../pics/elements/blured_small_email.png); background-position-x: .9375rem; }
.order_sm_vk { background-image: url(../pics/elements/blured_small_vk.png); background-position-x: .9375rem; }
.order_sm_ok { background-image: url(../pics/elements/blured_small_ok.png); background-position-x: .9375rem; }
.order_sm_fb { background-image: url(../pics/elements/blured_small_fb.png); background-position-x: .9375rem; }
.order_sm_in { background-image: url(../pics/elements/blured_small_in.png); background-position-x: .9375rem; }

.order_details { background: url(../pics/elements/order_arrow.png) 95% 3rem no-repeat; }

.order_det_close {
	position: absolute;
	right: 1rem;
	z-index: 999;
}

.lead_details { border-top: #36A391 .15rem solid; }

.brace{
	border-right: .15rem solid #36A391;
	border-radius: 0 .5rem .5rem 0;
	padding: 0 2rem 0 .9375rem;
}

.brace:after{
	content: '';
	position:absolute;
	top: 50%;
	right: -.19rem;
	width: 2.5rem;
	height: 3rem;
	margin-top: -1.5rem;
	background-color: #FFF;
	background:
		linear-gradient(45deg,  transparent 10px, #36A391 0) top left,
		linear-gradient(135deg, transparent 10px, #36A391 0) top right,
		linear-gradient(225deg, transparent 10px, #36A391 0) bottom right,
		linear-gradient(315deg, transparent 10px, #36A391 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-image:
		none,
		radial-gradient(circle at 100% 0, transparent 1.6rem, #36A391 1.7rem, #FFF 1.78rem),
		radial-gradient(circle at 100% 100%, transparent 1.6rem, #36A391 1.7rem, #FFF 1.78rem),
		none;
}

.lead_price {
	position: absolute;
    top: 50%;
    right: 0;
}

.lead_details h4 { padding-left: .9375rem; }

#modal_notif_set label:first-of-type {
	display: block;
	margin: .5rem 0 .5rem 0;
}

/* --- --- --- --- --- --- --- --- --- --- MODALS END --- */

/* --- --- --- --- --- --- --- --- --- --- REGISTER FORM --- */

.form-control:focus {
  border-color: #36A391;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-error {
    color: #d9534f;
    border-color: #d9534f;
}

.has-error:focus {
    color: #d9534f;
    border-color: #d9534f;
}

.bearing {
	height: 19px;
	font-size: 13px;
}

.m-b-1 {
     margin-bottom: 0px!important;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
	background-color: #1E7D6F !important;
}

.popover.top>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25);
}
.popover>.arrow {
    border-width: 11px;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}



/* --- --- --- --- --- --- --- --- --- --- REGISTER FORM END--- */