{% extends "lend/base.html" %}

{% block content %}
    <div class="clearfix"></div>
    <div class="container">
<div class="tbl">
<table class="table table-hover table-bordered tb" text-align="right">
  <tr>
    <td class="tblhead">Имя</td>
    <td class="tblhead">Email</td>
    <td class="tblhead">Телефон</td>
    <td class="tblhead">Коментарий</td>
    <td class="tblhead">Тип заявки</td>
    <td class="tblhead">Тип обслуживания</td>
    <td class="tblhead">Стоимость</td>
    <td class="tblhead">Дата</td>  
  </tr>
    {% for object in object_list %}
  <tr>
    <td>{{object.user_name}}</td>
    <td>{{object.email}}</td>
    <td>{{object.phone}}</td>
    <td>{{object.coment}}</td>
    <td>{{object.type_application_name}}</td>
    <td>{{object.calculation_type_name}}</td>
    <td>{{object.calculation_cost}}</td>
    <td>{{object.created}}</td>
  </tr>
    {% endfor %}
</table>
</div>


{% include "lend/paginate.html" %}

{% endblock %}