{% extends "lend/base.html" %}

{% block content %}
    <div class="clearfix"></div>
    <div class="container">
<div class="tbl">
<table class="table table-hover table-bordered tb" text-align="right">
  <tr>
    <td class="tblhead">Телефон входящий</td>
    <td class="tblhead">Телефон исходящий</td>
    <td class="tblhead">Дата</td>  
  </tr>
    {% for object in object_list %}
  <tr>
    <td>{{object.phone_to}}</td>
    <td>{{object.phone_from}}</td>
    <td>{{object.income_date}}</td>
  </tr>
    {% endfor %}
</table>
</div>


{% include "lend/paginate.html" %}

{% endblock %}