<nav>
  <ul class="pagination">
    {% if object_list.has_previous %}
        <li><a href="{{ request.get_path }}?page={{ object_list.previous_page_number }}"><span aria-hidden="true">«</span></a></li>
    {% endif %}

    {% for num in object_list.paginator.page_range %}
        {% if num == object_list.number %}
            <li class="active"><a href="{{ request.get_path }}?page={{ num }}">{{ num }}</a></li>
        {% else %}
            <li ><a href="{{ request.get_path }}?page={{ num }}">{{ num }}</a></li>
        {% endif %} 
    {% endfor %}

    {% if object_list.has_next %}
        <li><a href="{{ request.get_path }}?page={{ object_list.next_page_number }}"><span aria-hidden="true">»</span></a></li>
    {% endif %}
    </div><!-- /.container -->
  </ul>
</nav>
