{% extends "lend/base.html" %}


{% block content %}
    <div class="clearfix"></div>
    <div class="container">

<div class="tbl">
</div>

<div class="col-md-4">
<table class="table table-bordered">
  <tr>
    <td>Текст запроса</td>
    <td><a href="{% url 'qerys' %}?query={{object.query.qerydata}}">{{object.query.qerydata}}</a></td>
  </tr>
  <tr>
    <td>Компания из яндекса</td>
    <td>{{object.getparamstat.campaign_id}}</td>
  </tr>
  <tr>
    <td>Объявления из яндекса</td>
    <td>{{object.getparamstat.ad_id}}</td>
  </tr>
  <tr>
    <td>Стоимость запроса</td>
    <td></td>
  </tr>
  <tr>
    <td>Посещения</td>
    <td><a href="{% url 'visits' %}?pk_query={{object.query.id}}&pk_gp={{object.getparamstat.id}}">{{object.stats.num_visits}}</a></td>
  </tr>
  <tr>
    <td>Звонки</td>
    <td><a href="{% url 'calls' %}?pk_query={{object.query.id}}&pk_gp={{object.getparamstat.id}}">{{object.stats.num_calls}}</a></td>
  </tr>
  <tr>
    <td>Заявки</td>
    <td><a href="{% url 'apps' %}?pk_query={{object.query.id}}&pk_gp={{object.getparamstat.id}}">{{object.stats.num_apps}}</a></td>
  </tr>
</table>
</div>

<div class="clearfix"></div>

{% endblock %}