{% extends "lend/base.html" %}

{% block content %}
    <div class="clearfix"></div>
    <div class="container">
<div class="tbl">
<table class="table table-hover table-bordered tb" text-align="right">
  <tr>
    <td class="tblhead">Запрос</td>
    <td class="tblhead">Кампания</td>
    <td class="tblhead">Объявление</td>
    <td class="tblhead">Переходы</td>
    <td class="tblhead">Звонки</td>
    <td class="tblhead">Заявки</td>
  </tr>
    {% for object in object_list %}
  <tr>
    <td><a href="{% url 'qerysdetail' %}?pk={{object.id}}">{{object.query.qerydata}}</a></td>
    <td>{{object.getparamstat.campaign_id}}</td>
    <td>{{object.getparamstat.ad_id}}</td>
    <td>{{object.stats.num_visits}}</td>
    <td>{{object.stats.num_calls}}</td>
    <td>{{object.stats.num_apps}}</td>
  </tr>
    {% endfor %}
</table>
</div>


{% include "lend/paginate.html" %}

{% endblock %}