{% extends "lend/base.html" %}


{% block content %}
    <div class="clearfix"></div>
    <div class="container">
<div class="tbl">
<table class="table table-hover table-bordered tb" text-align="right">
  <tr>
    <td class="tblhead">Кампания</td>
    <td class="tblhead">Объявление</td>
    <td class="tblhead">Запрос</td>
    <td class="tblhead">Посещения</td>
    <td class="tblhead">Звонок</td>
    <td class="tblhead">Заявка</td>
    <td class="tblhead">Время</td>
  </tr>
    {% for object in object_list %}
  <tr>
    <td>{{object.getparamstat.campaign_id}}</td>
    <td>{{object.getparamstat.ad_id}}</td>
    <td><a href="{% url 'qerysdetail' %}?pk={{object.getparamstatquery.id}}">{{object.query.qerydata}}</a></td>
    <td>{{object.client.visits}}</td>
        {% if object.app.all %}
    <td><i class="glyphicon glyphicon-ok"></i></td>
        {% else %}
    <td><i class="glyphicon glyphicon-remove"></i></td>
        {% endif %}
        {% if object.phone.all %}
    <td><i class="glyphicon glyphicon-ok"></i></td>
        {% else %}
    <td><i class="glyphicon glyphicon-remove"></td>
        {% endif %}
    <td>{{object.date|date:'Y-m-d H:i'}}</td>
  </tr> 
    {% endfor %}
</table>
</div>


{% include "lend/paginate.html" %}

{% endblock %}