@charset "utf-8";
/* CSS Document */
body{font-family:PT Sans;}
.container{width:980px; padding:0;}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    padding: 0;
}
.logo{padding:0; max-width:140px;}
#header .container {
    padding-top: 20px;
}
.header-link {
    text-align: right;
	width:200px;
}
a,a:hover, a:focus{text-decoration:none; outline:none;}
a,a:link{color:#002f9d;}
.link-one {
    display: inline-block;
    font-size: 13px;
    padding-bottom: 0;
    padding-left: 22px;
    position: relative;
    text-decoration: underline;
}
.link-one::before {
    background: rgba(0, 0, 0, 0) url("/static/images/icon-1.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 16px;
}
.header-link > p.phn-no {
    font-size: 20px;
 	color:#000;
	line-height:20px;
	font-weight:normal;
    margin: 15px 0 0;
}
.header-link > p.phn-no span{
   font-weight: 600;}
.header-link > a.h-linkt {
    color: #003bc7;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.header-link > a.h-linkt:hover,.header-link > a.h-linkt:focus{color:#f00; text-decoration:none;}
#header .menubar {
    padding-top: 30px;
}
.menubar ul {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menubar li {
    float: left;
    padding: 0 10px;
}
.menubar li a {
    color: #003bc7;
    font-size: 13px;
}
.menubar li:last-child {
    padding-right: 0;
}
.menubar li a:hover,.menubar li.active a,.menubar li a:focus{color:#f00; text-decoration:underline;}
.menupart li a {
    color: #002f9d;
    font-size: 21px;
    font-weight: 800;
    text-transform: uppercase;
}.menupart ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
 
.menupart li a {
    border-top: 4px solid #002f9d;
    color: #002f9d;
    display: block;
 	position:relative;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 49px;
    text-transform: uppercase;
}
.menupart li a::before {
    background: #e7eaec none repeat scroll 0 0;
    content: "";
    height: 21px;
    left:-1px;
    position: absolute;
    top: 15px;
    width: 1px;
}
.sticky .menupart li {
    min-width: 100px;
}
.menupart li:first-child a::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.menupart li a:hover::before {
    background: rgba(0, 0, 0, 0) none repeat scroll center bottom;
}
.menupart li a:focus ,.menupart li a:hover ,.menupart li.active a{
    background: #e7eaec none repeat scroll 0 0;
    border-color: #ff4040;
    text-decoration: none;
}
img {
    max-width: 100%;
} 
.menupart li {
	min-width:236px;
    float: left;
}
#header {
    padding-bottom: 15px;
}
#banner {
    clear: both;
    padding-top: 20px;
	overflow:hidden;
	position:relative;
}
.banner-contain {
    height: 100%;
    left: 0;
    padding: 25px 35px;
    position: absolute;
    top: 0;
    width: 100%;
}
.banner-contain > p {
    display: inline-block;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.banner-contain > h3 {
    color: #01599c;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 35px;
    text-transform: uppercase;
}
.banner-contain > span {
    display: block;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 35px;
}
a.banner-link {
    background: #002f9d none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 30px 20px;
}

a.banner-link:hover{text-decoration:none;} 
#section-1 h3 ,#section-1 h3 a{
    color: #003bc7;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 25px;
    text-transform: uppercase;
}
#section-1 p {
	
    font-size: 14px;
    line-height:19px;}
#section-1 .col-md-4 {
    padding: 10px 40px 0;
    position: relative;
}
#section-1 .col-md-4:nth-child(1) {
    padding-left: 0;
    width: 300px;
}
#section-1 .col-md-4:nth-child(2) {
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    width: 375px;
}
#section-1 .col-md-4:nth-child(3) {
    padding-right: 0;
    width: 305px;
}
#section-1 {
    padding-bottom: 20px;
    padding-top: 35px;
}
#section-2 h3,#section-3 h3{
    border-bottom: 1px solid #c1c1c1;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}
#section-2 .col-md-4 {
    width: 300px;
}
#section-2 .col-md-8 {
    width:640px;
}
.co-logos {
    padding-top: 20px;
}
.co-logos img {
    margin:5px 0;
}
#section-2 {
    padding-top: 25px;

}
#section-3{padding-top:35px; position:relative;}
a.v-more {
    color: #002f9d;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
}#section-3 h3 {
    margin-bottom: 25px;
}
#section-3 .col-md-3 > h3 {
    border: medium none;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0;
    text-transform: none;
}
#section-3 .col-md-3 > p {
    font-size: 14px;
    line-height: 20px;
}
#section-3 .col-md-3 > a {
    color: #003bc7;
}
#section-3 .col-md-3 {
    padding-right: 30px;
	width:245px;
}
#footer {
    border-top: 3px solid #002f9d;
    margin-top: 35px;
    padding-top: 30px;
}
#footer .address span{font-size:16px; line-height:24px;     color: #4d4d4d; display:block; margin-bottom:5px; line-height:16px;} 
#footer .address p ,#footer .address a{
    color: #4d4d4d;
	margin:0;
    font-size: 14px;
    line-height: 24px;
}
#footer .address {
    float: right;
    position: relative;
    width: 250px;
}
#footer .col-md-3.pull-left {
    width: 150px;
}
#footer .address::before {
    background: rgba(0, 0, 0, 0) url("/static/images/m-img.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 22px;
    left: -28px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 22px;
}
.social{padding:0; list-style-type:none;}
.social li a{display:block; font-size:0; height:25px; width:25px; }
.social li {
    float: left;
    margin-right: 8px;
    margin-top: 15px;
    overflow: hidden;
}

#main-contain .part-right {
    padding-left: 30px;
    width: 215px;
}
#main-contain .part-left {
    width: 710px;
}
#main-contain h3 {
    color: #003bc7;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px;
    text-transform: uppercase;
}
#main-contain .part-left p {
    color: #000000;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}#main-contain .part-right .col-md-12 .col-md-12 {
    margin-bottom: 45px;
}
 #main-contain .part-right h3 {
    border-bottom: 1px solid #c1c1c1;
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.right-menu a {
    color: #002f9d;
    font-size: 14px;
	text-decoration:underline;
}
.right-menu > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.right-menu li {
    line-height: 20px;
    margin-bottom: 15px;
}
.right-menu {
    margin-bottom: 60px;
}
.right-menu {
    border-left: 1px solid #d2d2d2;
    margin-bottom: 60px;
    margin-left: -30px;
    padding-left: 30px;
}
.right-menu a:hover,.right-menu a:focus, .right-menu .active > a {
    color: #ff0000;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}
.right-menu .active > a::before ,.right-menu a:hover:before,.right-menu a:focus:before{
    content: "←";
    left: -18px;
    position: absolute;
    top: -2px;
}
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-top: 20px;
    padding-left: 0;
}
.breadcrumb li.active{color:#000;}
.breadcrumb li a {
    color: #888888;
}
.breadcrumb > li + li::before{color:#888;}

#main-contain .part-right p {
    font-size: 13px;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}
.page-form{
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    padding: 15px;
}
.page-form > div {
    margin-bottom: 15px;
}
.page-form label {
    font-size: 15px;
    line-height: 25px;
    width: 170px;
}
.page-form > div.button-part {
    clear: both;
    float: right;
    margin-bottom: 0;
    width: 490px;
}
.menupart .s-call,.menupart .h-link{display:none;}
.sticky .menupart .h-link:hover{color:#fff; text-decoration:underline;}
.sticky .menupart .h-link{display:inline-block; vertical-align:top; color:#fff; float:left;}
.sticky .menupart .s-call {	display:inline-block; float: right; font-size: 13px; font-weight: bold; color:#fff;margin: 0; padding-top: 5px;
}
.sticky .menupart li.active a,.sticky .menupart li a:focus ,.sticky .menupart li a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border-top: 4px solid #002f9d; text-decoration: underline;}
.sticky .menupart li a:hover::before{background:#d7d7d7 none repeat scroll 0 0;}
.sticky .menupart .s-call > span { font-weight: 600; margin-left: 15px;}
.sticky .col-md-12.menupart {    float: none !important;    margin: auto;    width: 980px;}
.menupart li:first-child a:hover:before{background:none;}
.menupart .h-link {    color: #ffffff;    font-size: 21px;}
.sticky .menupart li a::before {    height: 14px;    top: 4px;}
.sticky .menupart li a {    color: #ffffff;    font-size: 15px;    padding: 0 15px;}
.sticky nav {    display: inline-block;    margin-left: 15px;    vertical-align: top;	float:left;}
#menu-sec.sticky {	padding:15px 0;    background: #002f9d;    left: 0;    position: fixed;    top: 0; width: 100%; z-index: 99;}

.page-form label span{color:#ff0000;}
.page-form > div.col-md-3 {
    clear: both;
}
.page-form input[type="text"] {
    border: 1px solid #e3e3e3;
    float: right;
    font-size: 14px;
    margin-right: 20px;
    min-height: 32px;
    padding: 4px;
    width: 470px;
}
.page-form textarea {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    font-size: 14px;
	 width: 470px;
	 float:right;
    height: 80px;
    padding: 15px;
	
	margin-right: 20px;
}
.page-form > div.col-md-9 {
    padding-right: 25px;
}
.page-form > div.col-md-9.button-part {
    margin-bottom: 0;
}
.page-form .button-part > input {
    background: #002f9d none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-family: pt sans;
    font-size: 15px;
    font-weight: bold;
    height: 43px;
    width: 290px;
}	
#main-contain .page-form > h3 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}	
.related-links > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.related-links {
    border-top: 1px solid #c1c1c1;
    margin-top: 35px;
    padding-top: 30px;
}
.related-links li {
    margin-bottom: 15px;
}
.related-links a {
    color: #002f9d;
    font-size: 14px;
    text-decoration: underline;
}
.related-links a:hover,.related-links a:focus{color:#f00;}
.part-right strong {
    font-size: 13px;
    line-height: 16px;
}
.col-md-8 .co-logos > img {
    margin-bottom: 25px;
    margin-right: 45px;
}
#main-contain .part-left p.date {
    color: #a5a5a5;
    margin: 5px 0;
}
#main-contain .part-left .news-item .read-more{color:#002f9d;}
#main-contain .part-left .news-item p{display:inline; margin:0;}
#main-contain .part-left .news-item p.date{display:block;}
#main-contain .part-left .news-item h3{margin:0; text-transform:none;}
#main-contain .part-left .news-item {margin-bottom:50px;}

.pages span{color:#a5a5a5; display:inline-block; vertical-align:top;}
.pages ul{display:inline-block; vertical-align:top; margin:0;}
.pages ul li{border:none;}
.pages .pagination li a:hover, .pages .pagination li.active a{background:none; color:#002f9d; font-weight:bold;}
.pages .pagination li a, 
.pages .pagination li span{padding:0 15px; border:none; font-size:14px ; color:#000;}

#main-contain .discussion.clearfix > h3 {
    color: #000000;
    font-size: 14px;
    text-transform: none;
}
.discussion  {
    border-top: 1px solid #c1c1c1;
    padding: 20px 0;
}
#main-contain.news-one .part-left > h3 {
    font-size: 15px;
    margin: 0;
    text-transform: none;
}#main-contain .part-left > h3 {
    text-transform: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: medium none;
    color: #002f9d;
    font-weight: bold;
    padding: 0;
}
.nav-tabs > li {
    background: rgba(0, 0, 0, 0) url("/static/images/tab-icons.png") no-repeat scroll ;
    background-position:0 -43px;
	margin-right: 50px;
    padding-left: 30px;
}
.nav-tabs > li.active {
    background-position: 0 -1px;
}
.nav > li > a:hover, .nav > li > a:focus{    border-bottom: 1px dashed #999999; border-left:none; border-right:none;
border-top:none;background:none;}

.nav-tabs > li > a {
    border-bottom: 1px dashed #999999;
    border-radius: 0;
	 border-left:none; border-right:none;
border-top:none;
    color: #999999;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 5px;
    padding: 0;
}
.nav.nav-tabs {
    border: medium none;
    margin-bottom: 30px;
}
.con-tabs {
    margin-top: 30px;
}
.con-address a{color:#002f9d; text-decoration:underline;}
.con-address {font-size:15px;}
.con-address .col-md-2 {
    color: #606060;
}
.con-address > div {
    margin-bottom: 20px;
}
.map {
    clear: both;
    padding-top: 20px;
}
.modal-body {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
 	border-radius:0;
    padding: 15px;
}
.modal .modal-body input[type="text"] {
    border: 1px solid #e3e3e3;
    float: right;
    font-size: 14px;
    margin-right: 20px;
    min-height: 32px;
    padding: 4px;
    width: 306px;
}
.modal.sec-modal .modal-body input[type="text"] {width:470px;}
.modal.sec-modal .modal-dialog{width:710px;}
.modal.first .modal-dialog{width:530px;}
.modal .page-form > div.button-part{float:none; width:100%; text-align:center;}
.modal .page-form .button-part > input{width:200px;}
.modal.sec-modal .page-form .button-part > input{width:290px;}
.modal .page-form label{font-weight:normal;}
.modal .page-form textarea {    background: #ffffff;}
.modal label {    font-size: 15px;    line-height: 25px;    width: 170px;}
.modal h3 {	color:#000;    margin-bottom: 25px;    margin-top: 0;}
.modal.sec-modal .page-form > div.button-part {    float: right;    text-align: left;    width: 490px;}