{% load wagtailcore_tags %}
{% for item in news_items %}
    <div class="col-md-3 pull-left">
        <h3>{{ item.short_title }}</h3>

        <p>{{ item.anons|safe }}</p>
        <a href="{% pageurl item %}">Читать новость</a>
    </div>
{% endfor %}