<div class="right-menu">
    <ul>
        <li class="active"><a href=".">Все</a></li >
        {% for item in items %}
            <li><a href="/news/?category={{ item.id }}" data-id="{{ item.id }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</div>