{% load wagtailcore_tags %}
<div class="col-md-12 clearfix">
    <h3>Новости</h3>
    {% for item in news_items %}
    <div class="col-md-12 pull-left">
        <strong>{{ item.short_title }}</strong>
        <p>{{ item.anons|safe }}</p>
        <a href="{% pageurl item %}">Читать новость</a>
    </div>
    {% endfor %}
</div>