{% load wagtailcore_tags %}
<div class="right-menu">
    <ul>
        <li class="active"><a href="#">{{ calling_page.title }}</a></li >
        {% for item in menuitems %}
            <li><a href="{% pageurl item %}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</div>