{% load bhc_tags wagtailcore_tags %}
{% get_site_root as site_root %}
<nav>
    <ul>
        {% for menuitem in menuitems %}
            <li class="{% if menuitem.active %} active{% endif %}">
                <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>