{% for item in menu %}
  <li>
    <a href="{{ item.link }}"
       {% if item.alt %}alt="{{ item.alt }}"{% endif %}
       {% if item.title %}alt="{{ item.alt }}"{% endif %}>
      {{ item.name }}
    </a>
  </li>
{% endfor %}