{% for item in menu %}
  <li>

    <a href="{{ item.link }}"
       {% if item.alt %}alt="{{ item.alt }}"{% endif %}
       {% if item.title %}alt="{{ item.alt }}"{% endif %}>
      <img src="{{ item.image }}"
          {% if item.alt %}alt="{{ item.alt }}"{% endif %}
          {% if item.title %}alt="{{ item.alt }}"{% endif %}>
    </a>
  </li>
{% endfor %}