{% load static compress snippets %}
<!doctype html>
<html ng-app='app'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Велосипеды</title>

  {% compress css %}
    {% block css %}
      <link rel='stylesheet' href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}">
      <link rel='stylesheet' href="{% static 'lib/angular-ui-select/dist/select.css' %}">
      <link rel='stylesheet' href="{% static 'lib/icheck/skins/all.css' %}">
      <link rel='stylesheet' href="{% static 'lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css' %}">
      <link rel='stylesheet' href="{% static 'css/style.css' %}">
      <link rel='stylesheet' href="{% static 'css/custom.css' %}">
    {% endblock %}
  {% endcompress %}

  <script type="text/javascript">
    var data = new Object;
    {% block data %}
    {% endblock %}
  </script>

</head>

<body>
<div class="page_wrapper"> <!-- pressing footer -->
  <!-- header -->
  <header>
    <div class="header_top_menu">
      <div class="container container_1200 mein_nav_block">
        <ul class="nav nav-pills navbar_left">
          <li id="glyphicon_home"><a class="active" href="/"></a></li>
          {% header_menu %}
        </ul>
        <ul class="nav nav-pills navbar_right">
          {% social_menu %}
        </ul>
      </div>
    </div>

    <div class="container container_1200 office_block">
      <div class="office_rental">
        <a href="{% url 'studio_profile_add' %}">
          <button type="button" class="btn">Добавить прокат</button>
        </a>
        <div class="office_div">
          <img src="/static/img/Castle.png" alt="Castle.png">
          <a href="{% url 'studio_profile' %}">Кабинет проката</a>
        </div>
      </div>
      <div class="logo_studia">
        <a href="/"><img src="/static/img/Logo.png" alt="Logo"></a>
        <p><span>1 000 000</span> пунктов проката по всей России </p>
      </div>
      <div class="control_panel">
        <a href="{% url 'register' %}">
          <button type="button" class="btn">Регистрация</button>
        </a>
        <div class="control_panel_div">
          <img src="/static/img/key.png" alt="key.png">
          <a href="{% url 'profile' %}">Кабинет пользователя</a>
        </div>
      </div>
    </div>

  </header>

  <!-- Main block filter -->

  {% block content %}
  {% endblock %}


  <div class="page_buffer"></div>
  <!-- pressing footer empty block -->
</div>
<!-- pressing footer end -->
<!-- footer -->
<footer>
  <div class="container container_1200">
    <ul class="nav nav-pills footer_main_menu">
      {% footer_menu %}
    </ul>
    <div class="podpishites">
      <form ng-submit="submit()" ng-controller="SubscribeCtrl">
        <label for="podpis">Подпишись</label>
        <input ng-model="email" placeholder="Ваш e-mail" id="podpis" type="text" class="form-control">
        <span class="airplane_icon"></span>
      </form>
    </div>
    <div class="logo_small">
      <a href=""><img src="/static/img/logo_small.png" alt="logo_small.png"></a>

      <p>&copy; 2016 Непеш.com Все права защищены</p>
    </div>
    <ul class="nav nav-pills footer_navbar_right">
      {% social_menu %}
    </ul>
  </div>
</footer>
<!-- footer end -->

{% compress js %}
  {% block js %}
    <script src="{% static 'lib/jQuery/dist/jquery.js' %}"></script>
    <script src="{% static 'lib/angular/angular.js' %}"></script>
    <script src="{% static 'lib/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script src="{% static 'lib/checklist-model/checklist-model.js' %}"></script>
    <script src="{% static 'lib/angular-ui-select/dist/select.js' %}"></script>
    <script src="{% static 'lib/icheck-2.x/icheck.js' %}"></script>
    <script src="{% static 'lib/seiyria-bootstrap-slider/dist/bootstrap-slider.js' %}"></script>
    <script src="{% static 'lib/angular-bootstrap-slider/slider.js' %}"></script>
    <script src="{% static 'lib/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'lib/angular-sanitize/angular-sanitize.js' %}"></script>
    <script src="{% static 'lib/angular-animate/angular-animate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  {% endblock %}
{% endcompress %}

<script type='text/javascript'>

</script>
{% block customjs %}
{% endblock %}
</body>
</html>
