{% extends 'base.html' %}
{% load hitcount_tags staticfiles utils thumbnail %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/jssor.slider.min.js' %}"></script>
  <script src="{% static 'js/slider.js' %}"></script>
{% endblock %}
{% block header_search %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
  <div class="container container_1200">
    <hr>
  </div>

  <!-- Private rental office -->
  <!-- bicycles_rental -->

  <div class="container container_1200">
    <div class="nav_block_bicycles_rental">
      <a href=""><img src="/static/img/hous_blue.png" alt="hous_blue.png"></a>
      <span>/</span><a href="">{{ object.studio.name|slice:"50" }}</a>
      <span>/</span>
      <p>Велосипед {{ object.name|slice:"30" }}</p>
    </div>
  </div>
  <!-- bicycles_rental -->

  <!-- rolled contacts -->

  <!-- rental description -->
  <div class="container container_1200">
    <div class="cyclist_card">
      <div class="col-md-6 cyclist_card_left"></div>
      <div class="col-md-6 cyclist_card_right"></div>
      <div class="col-md-12 cyclist_card_header">
        <div class="col-md-6 cyclist_card_header1">Велосипед {{ object.name }}</div>
        <div class="col-md-6 cyclist_card_header2">
          <div class="pull-right">Просмотров: <b>{% get_hit_count for object %}</b> за
            сегодня {% get_hit_count for object within "days=1" %}</div>
        </div>
      </div>
      <div class="col-md-6 description_slider">
        <div class="slider_rolled">
          <img src="{{ object.photos.all.0.image.url }}" alt="{{ object.name }}">
        </div>
        <div class="slider_rolled_nav">
          {% for photo in object.photos.all %}
            <div
                class="{% if forloop.first %}active{% endif %} nav_img_smoll {% if forloop.last %}margin_right{% endif %}">
              <a href="">
                {% thumbnail photo.image.url "68x68" as im %}
                  <img data-u="image" src="{{ im.url }}"/>
                {% empty %}
                  <img data-u="thumb" src="{{ photo.image.url }}"/>
                {% endthumbnail %}
              </a>
            </div>
          {% endfor %}
        </div>
        {% if object.desc %}
          <div class="rolled_text">
            <div class="rolled_text_o_nas">Описание</div>
            <div class="rolled_text_1"><br>
              {{ object.desc|default:"" }}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="cyclist_c_right" id="cyclist_card">
        <div class="col-md-12 cyclist_c_right_main">
          <div class="cyclist_c_right1">
            <div class="pull-left catalog_zabronirovat_prise">{{ object.price|default:'0' }}
              <span class="glyphicon glyphicon-ruble"> / час</span>

            </div>
            <div class="pull-right">
              <button type="button" class="btn time_catalog_button">
                Забронировать
              </button>
            </div>
            <div class="cyclist_c_right2">
              <div class="time_catalog"><b>{{ object.price_2hours|default:'0' }}</b> <span
                  class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2
                часов
              </div>
              <div class="time_catalog"><b>{{ object.price_day|default:'0' }}</b> <span
                  class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в день
              </div>
              <div class="time_catalog"><b>{{ object.price_week|default:'0' }}</b> <span
                  class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в неделю
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 cyclist_c_right_main">
          <div class="cyclist_c_right1">
            <div class="col-md-6 pull-left">
              <div class="haracteristici">характеристики</div>
              {% for key, value in object.get_properties.items %}
                <div class="catalog_p">
                  {% if value.img %}
                    <div>
                      <img src="{% static value.img %}" alt="">
                    </div>
                  {% endif %}
                  {{ value.name }}
                </div>
              {% endfor %}
{#              <div class="catalog_p first"><img src="/static/img/prjamoygolnik.png" alt="prjamoygolnik.png">Цвет</div>#}
            </div>
{#            <div class="col-md-6 pull-right">#}
{#            </div>#}
          </div>
        </div>
        {% if object.chars.all|length %}
          <div class="col-md-12 cyclist_c_right_main">
            <div class="cyclist_c_right1">
              <div class="col-md-6 pull-left">
                <div class="haracteristici three">дополнительные опции</div>
                <div class="checkbox_1_label checkbox_1_label_dop">
                  {% for char in object.chars.all|partition:"2"|first %}
                    <input type="checkbox" checked="checked" class="checkbox_{{ forloop.counter }}"
                           id="dop{{ forloop.counter }}">
                    <label for="dop{{ forloop.counter }}" class="checkbox-inline label-checkbox">{{ char.name }}
                    </label>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-6 pull-right two">
                <div class="checkbox_1_label checkbox_1_label_dop">
                  {% for char in object.chars.all|partition:"2"|last %}
                    <input type="checkbox" checked="checked" class="checkbox_{{ forloop.counter }}"
                           id="dop{{ forloop.counter }}">
                    <label for="dop{{ forloop.counter }}" class="checkbox-inline label-checkbox">{{ char.name }}
                    </label>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="col-md-12 cyclist_c_right_main four">
          <div class="cyclist_c_right1">
            <div class="Studio_proc"><img src="/static/img/two_colesa.png" alt="two_colesa.png">&nbsp;&nbsp;&nbsp;&nbsp;
              {{ object.studio.name|slice:"30" }}
            </div>
            <div class="block">
              <div class="col-md-12 padding">
                <div class="rating reviews_rating">
                  <span
                      {% if rating.average.rating_score__avg|floatformat:"0" == '5' %}class="active"{% endif %}></span>
                  <span
                      {% if rating.average.rating_score__avg|floatformat:"0" == '4' %}class="active"{% endif %}></span>
                  <span
                      {% if rating.average.rating_score__avg|floatformat:"0" == '3' %}class="active"{% endif %}></span>
                  <span
                      {% if rating.average.rating_score__avg|floatformat:"0" == '2' %}class="active"{% endif %}></span>
                  <span
                      {% if rating.average.rating_score__avg|floatformat:"0" == '1' %}class="active"{% endif %}></span>
                  <div>{{ rating.average.rating_score__avg|floatformat }}</div>
                </div>
                <div class="adres_block">
                  <div><img src="/static/img/images/adress_otzivi.png" alt="adress_otzivi.png"></div>
                  <a href="{% url 'studio' pk=object.studio.pk view='reviews' %}">
                    {% if rating.plus.pk__count %}
                      +{{ rating.plus.pk__count }}
                      {% morph_words rating.plus.pk__count 'отзыв' 'отзыва' 'отзывов' %}</a>
                    {% else %}
                      Нет отзывов
                    {% endif %}
                </div>
              </div>
              <div class=" rolled_info_div">Контакты</div>
              <div class="rolled_tell"><img src="/static/img/rolled_tell.png" alt="rolled_tell.png">&nbsp;&nbsp;
                {{ object.studio.phone }}
              </div>
              <div class="fife">
                <a href="{% url 'studio' pk=object.studio.pk view='contacts' %}">
                  <img src="/static/img/adress_big.png" alt="adress_big.png"/>{{ object.studio.address }}
                </a>
              </div>
              <div class="six">
                <a href="{% url 'studio' pk=object.studio.pk view='velos' %}">
                  <img src="/static/img/bicegli_not_smoll.png" alt="bicegli_not_smoll.png"/>Все велосипеды этой студии
                </a>
              </div>
              <div class="rolled_info_div seven">режим работы</div>

              <div class="rolled_regim">
                {# TODO: working times #}
                Пн-Пт: <b>9:00 - 19:00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Cб: <span>9:00 - 22:00</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Вс: <span>8:00 - 22:00</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}