{% extends 'base.html' %}
{% load staticfiles utils %}
{% block header_search %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/jssor.slider.min.js' %}"></script>
  <script src="{% static 'js/slider.js' %}"></script>
{% endblock %}
{% block css %}
  {{ block.super }}
  <link rel='stylesheet' href="{% static 'css/slider.css' %}">
{% endblock %}

{% block content %}
  <div class="container container_1200">
    <hr>
  </div>
  <div class="container container_1200">
    <div class="nav_block_bicycles_rental">
      <a href=""><img src="/static/img/hous_blue.png" alt="hous_blue.png"></a>
      <span>/</span><a href="">{{ object.name|slice:'30' }}</a>
      <span>/</span>
      <p>
        {% if view == 'velos' %}
          Велосипеды студии
        {% elif view == 'reviews' %}
          Отзывы студии
        {% elif view == 'desc' %}
          Описание студии
        {% elif view == 'contacts' %}
          Контакты студии
        {% endif %}
      </p>
    </div>
  </div>
  <div class="container_1200 hr_border_top">
    <hr>
  </div>
  <div class="container container_1200 rolled">
    <div>
      <a href="{% url 'studio' pk=object.pk %}"><img src="{{ object.photos.all.0.image.url }}" alt="" /></a>
    </div>
    <div>
      <p class="folled_p">Студия проката «{{ object.name|slice:'30' }}»</p>
      <div class="rating">
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '5' %}class="active"{% endif %}></span>
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '4' %}class="active"{% endif %}></span>
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '3' %}class="active"{% endif %}></span>
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '2' %}class="active"{% endif %}></span>
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '1' %}class="active"{% endif %}></span>
        <div>{{ rating.average.rating_score__avg|floatformat }}</div>
      </div>
    </div>
  </div>
  <div class="container container_1200 rolled_nav">
    <div class="r_b_top">
      <div class="{% if view == 'velos' %}active{% else %}bicegli_a{% endif %}">
        <a class="bicycles" href="{% url 'studio' pk=object.pk %}">
          <span class="span_45">{{ velos_count }}</span>
          {% morph_words velos_count 'Велосипед' 'Велосипеда' 'Велосипедов' %} студии
        </a>
      </div>
      <div class="{% if view == 'desc' %}active{% else %}bicegli_a{% endif %}">
        <a class="rentals" href="{% url 'studio' pk=object.pk view='desc' %}">Описание проката</a>
      </div>
      <div class="{% if view == 'reviews' %}active{% else %}bicegli_a{% endif %}">
        {% url 'studio' pk=object.pk view='reviews' as reviews_url %}
        <a class="Reviews" href="{{ reviews_url }}">Отзывы:</a>
        <a class="plus_otziv" href="{{ reviews_url }}">+{{ rating.plus.pk__count }}</a>
        <a class="minus_otziv" href="{{ reviews_url }}">-{{ rating.minus.pk__count }}</a>
      </div>
      <div class="{% if view == 'contacts' %}active{% else %}bicegli_a{% endif %}" id="contacts_margin"><a
          class="contacts"
          href="{% url 'studio' pk=object.pk view='contacts' %}">Контакты</a>
      </div>
{#      <div class="r_b_top_a">#}
{#         TODO: need markup to sort plitka/spisok #}
{#        <a href=""><img src="/static/img/link_catalog1.png" alt="link_catalog1.png"></a>#}
{#        <a class="active" href=""><img src="/static/img/link_catalog2_active.png" alt="link_catalog2_active.png"></a>#}
{#      </div>#}
    </div>
  </div>
  {% with "studio/"|add:view|add:'.html' as template %}
    {% include template %}
  {% endwith %}
{% endblock %}