<div class="container container_1200">
  <div class="rolled_main">
    <div class="rolled_map">
      <script type="text/javascript" charset="utf-8"
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gsJFyMO_mbNOJu796KGvWCvvZaob4Hrv&width=605&height=573&lang=ru_UA&sourceType=constructor"></script>
    </div>
    <div class="rolled_info">
      <h2>Контактная информация</h2>
      <div class="rolled_info_div" style="margin-bottom: 10px;">телефоны</div>
      <div class="rolled_tell"><img src="/static/img/rolled_tell.png" alt="rolled_tell.png">&nbsp;&nbsp;{{ object.phone }}</div>
      <div class="rolled_tell" style="margin-left: 30px;">{{ object.phone }}</div>

      <div class="rolled_info_div">Адрес основной</div>
      <div><a href=""><img src="/static/img/rolled_a.png" alt="rolled_tell.png">{{ object.address }}</a></div>

      {% if object.offices.all %}
        {% for filial in object.offices.all %}
          <div class="rolled_info_div">{{ filial.name }}</div>
          <div><a href=""><img src="/static/img/rolled_green.png" alt="rolled_tell.png">{{ filial.address }}</a></div>
        {% endfor %}
      {% endif %}

      <div class="rolled_info_div" style="margin: 26px 0 6px;">режим работы</div>
      <div class="rolled_regim">Пн-Пт: <b>9:00 - 19:00</b></div>
      <div class="rolled_regim">Cб: <span>9:00 - 22:00</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вс:
        <span>8:00 - 22:00</span></div>
    </div>
  </div>
</div>