{% load thumbnail utils %}
<div class="container container_1200">
  <div class="rolled_main rental_description">
    <div class="description_slider">
      {% if object.photos.all %}
        <div id="jssor_1" style="height: 510px;">
          <div data-u="loading">
            <div class="cloak"></div>
            <div class="load"></div>
          </div>
          <div data-u="slides" class="slides">
            {% for photo in object.photos.all %}
              <div data-p="200" style="display: none;">
                <img data-u="image" src="{{ photo.image.url }}"/>

                {% thumbnail photo.image.url "68x68" as im %}
                  <img data-u="thumb" src="{{ im.url }}"/>
                {% empty %}
                  <img data-u="thumb" src="{{ photo.image.url }}"/>
                {% endthumbnail %}
              </div>
            {% endfor %}
          </div>
          <div data-u="thumbnavigator" class="jssort01" data-autocenter="1">
            <div data-u="slides">
              <div data-u="prototype" class="p">
                <div class="w">
                  <div data-u="thumbnailtemplate" class="t"></div>
                </div>
                <div class="c"></div>
              </div>
            </div>
          </div>
          <span data-u="arrowleft" class="jssora05l"></span>
          <span data-u="arrowright" class="jssora05r"></span>
        </div>
      {% endif %}
      <div class="rolled_text">
        <div class="rolled_text_o_nas">О нас</div>
        <div class="rolled_text_1">
          {{ object.desc|default:"" }}
        </div>
      </div>
    </div>
    <div class="rentall_info">
      <h2>Дополнительный<br> уровень сервиса<br> проката</h2>
      <div class="rentall_info_chechbox">
        {% for service in object.additional.all %}
          <input type="checkbox" value="agree" class="checkbox_1" id="dop_{{ forloop.counter }}">
          <label for="dop1" class="checkbox-inline label-checkbox">{{ service.name }}
          </label><br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>