{% load utils bootstrap3 %}
<div class="container container_1200">
  <div class="reviews_all">
    <div class="reviews_img"><img src="/static/img/images/otzivi_active_big.png" alt="otzivi_active_big.png"></div>
    <h1>{{ object.reviews.all|length }} {% morph_words object.reviews.all|length 'отзыв' 'отзыва' 'отзывов' %} от всех
      пользователей за все время</h1>{# TODO: морфология слова "отзывы" #}
    <div class="col-md-12"></div>
    <div class="pull-left width_block">
      {% for review in object.reviews.all %}
        <div class="reviews_hr">
          <div class="reviews_header">{{ review.user.first_name }}{{ review.user.lastname }}</div>
          <div class="reviews_hr_img"><img src="/static/img/images/reviews.png" alt="reviews.png">
            {{ review.date }}
          </div>
          <div class="col-md-12"></div>
          <div class="rating reviews_rating">
            <span {% if review.rating.get_rating|floatformat:"0" == '5' %}class="active"{% endif %}></span>
            <span {% if review.rating.get_rating|floatformat:"0" == '4' %}class="active"{% endif %}></span>
            <span {% if review.rating.get_rating|floatformat:"0" == '3' %}class="active"{% endif %}></span>
            <span {% if review.rating.get_rating|floatformat:"0" == '2' %}class="active"{% endif %}></span>
            <span {% if review.rating.get_rating|floatformat:"0" == '1' %}class="active"{% endif %}></span>
            <div>{{ review.rating.get_rating }}</div>
          </div>
          <div class="reviews_opis">
            <div class="reviews_opis_header">Достоинства</div>
            <div class="reviews_opis_p">
              {{ review.plus|default:"" }}
            </div>

            <div class="reviews_opis_header">недостатки</div>
            <div class="reviews_opis_p">
              {{ review.minus|default:"" }}
            </div>

            <div class="reviews_opis_header">Комментарий</div>
            <div class="reviews_opis_p">
              {{ review.comment|default:"" }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="Add_review">
      {% if request.user.is_authenticated %}
      <form action="" method="post" ng-controller="ReviewFormCtrl">
        {% csrf_token %}
        <div class="Add_review_header">Добавить отзыв</div>
        <div class="rating Add_review_rating" >
          <span ng-click="ratingClick(5)"></span>
          <span ng-click="ratingClick(4)"></span>
          <span ng-click="ratingClick(3)"></span>
          <span ng-click="ratingClick(2)"></span>
          <span ng-click="ratingClick(1)"></span>
          <div class="vote">Оцените<i class="glyphicon glyphicon-triangle-left">&nbsp;</i></div>
          <input type="hidden" name="rating" id="id_rating" />
        </div>
        <div class="Add_review_form">
          <div>Ваше имя</div>
{#          {% bootstrap_field form.user show_label=False %}#}
          <input type="text" class="form-control" value="{{ request.user.first_name|add:" "|add:request.user.last_name }}">
        </div>
        <div class="Add_review_form">
          <div>Достоинства</div>
{#          <textarea class="form-control"></textarea>#}
          {% bootstrap_field form.plus show_label=False %}
        </div>
        <div class="Add_review_form">
          <div>Недостатки</div>
{#          <textarea class="form-control"></textarea>#}
          {% bootstrap_field form.minus show_label=False %}
        </div>
        <div class="Add_review_form">
          <div>Комментарий</div>
{#          <textarea class="form-control"></textarea>#}
          {% bootstrap_field form.comment show_label=False %}
        </div>
        <div class="Add_review_btn">
          <button type="submit" class="btn">
            Добавить отзыв
          </button>
        </div>
      </form>
      {% else %}
        Только зарегестрированный пользователь может оставить отзыв!
        <a href="{% url 'login' %}">Авторизуйтесь</a> или
        <a href="{% url 'register' %}">зарегестрируйтесь</a>
        {# TODO login form or auth|reg link #}
      {% endif %}
    </div>

  </div>
</div>