<div class="container container_1200">
  <div class="Studio_Rental_Two">
    <div class="block_filter block_filter_marka">
      <div class="block_filter_section ui_select_my" ng-controller='OfficesCtrl'>
        <p class="block_filter_section_p">Филиал</p>
        <ui-select ng-model='s.dropdownSelection'>
          <ui-select-match placeholder='Все' allow-clear>
            <span class="ui_select" ng-bind='$select.selected.name'></span>
          </ui-select-match>

          <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
            <span ng-bind='t.name'></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <!-- Main block filter -->
    <div class="main_block_filter">
      <p class="search_p">Расширенный поиск</p>
      <a class="filter_cliner" href=""><span>&#215;</span> Очистить все</a>
      <div class="block_filter">
        <div class="block_filter_section ui_select_my" ng-controller='FilterCtrl'>
          <p class="block_filter_section_p">Марка</p>
          <ui-select ng-model='s.dropdownSelection'>
            <ui-select-match placeholder='Выбор марки' allow-clear>
              <span class="ui_select" ng-bind='$select.selected.name'></span>
            </ui-select-match>

            <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
              <span ng-bind='t.name'></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
          <p class="block_filter_section_p">Модель</p>
          <ui-select ng-model='s.dropdownSelection'>
            <ui-select-match placeholder='Выбор модели' allow-clear>
              <span class="ui_select" ng-bind='$select.selected.name'></span>
            </ui-select-match>

            <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
              <span ng-bind='t.name'></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="block_filter_section prise_for">
          <p class="block_filter_section_p">Цена за час /
            <span class="glyphicon glyphicon-ruble"></span></p>
          <div>
            <slider ng-model='s.sliderValue' min='1' step='1' max='100' range='true' value='[25, 70]'></slider>
          </div>

          <div>
            <h3></h3>
          </div>

          <div class="prise_p">
            <p class="prise_left">{{ s.sliderValue }}</p>
          </div>
        </div>

        <div class="block_filter_section filter_color">
          <p class="block_filter_section_p">Цвет</p>
          <div class="filter_checkbox_label">
            <input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox1">
            <label for="input-checkbox1" class="checkbox-inline label_checkbox_filter label_chech1">
            </label>
            <input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox2">
            <label for="input-checkbox2" class="checkbox-inline label_checkbox_filter label_chech2">
            </label>
            <input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox3">
            <label for="input-checkbox3" class="checkbox-inline label_checkbox_filter label_chech3">
            </label>
            <input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox4">
            <label for="input-checkbox4" class="checkbox-inline label_checkbox_filter label_chech4">
            </label>
            <input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox5">
            <label for="input-checkbox5" class="checkbox-inline label_checkbox_filter label_chech5">
            </label>
            <input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox6">
            <label for="input-checkbox6" class="checkbox-inline label_checkbox_filter label_chech6">
            </label>
          </div>

        </div>
        <div class="block_filter_section razmer_colesa">
          <p class="block_filter_section_p">Размер колеса</p>
          <div class="checkbox_1_label">
            <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size1">
            <label for="size1" class="checkbox-inline label-checkbox">12
            </label>
            <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size2">
            <label for="size2" class="checkbox-inline label-checkbox">16
            </label>
            <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size3">
            <label for="size3" class="checkbox-inline label-checkbox razmer_colesa_18">18
            </label>
            <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size4">
            <label for="size4" class="checkbox-inline label-checkbox">20
            </label>
            <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size5">
            <label for="size5" class="checkbox-inline label-checkbox">22
            </label>
            <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size6">
            <label for="size6" class="checkbox-inline label-checkbox razmer_colesa_24">24
            </label>
            <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size7">
            <label for="size7" class="checkbox-inline label-checkbox">26
            </label>
            <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size8">
            <label for="size8" class="checkbox-inline label-checkbox">29
            </label>
          </div>

        </div>
        <div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
          <p class="block_filter_section_p">Тип рамы</p>
          <ui-select ng-model='s.dropdownSelection'>
            <ui-select-match placeholder='Выбор модели' allow-clear>
              <span class="ui_select" ng-bind='$select.selected.name'></span>
            </ui-select-match>

            <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
              <span ng-bind='t.name'></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
          <p class="block_filter_section_p">Тип подвески</p>
          <ui-select ng-model='s.dropdownSelection'>
            <ui-select-match placeholder='Выбор модели' allow-clear>
              <span class="ui_select" ng-bind='$select.selected.name'></span>
            </ui-select-match>

            <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
              <span ng-bind='t.name'></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
          <p class="block_filter_section_p">Кол-во скоростей</p>
          <ui-select ng-model='s.dropdownSelection'>
            <ui-select-match placeholder='16' allow-clear>
              <span class="ui_select" ng-bind='$select.selected.name'></span>
            </ui-select-match>

            <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
              <span ng-bind='t.name'></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="block_filter_section dop_option">
          <p class="block_filter_section_p">Доп. опции</p>
          <div class="checkbox_1_label checkbox_1_label_dop">
            <input type="checkbox" value="agree" class="checkbox_1" id="dop1">
            <label for="dop1" class="checkbox-inline label-checkbox">Детское седенье
            </label>
            <input type="checkbox" value="agree" class="checkbox_1" id="dop2">
            <label for="dop2" class="checkbox-inline label-checkbox">Дополнительные колеса
            </label>
            <input type="checkbox" value="agree" class="checkbox_1" id="dop3">
            <label for="dop3" class="checkbox-inline label-checkbox">Литые диски
            </label>
            <input type="checkbox" value="agree" class="checkbox_1" id="dop4">
            <label for="dop4" class="checkbox-inline label-checkbox">Дисковые тормоза
            </label>
          </div>
        </div>
        <div class="block_filter_section dop_option">
          <p class="block_filter_section_p">Сервисы проката</p>
          <div class="checkbox_1_label checkbox_1_label_dop">
            <input type="checkbox" value="agree" class="checkbox_1" id="serfice1">
            <label for="serfice1" class="checkbox-inline label-checkbox">Рукомойник
            </label><br>
            <input type="checkbox" value="agree" class="checkbox_1" id="serfice2">
            <label for="serfice2" class="checkbox-inline label-checkbox">Туалет
            </label>
            <input type="checkbox" value="agree" class="checkbox_1" id="serfice3">
            <label for="serfice3" class="checkbox-inline label-checkbox">Питьевая вода
            </label>
            <input type="checkbox" value="agree" class="checkbox_1" id="serfice4">
            <label for="serfice4" class="checkbox-inline label-checkbox">Камера хранения
            </label>
          </div>
        </div>

        <div class="block_filter_section filter_apply">
          <a href="">
            <img src="/static/img/apply_button.png" alt="apply_button.png">
          </a>
        </div>
      </div>
      <a class="filter_cliner cliner_bottom" href=""><span>&#215;</span> Очистить все</a>
    </div>
  </div>

  <div class="Studio_catalog">

    {% for bike in velos %}
      {% url 'bike' pk=bike.pk as bike_url %}
      <div class="Studio_main {% if not orloop.counter|divisibleby:3 %}Studio_main_margin{% endif %} text-center">
        <div class="Studio_main_img">
          <a href="{{ bike_url }}"><img src="/static/img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
        </div>
        <div class="catalog_name">
          <a href="{{ bike_url }}" class="opisanie_name">{{ bike.name|slice:'30' }}</a>
        </div>
        <div class="catalog_zabronirovat_prise">{{ bike.price|default:"0" }}
          <span class="glyphicon glyphicon-ruble"> / час</span>
        </div>
        <div>
          <a href="{{ bike_url }}" type="button" class="btn time_catalog_button">
            Забронировать
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


  <div class="container container_1200 text_center">
    <button type="button" class="btn echo_predlogeniy">
      Еще 20 велосипедов
    </button>
  </div>