{% extends 'index.html' %}{% load staticfiles %}
{% block body %}
<form ng-controller="MyBaseFormCntrl" name="contact_form">
    {{form}}
    <button ng-click="submit()">Submit</button>
</form>
{% endblock %}

{% block js %}
	{{ block.super }}
<script type="text/javascript">

var my_app = angular.module('example',[]).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    }).config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
	});

my_app.controller('MyBaseFormCntrl', function($scope, $http) {
    $scope.submit = function() {
        var in_data = { subject: $scope.subject };
        $http.post('{{ request.path }}', in_data).then(function successCallback(response) {
    		alert("post done ok")
		  }, function errorCallback(response) {
		    alert("post error")
		  });
	}
}); 	
</script>
{% endblock %}