{% load staticfiles%}
<!doctype html>
<html lang="en" ng-app="example">
<head>
  <meta charset="utf-8">
{% block css %}
{% endblock %}
</head>
<body>

{% block body %}
{% endblock %}

{% block js %}
  <script src="{% static "angular/angular.min.js" %}"></script>
  <script src="{% static "djangular/js/django-angular.min.js" %}"></script>
{% endblock %}
</body>
</html>