<div ng-controller='BikesFilter'>
    <!-- Search_block -->
    <div class="container container_1200">
      <div class="Search_block" ng-controller='TopSearchCtrl'>
        <div class="col-md-12 Search_block1">
          <div><img src="/static/img/procatitsa.png" alt="procatitsa.png"></div>
          <div>Желаете прокатиться?</div>
          <div class="ui_select_chearch_my">

            <ui-select ng-model='peoplenum' on-select="selectPeople($item, $model)" ng-init="peoplenum={'id': 1, name: '1 человек'}" ng-change="update(peoplenum)">
              <ui-select-match placeholder='Количество человек' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in (peoples | filter:$select.search) track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>

          </div>
          <div class="ui_select_chearch_my">
            <ui-select ng-model='form.gender' on-select="selectGender($item, $model)">
              <ui-select-match placeholder='Пол' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in (data.bike_filter_data.gender | filter:$select.search) track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="ui_select_chearch_my">
            <ui-select ng-model='form.purpose' on-select="selectVelotype($item, $model)">
              <ui-select-match placeholder='Тип велосипеда' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in (data.bike_filter_data.purpose | filter:$select.search) track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-md-12 Search_block2">
          <div class="procatitsa"><img src="/static/img/gde.png" alt="procatitsa.png"></div>
          <div>Где удобно забрать<br> велосипед?</div>
          <div class="ui_select_chearch_my" >
            <ui-select ng-model='geo.city' on-select="geo.region=null">
              <ui-select-match placeholder='Москва' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in (data.data.citys | filter:$select.search) track by t.id'>

                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="ui_select_chearch_my">
            <ui-select ng-model='geo.region'>
              <ui-select-match placeholder='Район' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in geo.city.aryas track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="wontch_bicegli">
            <div class="checkbox_1_label">
              <input type="checkbox" value="agree" class="checkbox_1" id="input-checkbox" ng-model="geo.dostavka">
              <label for="input-checkbox" class="checkbox-inline label-checkbox">
                Хочу велосипед<br>с доставкой
              </label>
            </div>
          </div>
        </div>
        <div class="Zoom_out">
          <a href="" ng-click="submit()"><img src="/static/img/Zoom_out.png" alt="Zoom_out.png"></a>
        </div>
      </div>
    </div>
    <!-- Search_block end -->
	<div class="container container_1200">
	    <div class="r_b_top">
	      <div class="active"><a class="bicycles"  >Велосипеды </a></div>
	      <div class="bicegli_a">
		      <a class="rentals"
		      ng-click="changeView('studios_filter'); ">
		      	Прокаты
		      </a>
		     </div>
	      <div class="bicegli_a"><a href="" class="map">Карта</a></div>
	      <div class="r_b_top_select ui_select_prise_my">
	        <ui-select ng-model='form.order' ng-init="form.order=makeorder(form.order)">
	          <ui-select-match placeholder='По цене за час' allow-clear>
	            <span  class="ui_select" ng-bind='$select.selected.name'></span>
	          </ui-select-match>
	          <ui-select-choices repeat='t in order track by t.id'>
	            <span ng-bind='t.name'></span>
	          </ui-select-choices>
	        </ui-select>
	      </div>
	      <div class="r_b_top_a">
	        <a class="active" href=""><img src="/static/img/link_catalog1_active.png" alt="link_catalog1_active.png"></a>
	        <a href=""><img src="/static/img/link_catalog2.png" alt="link_catalog2.png"></a>
	      </div>
	    </div>
	    <!-- list content -->
			<div>
				{% include 'filter/velo_filter.html' %}
				<div id="bicycles_list" ng-bind-html="bike_list_html">
				{% include 'filter/bike_list.html' %}
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="container container_1200 text_center">
			  <button type="button" class="btn echo_predlogeniy">
			    Еще 20 предложений
			  </button>
			</div>
		<!-- /list content -->        
	</div>
</div>