{% load hitcount_tags staticfiles utils thumbnail %}
<div class="main_catalog">
  {% for object in object_list %}
    {% url 'bike' pk=object.pk as bike_url %}
    <div class="main_catalog_bicegli">
      <div class="main_catalog_bicegli1">
        <div class="catalog_foto">
          <a href="{{ bike_url }}"><img src="{{ object.photos.all.0.image.url }}" alt="{{ object.name }}"></a>
        </div>
        <div class="catalog_opisanie">
          <a href="{{ bike_url }}" class="opisanie_name">{{ object.name|slice:"30" }}</a>
          {% for key, value in object.get_properties.items %}
            <div class="catalog_p">
              {% if value.img %}
                <div>
                  <img src="{% static value.img %}" alt="">
                </div>
              {% endif %}
              {{ value.name }}
            </div>
          {% endfor %}
        </div>
        <div class="catalog_zabronirovat">
          <div class="catalog_zabronirovat_prise">{{ object.price|default:'0' }}
            <span class="glyphicon glyphicon-ruble"> / час</span>

          </div>
          <div class="time_catalog"><b>{{ object.price_2hours|default:'0' }}</b> <span
              class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2
            часов
          </div>
          <div class="time_catalog"><b>{{ object.price_day|default:'0' }}</b> <span
              class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в день
          </div>
          <div class="time_catalog"><b>{{ object.price_week|default:'0' }}</b> <span
              class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в неделю
          </div>
          <div>
            <a href="{{ bike_url }}" type="button" class="btn time_catalog_button">Забронировать</a>
          </div>
        </div>
      </div>
      <div class="main_catalog_bicegli2">
        <div class="adres_block">
          <div><img src="/static/img/images/adress.png" alt="adress_otzivi.png"></div>
          {{ object.studio.address|slice:"30" }}</div>
        <div class="adres_block">
          <div><img src="/static/img/images/adress_procat.png" alt="adress_procat.png"></div>
          {{ object.studio.name|slice:"30" }}</div>
        <div class="adres_block lastb" style="">
          <div><img src="/static/img/images/adress_otzivi.png" alt="adress_otzivi.png"></div>
          <a href="{% url 'studio' pk=object.studio.pk view='reviews' %}">
        <div class="rating reviews_rating">
          <span
              {% if rating.average.rating_score__avg|floatformat:"0" == '5' %}class="active"{% endif %}></span>
          <span
              {% if rating.average.rating_score__avg|floatformat:"0" == '4' %}class="active"{% endif %}></span>
          <span
              {% if rating.average.rating_score__avg|floatformat:"0" == '3' %}class="active"{% endif %}></span>
          <span
              {% if rating.average.rating_score__avg|floatformat:"0" == '2' %}class="active"{% endif %}></span>
          <span
              {% if rating.average.rating_score__avg|floatformat:"0" == '1' %}class="active"{% endif %}></span>
          <div>{{ rating.average.rating_score__avg|floatformat }}</div>
        </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
		