{% extends 'base.html' %}

{% block data %}
    data.bike_filter_data={{ bike_filter | safe }}
    data.data={{ data | safe }}
{% endblock %}

{% block customjs %}
<script type="text/javascript">
$( document ).ready(function() {
    location.hash='bikes_filter'
});
</script>
{% endblock %}

{% block content %}
<div ng-view id="bodycontent">
</div>  
{% endblock %}

  	
  
