{% load staticfiles utils %}
<div class="main_catalog">
  {% for object in object_list %}
    {% url 'studio' pk=object.pk as studio_url %}
    <div class="main_catalog_bicegli">
      <div class="main_catalog_bicegli1">
        <div class="catalog_foto">
          <a href=""><img src="{{ object.photos.all.0.image.url }}" alt="velo_bro.png"></a>
        </div>
        <div class="catalog_opisanie catalog_opisanie_two">
          <a href="{{ studio_url }}" class="opisanie_name">{{ object.name|slice:'20' }}</a>
          <div class="catalog_p">
            <div><img src="/static/img/images/men_b.png" alt="16skorostey.png"></div>
            Мужских <b>{{ object.num_men }}</b></div>
          <div class="catalog_p">
            <div><img src="/static/img/images/women_b.png" alt="16skorostey.png"></div>
            Женских <b>{{ object.num_women }}</b></div>
          <div class="catalog_p">
            <div><img src="/static/img/images/podrostok_b.png" alt="16skorostey.png"></div>
            Подростковых <b>{{ object.num_teen }}</b></div>
          <div class="catalog_p">
            <div><img src="/static/img/images/children_b.png" alt="16skorostey.png"></div>
            Детских <b>{{ object.num_kids }}</b></div>
        </div>
        <div class="catalog_zabronirovat catalog_zabronirovat_two">
          <div class="catalog_zabronirovat_prise"><span>от</span> {{ object.price_hour_start }}
            <span class="glyphicon glyphicon-ruble"> / час</span>

          </div>
          <div>
            <a href="{{ studio_url }}"></a>
            <button type="button" class="btn time_catalog_button">
              Посмотреть все велосипеды
            </button>
          </div>
        </div>
      </div>
      <div class="main_catalog_bicegli2">
        <div class="adres_block">
          <div>
            <img src="/static/img/images/adress.png" alt="adress_otzivi.png">
          </div>
          {{ object.address|slice:"30" }}
        </div> {# TODO: rating in bike list #}
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '5' %}class="active"{% endif %}></span>
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '4' %}class="active"{% endif %}></span>
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '3' %}class="active"{% endif %}></span>
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '2' %}class="active"{% endif %}></span>
        <span {% if rating.average.rating_score__avg|floatformat:"0" == '1' %}class="active"{% endif %}></span>
        <div>{{ rating.average.rating_score__avg|floatformat }}</div>
        <div class="adres_block_two">
          <div>
            <img src="/static/img/images/adress_otzivi.png" alt="adress_otzivi.png">
          </div>
          Отзывы:
          <a href="" class="plus_otziv">+{{ rating.plus.pk__count|default:"0" }}</a>
          <a class="minus_otziv">-{{ rating.minus.pk__count|default:"0" }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
		