 
   <div class="main_block_filter" style="margin-top: -40px;">
      <form
        name="filterForm"
      >
        <p class="search_p" >Расширенный поиск</p>
        <a class="filter_cliner" href=""><span>&#215;</span> Очистить все</a>
        <div class="block_filter">
            <div class="block_filter_section">
              <p class="block_filter_section_p">Цена за час /  
                <span class="glyphicon glyphicon-ruble"></span></p>
                <div class="pricefix">
                  <slider ng-model='form.price' name="price" min='{{price_start}}' step='{{price_step}}' max='{{price_end}}' range='true' value='[{{price_start}}, {{price_end}}]'></slider>
                </div>

                <div>
                  <h3></h3>
                </div>
                
              <div class="prise_p">
                <p class="prise_left">{( form.price[0] )}</p>
                <p class="prise_right">{( form.price[1] )}</p>
              </div>
            </div>
          <div class="block_filter_section">
              <p class="block_filter_section_p">Сервисы проката</p>
              <div class="checkbox_1_label checkbox_1_label_dop">
              {% for object in additional %}
              <input type="checkbox" value="agree" class="checkbox_1" id="dop-{{object.pk}}"
                ng-model="form.additional.pk_{{object.pk}}">
              <label for="dop-{{object.pk}}" class="checkbox-inline label-checkbox">{{object.name}}</label><br>
              {% endfor %}
              </div>
          </div>
          <div class="block_filter_section filter_apply">
            <a href="" data-role="button" type="submit">
              <img src="/static/img/apply_button.png" alt="apply_button.png" ng-click="submit()">
            </a>
          </div>
        </div>
        <a class="filter_cliner cliner_bottom" href=""><span>&#215;</span> Очистить все</a>
      </form>
    </div>





  







