  
    <div class="main_block_filter" style="margin-top: -40px;">
      <form
        name="filterForm"
      >
        <p class="search_p" >Расширенный поиск</p>
        <a class="filter_cliner" href=""><span>&#215;</span> Очистить все</a>
        <div class="block_filter">
          <div class="block_filter_section">
            <p class="block_filter_section_p">Марка</p>
            <ui-select ng-model='form.mark'>
              <ui-select-match placeholder='Выбор марки' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>
              <ui-select-choices repeat='t in (data.bike_filter_data.marks | filter:$select.search) track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="block_filter_section">
            <p class="block_filter_section_p">Модель</p>
            <ui-select ng-model='form.model'>
              <ui-select-match placeholder='Выбор модели' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in (data.bike_filter_data.models | filter:$select.search) track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div>
            <div class="block_filter_section">
              <p class="block_filter_section_p">Цена за час /  
                <span class="glyphicon glyphicon-ruble"></span></p>
                <div class="pricefix">
                  <slider ng-model='form.price' name="price" min='{{price_start}}' step='{{price_step}}' max='{{price_end}}' range='true' value='[{{price_start}}, {{price_end}}]'></slider>
                </div>

                <div>
                  <h3></h3>
                </div>
                
              <div class="prise_p">
                <p class="prise_left">{( form.price[0] )}</p>
                <p class="prise_right">{( form.price[1] )}</p>
              </div>
            </div>

          <div class="block_filter_section">
            <p class="block_filter_section_p">Цвет</p>

            <div class="filter_checkbox_label">
              {% for object in colors %}
              <input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox-{{object.pk}}" 
                ng-model="form.colors.pk_{{object.pk}}">
              <label for="input-checkbox-{{object.pk}}" class="checkbox-inline label_checkbox_filter label_chech{{ forloop.counter }}"></label>
              {% endfor %}
            </div>

          </div>
          <div class="block_filter_section">
            <p class="block_filter_section_p">Размер колеса</p>

            <div class="checkbox_1_label">
              {% for object in weelsizes %}
              <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size-{{object.pk}}"
                ng-model="form.weelsizes.pk_{{object.pk}}">
              <label for="size-{{object.pk}}" class="checkbox-inline label-checkbox">{{object.num}}</label>
              {% endfor %}
            </div>

          </div>
          <div class="block_filter_section">
            <p class="block_filter_section_p">Тип рамы</p>
            <ui-select ng-model='form.frame'>
              <ui-select-match placeholder='Выбор модели' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in (data.bike_filter_data.frames | filter:$select.search) track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="block_filter_section">
            <p class="block_filter_section_p">Тип подвески</p>
            <ui-select ng-model='form.suspension'>
              <ui-select-match placeholder='Выбор модели' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in (data.bike_filter_data.suspension | filter:$select.search) track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="block_filter_section">
            <p class="block_filter_section_p">Кол-во скоростей</p>

            <div class="checkbox_1_label">
              {% for object in speeds %}
              <input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="speed-{{object.pk}}"
                ng-model="form.speeds.pk_{{object.pk}}">
              <label for="speed-{{object.pk}}" class="checkbox-inline label-checkbox">{{object.num}}</label>
              {% endfor %}
            </div>

          </div>          
<!--           <div class="block_filter_section ui_select_my">
            <p class="block_filter_section_p">Кол-во скоростей</p>
            <ui-select ng-model='form.speeds'>
              <ui-select-match placeholder='выбор скоростей' allow-clear>
                <span class="ui_select" ng-bind='$select.selected.name'></span>
              </ui-select-match>

              <ui-select-choices repeat='t in data.bike_filter_data.speeds track by t.id'>
                <span ng-bind='t.name'></span>
              </ui-select-choices>
            </ui-select>
          </div> -->
          <div class="block_filter_section">
            <p class="block_filter_section_p">Доп. опции</p>
            <div class="checkbox_1_label checkbox_1_label_dop">
              {% for object in chars %}
              <input type="checkbox" value="agree" class="checkbox_1" id="dop-{{object.pk}}"
                ng-model="form.chars.pk_{{object.pk}}">
              <label for="dop-{{object.pk}}" class="checkbox-inline label-checkbox">{{object.name}}</label><br>
              {% endfor %}
            </div>
          </div>
          <div class="block_filter_section filter_apply">
            <a href="" data-role="button" type="submit">
              <img src="/static/img/apply_button.png" alt="apply_button.png" ng-click="submit()">
            </a>
          </div>
        </div>
        <a class="filter_cliner cliner_bottom" href=""><span>&#215;</span> Очистить все</a>
      </form>
    </div>





  