{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load bhc_tags %}
{% snippet 2 as base_data %}
{% snippet 3 as footer_data %}
{% main_menu as blocks %}
{% socials as socials %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
        {% block title_suffix %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic'
          rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/custom.css' %}" type="text/css" rel="stylesheet"/>
    {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
<div id="header">
    <div class="container">
        <div class="col-md-12 clearfix">
            <div class="col-md-3 logo pull-left">
                <a href="/">
                    <img src="/static/images/logo.png" alt="logo"/></a>
            </div>
            <div class="col-md-3 pull-right header-link">
                {#                <a href="#" class="link-one">Личный кабинет</a>#}
                <p class="phn-no">{{ base_data.text1 }}<span>{{ base_data.text2 }}</span></p>
                <a href="#" class="h-linkt" data-toggle="modal" data-target="#myModal">{{ base_data.text3 }}</a>
            </div>
        </div>
        <div class="col-md-12 menubar clearfix">
            <div class="col-md-6 pull-right">
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            </div>
        </div>
    </div>
</div>
<div class="container" id="main-body">
    <div id="menu-sec" class="clearfix">
        <div class="col-md-12 menupart pull-left">
            <a href="/" class="h-link">ЦПБ</a>
            <nav>
                <ul>
                    {% for block in blocks %}
                        {% if block.on_menu %}
                            <li><a href="{% pageurl block.url %}">{{ block.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <p class="s-call">{{ base_data.text1 }} {{ base_data.text2 }}<span data-toggle="modal"
                                                                               data-target="#myModal">{{ base_data.text3 }}</span>
            </p>
        </div>
    </div>
    {% block breads %}
        {% if self.get_ancestors|length > 1 %}
            <div id="bread-part" class="clearfix">
                <div class="col-md-12 clearfix">
                    <ol class="breadcrumb">
                        {% for page in self.get_ancestors %}
                            {% if page.is_root == False %}
                                <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class=”active”>{{ self.title }}</li>
                    </ol>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
    <div id="footer" class="clearfix">
        <div class="col-md-12">
            <div class="col-md-3 pull-left">
                <a href="/"><img src="/static/images/f-logo.png"/></a>
                <ul class="social">
                    {% for block in socials %}
                        <li class="s-one">
                            <a href="{{ block.link_external }}">
                                {% image block.image width-20 %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 pull-right address">
                <span>{{ footer_data.text1 }}</span>

                <p>{{ footer_data.text2|safe }}</p>
                <a href="mailto:{{ footer_data.text3 }}">{{ footer_data.text3 }}</a>

            </div>
        </div>
    </div>


    <!-- Modal call -->
    <div class="modal first fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body page-form clearfix">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3>Заказать обратный звонок</h3>

                    <div class="form-group">
                        <label>Контактное лицо <span>*</span></label>
                        <input type="text" class="formp-control">
                    </div>
                    <div class="form-group">
                        <label>Контактный телефон <span>*</span></label>
                        <input type="text" class="formp-control">
                    </div>
                    <div class="form-group button-part">
                        <input type="button" value="Заказать звонок	">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal letter -->
    <div class="modal sec-modal fade" id="myModal-sec" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body page-form clearfix">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3>Написать письмо</h3>

                    <div class="form-group">
                        <label>Контактное лицо<span>*</span></label>
                        <input type="text" class="formp-control">
                    </div>
                    <div class="form-group">
                        <label>Как с вами связаться <span>*</span></label>
                        <input type="text" class="formp-control">
                    </div>
                    <div class="form-group clearfix">
                        <label>Текст письма <span>*</span></label>
                        <textarea></textarea>
                    </div>
                    <div class="form-group button-part">
                        <input type="button" value="Отправить письмо">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/site_app.js' %}" type="text/javascript"></script>
{% block extra_js %}{% endblock %}
</body>
</html>

