{% extends 'base.html' %}
{% load bhc_tags %}
{% block content %}
    <div id="main-contain" class="clearfix slug-{{ self.pk }}">
        <div class="col-md-12 clearfix">
            {% block left_content %}{% endblock %}

            <div class="col-md-3 pull-right part-right">
                {% block right_menu %}{% endblock %}
                {% if self.show_rigth_news %}
                    {% right_news %}
                {% endif %}

                {% if self.show_rigth_partners %}
                    <div class="col-md-12 clearfix">
                        <h3>Наши партнеры</h3>

                        <div class="co-logos">
                            {% partners 'right' %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}