{% extends 'content_page.html' %}
{% load static %}
{% block left_content %}
    <div class="col-md-9 pull-left part-left">
        <h3>Контактная информация</h3>
        <div class="con-tabs">
            <ul class="nav nav-tabs" role="tablist">
                {% for placement in self.office_placements.all %}
                    <li role="presentation" {% if forloop.counter == 1 %}class="active"{% endif %}>
                        <a href="#office{{ forloop.counter }}" aria-controls="home" role="tab"
                           data-toggle="tab">{{ placement.office.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for placement in self.office_placements.all %}
                    <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}"
                         id="office{{ forloop.counter }}">
                        <div class="col-md-12 con-address clearfix">
                            <div class="col-md-2 pull-left">Адрес:</div>
                            <div class="col-md-9 pull-left" data-address="{{ placement.office.map }}" >{{ placement.office.address }}</div>
                            <div class="col-md-2 pull-left">Телефон:</div>
                            <div class="col-md-9 pull-left">{{ placement.office.phone }}</div>
                            <div class="col-md-2 pull-left">E-mail:</div>
                            <div class="col-md-9 pull-left"><a
                                    href="mailto:{{ placement.office.email }}">{{ placement.office.email }}</a>
                            </div>
                            <div class="col-md-2 pull-left">Время работы:</div>
                            <div class="col-md-9 pull-left">{{ placement.office.time|safe }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="map clearfix" id="YMapsID" style="width: 646px;height: 348px;"></div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?load=package.full&amp;lang=ru-RU" ></script>
    <script src="{% static "js/lib.js" %}"></script>
    <script src="{% static "js/site_contacts.js" %}"></script>
{% endblock %}