{% extends 'base.html' %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load bhc_tags %}
{% block breads %}{% endblock %}
{% block content %}
    <div id="banner">
        <div class="col-md-12">
            {% image self.banner_image max-980x315 %}
            <div class="banner-contain">
                <p>{{ self.texts.text1 }}</p>

                <h3>{{ self.texts.text2 }}</h3>
                <span>{{ self.texts.text3 }}</span>
                <a href="{{ self.texts.url }}" class="banner-link">{{ self.texts.button_text }}</a>
            </div>
        </div>
    </div>
    <div id="section-1" class="clearfix">
        <div class="col-md-12">
            {% main_menu as blocks %}
            {% for block in blocks %}
                {% if block.on_main %}
                    <div class="col-md-4 pull-left">
                        <h3><a href="{% pageurl block.url %}">{{ block.title }}</a></h3>
                        <p>{{ block.anons }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="section-2" class="clearfix">
        <div class="col-md-12">
            <div class="col-md-4 pull-left">
                <h3>Наши партнеры</h3>

                <div class="co-logos">
                    {% partners %}
                </div>
            </div>
            <div class="col-md-8 pull-right">
                <h3>Нам доверяют</h3>

                <div class="co-logos">
                    {% partners 'trust' 9 %}
                </div>
            </div>
        </div>
    </div>
    <div id="section-3" class="clearfix">
        <div class="col-md-12">
            <h3>Новости</h3>
            <a href="/news/" class="v-more">Все новости</a>
            {% main_news %}
        </div>
    </div>
{% endblock %}