{% extends 'content_page.html' %}
{% load bhc_tags %}
{% block left_content %}
    <div class="col-md-9 pull-left part-left">
        <h3>{{ self.title }}</h3>

        <p class="date">{{ self.go_live_at|date:'d.m.Y H:i' }}</p>
        {{ self.content }}
        <div class="related-links">
            <ul>
                {% for link in self.related_links.all %}
                    <li><a href="{{ link.link }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block right_menu %}
    {% categories %}
{% endblock %}