{% extends 'content_page.html' %}
{% load wagtailcore_tags bhc_tags %}
{% block left_content %}
    <div class="col-md-9 pull-left part-left">
        <div class="items clearfix">
            {% for item in news_items %}
                <div class="news-item col-md-12">
                    <h3>{{ item.title }}</h3>
                    <p class="date">{{ item.go_live_at|date:'d.m.Y H:i' }}</p>
                    <p>{{ item.anons|default:''|safe }}...</p>
                    <a href="{% pageurl item %}" class="read-more">Читать новость</a>
                </div>
            {% endfor %}

            {% if news_items.paginator.num_pages > 1 %}
                <div class="pages">
                    <span>Страницы:</span>
                    <ul class="pagination">
                        {% if news_items.has_previous %}
                            <li>
                                <a href="?page={{ news_items.previous_page_number }}">
                                    {{ news_items.previous_page_number }}
                                </a>
                            </li>
                        {% endif %}

                        <li class="active"><a href="#">{{ news_items.number }}</a></li>

                        {% if news_items.has_next %}
                            <li>
                                <a href="?page={{ news_items.next_page_number }}">
                                    {{ news_items.next_page_number }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="related-links">
            <ul>
                <li><a href="#">Пётр Аброськин – спикер онлайн-конференции интернет-предпринимателей </a></li>
                <li><a href="#">ArrowMedia на юбилейной «Электронной торговле-2014»</a></li>
                <li><a href="#">Пётр Аброськин – спикер онлайн-конференции интернет-предпринимателей iBIZ CONF
                    2015</a></li>
                <li><a href="#">ArrowMedia на юбилейной «Электронной торговле-2014»</a></li>
                <li><a href="#">Пётр Аброськин – спикер онлайн-конференции интернет-предпринимателей iBIZ CONF
                    2015</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block right_menu %}
    {% categories 'service' %}
{% endblock %}