{% load utils %}
<div class="sitebar_first">
  <div class="col-md-12 logo_s">
    {% url 'profile' as profile_url %}
    {% if request.get_full_path == profile_url or view == 'password' or view == 'delete' or view == 'personal' %}
      <span><img src="/static/img/sitebar1_active.png" alt="sitebar1_active.png"></span>
      <p>Профиль пользователя</p>
    {% else %}
      <span><img src="/static/img/sesion.png" alt="sesion.png"></span>
      <a href="{{ profile_url }}">Профиль пользователя</a>
    {% endif %}
  </div>
  {% if request.user.is_studio %}
  {% url 'studio' as studio_url %}
  <div class="col-md-12 logo_s">
    {% if request.get_full_path == studio_url %}
      <span><img src="/static/img/description_active.png" alt="description_active.png"></span>
      <p>Профиль проката</p>
    {% else %}
      <span><img src="/static/img/sitebar2.png" alt="sitebar2.png"></span>
      <a href="{% url 'studio_profile' %}">Профиль проката</a>
    {% endif %}
  </div>
  {% endif %}
  {#  {% endif %}#}
  {# TODO #}
  {#  <div class="col-md-12 logo_s">#}
  {#    <span><img src="/static/img/sitebar3.png" alt="sitebar3.png"></span>#}
  {#    <a href="">Советы по бизнесу</a>#}
  {#  </div>#}
</div>