<div class="text-center Personal_data_form">
  <p class="delete1">Удалить учетную запись</p>
  <p class="delete2">Если вы хотите навсегда удалить свою учётную запись и все свои<br> объявления, то нажмите на кнопку
    «Удалить учётную запись».</p>
  <button class="delete_button btn" type="button">
    <img src="/static/img/delete.png" alt="delete">
    Удалить учетную запись
  </button>
</div>