<div class="Personal_data_form">
  <form action="" method="post">
    {% csrf_token %}
    <div class="form_left_personal">
      <p>замена пароля</p>
      <div class="form-group">
        <input name="old_password" type="password" class="col-xs-10 form-control" placeholder="Старый пароль">
      </div>
      <div class="form-group">
        <input name="new_password1" type="password" class="col-xs-10 form-control" placeholder="Новый пароль ">
      </div>
      <div class="form-group">
        <input name="new_password2" type="password" class="col-xs-10 form-control" placeholder="Новый пароль еще раз">
      </div>
      <button type="submit" class="btn">
        Сохранить
      </button>
    </div>
  </form>
</div>