{{ form.non_field_errors }}
<form class="ng-pristine ng-valid" method="post" action="">
  {% csrf_token %}
  <div class="form_left_personal">
    <p>персональная информация</p>
    <div class="form-group">
      <input name="last_name" type="text" class="col-xs-10 form-control" placeholder="Фамилия" value="{{ form.last_name.value|default:"" }}">
    </div>
    <div class="form-group">
      <input name="first_name"  type="text" class="col-xs-10 form-control" placeholder="Имя" value="{{ form.first_name.value|default:"" }}">
    </div>
    <div class="form-group">
      <input name="patronym" type="text" class="col-xs-10 form-control" placeholder="Отчество" value="{{ form.patronym.value|default:"" }}">
    </div>
    <button type="submit" class="btn">
      Сохранить
    </button>
  </div>
  <div class="form_right_personal">
    <p class="contact_p">Средства связи</p>
    <div>
      <input name="email" type="email" class="col-xs-10 form-control" placeholder="Электронная почта" value="{{ form.email.value|default:"" }}">
    </div>
    <div class="checkbox_1_label">
      <input name="subscribed_to_newsletter" type="checkbox" value="agree" class="checkbox_1" id="input-checkbox" {% if form.subscribed_to_newsletter.value %}checked{% endif %}>
      <label for="input-checkbox" class="checkbox-inline label-checkbox">
        Я хочу получать информационные <br>сообщения от Непеш.ком
      </label>
    </div>
    <div>
      <input name="phonenumber" type="text" class="col-xs-10 form-control telefon" placeholder="Телефон" value="{{ form.phonenumber.value|default:"" }}">
      <a class="tell_img" href=""><img src="/static/img/tell1.png" alt="tell1.png"></a>
      <a class="tell_img" href=""><img src="/static/img/tell2.png" alt="tell2.png"></a>
    </div>
    <p class="Preferred ">Предпочтительный способ связи</p>
    <div>
      <select name="preferred_contact_method" id="id_preferred_contact_method">
        {% for method in methods %}
          <option value="{{ method.0 }}" {% if form.preferred_contact_method.value == method.0 %}selected{% endif %}>{{ method.1 }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</form>