{% extends 'index.html' %}
{% load bootstrap3 %}

{% block content %}
    {% for application in applications %}
        <p>
            {{ forloop.counter }}.
            ({{ application.created|date:'d.m.Y' }})
            {{ application.user_name|capfirst }}:
            {{ application.email }}, {{ application.phone }}
            ({{ application.get_type_application_display|lower }}).
            {% if application.type_application == 4 %}
                <br />
                По расчетам:
                тип {{ application.get_calculation_type_display }},
                количество документов {{ application.calculation_documents }},
                количество сотрудников {{ application.calculation_employees }}.
                Общая стоимость: {{ application.calculation_cost }} рублей.
            {% endif %}
        </p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if applications.has_previous %}
                <a href="?page={{ applications.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ applications.number }} of {{ applications.paginator.num_pages }}.
            </span>

            {% if applications.has_next %}
                <a href="?page={{ applications.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}