{% load staticfiles crm_tags activeurl %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "jquery-ui/themes/smoothness/jquery-ui.min.css" %}">
    {#    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.gridform.css" %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static "iCheck/skins/square/blue.css" %}">#}
    <link rel="stylesheet" type="text/css" href="{% static "chosen/chosen.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/simple-sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}">
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css">#}
</head>
<body>
{# ng-app="{% block ng_app %}example.app.calls{% endblock %}"#}
<nav class="navbar navbar-inverse navbar-fixed-top" id="id_top_menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CRM BHC</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Главный сайт</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-sm-3 col-md-2" id="sidebar-wrapper">
            {% activeurl %}
                <ul class="nav nav-sidebar" id="sidebar-nav">
                    <li><a href="{% url 'calls-list' %}">Звонки</a></li>
                    <li><a href="{% url 'orders-list' %}">Заказы</a></li>
                    <li><a href="{% url 'contact-list' %}">Клиенты</a></li>
                    <li><a href="{% url 'request' %}">Заявки</a></li>
                    <li><a href="{% url 'routes' %}">Маршруты</a></li>
                    <li><a href="{% url 'applications-users' %}">Заявки пользователей</a></li>
                </ul>
            {% endactiveurl %}
        </div>
        <div class="col-sm-9 col-md-10 main" id="page-content-wrapper">
            <div id="id_menu_buttons">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Скрыть меню</a>
                {% block block_links %}{% endblock %}
            </div>
            {% block content %}
                Добро пожаловать =)
            {% endblock %}
        </div>
    </div>

</div>
{% block js %}
    {#    <script src="{% static "underscore/underscore.js" %}"></script>#}
    {#    <script src="{% static "angular/angular.js" %}"></script>#}
    {#    <script src="{% static "angular-resource/angular-resource.js" %}"></script>#}
    {#    <script src="{% static "angular-route/angular-route.js" %}"></script>#}
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "chosen/chosen.jquery.min.js" %}"></script>
    <script src="{% static "jquery-ui/ui/i18n/datepicker-ru.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    {#    <script src="{% static "iCheck/icheck.min.js" %}"></script>#}
    {#    <script src="{% static "js/jquery.gridform.min.js" %}"></script>#}

    <script src="{% static "js/app2.js" %}"></script>
{% endblock %}
</body>
</html>