﻿<!doctype html>
<html ng-app='app'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Велосипеды</title>

<link rel='stylesheet' href='lib/bootstrap/css/bootstrap.css'>
<link rel='stylesheet' href='lib/ui-select/select.css'>
<link rel='stylesheet' href='lib/icheck/skins/all.css'>
<link rel='stylesheet' href='lib/bootstrap-slider/css/bootstrap-slider.css'>
<link rel='stylesheet' href='css/style.css'>


</head>

<body>
<div class="page_wrapper"> <!-- pressing footer -->
	<!-- header -->
	<header>
		<div class="header_top_menu">
			<div class="container container_1200 mein_nav_block">
				<ul class="nav nav-pills navbar_left">
					<li id="glyphicon_home"><a class="active" href="#"></a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">Безопасность</a></li>
					<li><a href="#">Соглашение</a></li>
					<li><a href="#">Полезное</a></li>
				</ul>
				<ul class="nav nav-pills navbar_right">
					<li><a href="#"><img src="img/f.png" alt="facebook"></a></li>
					<li><a href="#"><img src="img/tv.png" alt="twitter"></a></li>
					<li><a href="#"><img src="img/g.png" alt="g+"></a></li>
					<li><a href="#"><img src="img/vk.png" alt="vk"></a></li>
					<li><a href="#"><img src="img/y.png" alt="youtube"></a></li>
				</ul>
			</div>
		</div>
		<div class="container container_1200 office_block">
			<div class="office_rental">
				<button type="button" class="btn">Добавить в прокат</button>
				<div class="office_div">
					<img src="img/Castle.png" alt="Castle.png">
					<a href="">Кабинет проката</a>
				</div>
			</div>
			<div class="logo_studia">
				<a href=""><img src="img/Logo.png" alt="Logo.png"></a>
				<p><span>1 000 000</span> студий проката по всей России </p>
			</div>
			<div class="control_panel">
				<button type="button" class="btn">Регистрация</button>
				<div class="control_panel_div">
					<img src="img/key.png" alt="key.png">
					<a href="">Кабинет пользователя</a>
				</div>
			</div>
		</div>
		
	</header>
	<!-- header end-->
	
	<div class="container container_1200">
		<hr>
	</div>
	
	<!-- Private rental office -->
	<!-- bicycles_rental -->
	<div class="container container_1200">
		<div class="nav_block_bicycles_rental">
			<a href=""><img src="img/hous_blue.png" alt="hous_blue.png"></a>
			<span>/</span><a href="">Прокат 2 колеса</a>
			<span>/</span><p>Велосипеды студии </p>
		</div>
	</div>
	<!-- bicycles_rental -->
	
	<div class="container_1200 hr_border_top">
		<hr>
	</div>
	
	<!-- Studio_Rental_Two contacts -->
	<!-- rolled contacts header-->
	<div class="container container_1200 rolled">
		<div>
			<a href=""><img src="img/images/vello_bro_smoll.png" alt="vello_bro_smoll.png"></a>
		</div>
		<div>
			<p class="folled_p">Студия проката «2 колеса »</p>
			<div class="rating">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<div>3.8</div>
			</div>
		</div>
	</div>
	<div class="container container_1200 rolled_nav">
		<div class="r_b_top">
			<div class="active"><a class="bicycles" href=""><span class="span_45">45</span> Велосипеды студии</a></div>
			<div class="bicegli_a"><a class="rentals" href="">Описание проката </a></div>
			<div class="bicegli_a">
				<a class="Reviews" href="">Отзывы:</a>
				<a class="plus_otziv" href="" >+6</a>
				<a class="minus_otziv" href="" >-2</a>
			</div>
			<div class="bicegli_a" id="contacts_margin"><a class="contacts" href="">Контакты</a></div>
			<div class="r_b_top_a">
				<a  href=""><img src="img/link_catalog1.png" alt="link_catalog1.png"></a>
				<a class="active" href=""><img src="img/link_catalog2_active.png" alt="link_catalog2_active.png"></a>
			</div>
		</div>
	</div>
	<!-- rolled contacts header end-->
	
	<div class="container container_1200">
		<div class="Studio_Rental_Two">
			<div class="block_filter block_filter_marka">
				<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
				<p class="block_filter_section_p">Марка</p>
					<ui-select ng-model='s.dropdownSelection'>
					<ui-select-match placeholder='Все' allow-clear>
							<span  class="ui_select" ng-bind='$select.selected.name'></span>
					 </ui-select-match>
								  
					<ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
						<span ng-bind='t.name'></span>
					</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<!-- Main block filter -->
			<div class="main_block_filter">
				<p class="search_p">Расширенный поиск</p>
				<a class="filter_cliner" href=""><span>&#215;</span> Очистить все</a>
				<div class="block_filter">
					<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
						<p class="block_filter_section_p">Марка</p>
						<ui-select ng-model='s.dropdownSelection'>
						  <ui-select-match placeholder='Выбор марки' allow-clear>
							<span  class="ui_select" ng-bind='$select.selected.name'></span>
						  </ui-select-match>
						  
						  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
							<span ng-bind='t.name'></span>
						  </ui-select-choices>
						</ui-select>
					</div>
					<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
						<p class="block_filter_section_p">Модель</p>
						<ui-select ng-model='s.dropdownSelection'>
						  <ui-select-match placeholder='Выбор модели' allow-clear>
							<span  class="ui_select" ng-bind='$select.selected.name'></span>
						  </ui-select-match>
						  
						  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
							<span ng-bind='t.name'></span>
						  </ui-select-choices>
						</ui-select>
					</div>
					<div class="block_filter_section prise_for">
						<p class="block_filter_section_p">Цена за час /  
							<span class="glyphicon glyphicon-ruble"></span></p>
							<div>
								<slider ng-model='s.sliderValue' min='1' step='1' max='100' range='true' value='[25, 70]'></slider>
							</div>
							
							<div>
							  <h3></h3>
							</div>
							
						<div class="prise_p">
							<p class="prise_left">{{ s.sliderValue }}</p>
						</div>
					</div>
					
					<div class="block_filter_section filter_color">
						<p class="block_filter_section_p">Цвет</p>
							<div class="filter_checkbox_label">
								<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox1">
								<label for="input-checkbox1" class="checkbox-inline label_checkbox_filter label_chech1">
								</label>
								<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox2">
								<label for="input-checkbox2" class="checkbox-inline label_checkbox_filter label_chech2">
								</label>
								<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox3">
								<label for="input-checkbox3" class="checkbox-inline label_checkbox_filter label_chech3">
								</label>
								<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox4">
								<label for="input-checkbox4" class="checkbox-inline label_checkbox_filter label_chech4">
								</label>
								<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox5">
								<label for="input-checkbox5" class="checkbox-inline label_checkbox_filter label_chech5">
								</label>
								<input type="checkbox" value="agree" class="checkbox_1_filter" id="input-checkbox6">
								<label for="input-checkbox6" class="checkbox-inline label_checkbox_filter label_chech6">
								</label>
							</div>
						
					</div>
					<div class="block_filter_section razmer_colesa">
						<p class="block_filter_section_p">Размер колеса</p>
						<div class="checkbox_1_label">
								<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size1">
								<label for="size1" class="checkbox-inline label-checkbox">12
								</label>
								<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size2">
								<label for="size2" class="checkbox-inline label-checkbox">16
								</label>
								<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size3">
								<label for="size3" class="checkbox-inline label-checkbox razmer_colesa_18">18
								</label>
								<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size4">
								<label for="size4" class="checkbox-inline label-checkbox">20
								</label>
								<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size5">
								<label for="size5" class="checkbox-inline label-checkbox">22
								</label>
								<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size6">
								<label for="size6" class="checkbox-inline label-checkbox razmer_colesa_24">24
								</label>
								<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size7">
								<label for="size7" class="checkbox-inline label-checkbox">26
								</label>
								<input type="checkbox" value="agree" class="checkbox_1 checkbox_size" id="size8">
								<label for="size8" class="checkbox-inline label-checkbox">29
								</label>
						</div>
						
					</div>
					<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
						<p class="block_filter_section_p">Тип рамы</p>
						<ui-select ng-model='s.dropdownSelection'>
						  <ui-select-match placeholder='Выбор модели' allow-clear>
							<span  class="ui_select" ng-bind='$select.selected.name'></span>
						  </ui-select-match>
						  
						  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
							<span ng-bind='t.name'></span>
						  </ui-select-choices>
						</ui-select>
					</div>
					<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
						<p class="block_filter_section_p">Тип подвески</p>
						<ui-select ng-model='s.dropdownSelection'>
						  <ui-select-match placeholder='Выбор модели' allow-clear>
							<span  class="ui_select" ng-bind='$select.selected.name'></span>
						  </ui-select-match>
						  
						  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
							<span ng-bind='t.name'></span>
						  </ui-select-choices>
						</ui-select>
					</div>
					<div class="block_filter_section ui_select_my" ng-controller='MainCtrl'>
						<p class="block_filter_section_p">Кол-во скоростей</p>
						<ui-select ng-model='s.dropdownSelection'>
						  <ui-select-match placeholder='16' allow-clear>
							<span  class="ui_select" ng-bind='$select.selected.name'></span>
						  </ui-select-match>
						  
						  <ui-select-choices repeat='t in (s.things | filter:$select.search) track by t.id'>
							<span ng-bind='t.name'></span>
						  </ui-select-choices>
						</ui-select>
					</div>
					<div class="block_filter_section dop_option">
						<p class="block_filter_section_p">Доп. опции</p>
						<div class="checkbox_1_label checkbox_1_label_dop">
								<input type="checkbox" value="agree" class="checkbox_1" id="dop1">
								<label for="dop1" class="checkbox-inline label-checkbox">Детское седенье
								</label>
								<input type="checkbox" value="agree" class="checkbox_1" id="dop2">
								<label for="dop2" class="checkbox-inline label-checkbox">Дополнительные колеса
								</label>
								<input type="checkbox" value="agree" class="checkbox_1" id="dop3">
								<label for="dop3" class="checkbox-inline label-checkbox">Литые диски
								</label>
								<input type="checkbox" value="agree" class="checkbox_1" id="dop4">
								<label for="dop4" class="checkbox-inline label-checkbox">Дисковые тормоза
								</label>
						</div>
					</div>
					<div class="block_filter_section dop_option">
						<p class="block_filter_section_p">Сервисы проката</p>
						<div class="checkbox_1_label checkbox_1_label_dop">
								<input type="checkbox" value="agree" class="checkbox_1" id="serfice1">
								<label for="serfice1" class="checkbox-inline label-checkbox">Рукомойник
								</label><br>
								<input type="checkbox" value="agree" class="checkbox_1" id="serfice2">
								<label for="serfice2" class="checkbox-inline label-checkbox">Туалет
								</label>
								<input type="checkbox" value="agree" class="checkbox_1" id="serfice3">
								<label for="serfice3" class="checkbox-inline label-checkbox">Питьевая вода
								</label>
								<input type="checkbox" value="agree" class="checkbox_1" id="serfice4">
								<label for="serfice4" class="checkbox-inline label-checkbox">Камера хранения
								</label>
						</div>
					</div>
					
					<div class="block_filter_section filter_apply">
						<a href="">
							<img src="img/apply_button.png" alt="apply_button.png">
						</a>
					</div>
				</div>
				<a class="filter_cliner cliner_bottom" href=""><span>&#215;</span> Очистить все</a>
			</div>
		</div>	
				<div class="Studio_catalog">
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						</div>
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/GIANT_Rincon.png" alt="GIANT_Rincon.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">GIANT Rincon (2015)</a>
						</div>
						<div class="catalog_zabronirovat_prise">180 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/STELS_Pilot_710.png" alt="STELS_Pilot_710.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">STELS Pilot 710 (2016)</a>
						</div>
						<div class="catalog_zabronirovat_prise">140 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						</div>
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/GIANT_Rincon.png" alt="GIANT_Rincon.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">GIANT Rincon (2015)</a>
						</div>
						<div class="catalog_zabronirovat_prise">180 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/STELS_Pilot_710.png" alt="STELS_Pilot_710.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">STELS Pilot 710 (2016)</a>
						</div>
						<div class="catalog_zabronirovat_prise">140 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						</div>
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/GIANT_Rincon.png" alt="GIANT_Rincon.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">GIANT Rincon (2015)</a>
						</div>
						<div class="catalog_zabronirovat_prise">180 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/STELS_Pilot_710.png" alt="STELS_Pilot_710.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">STELS Pilot 710 (2016)</a>
						</div>
						<div class="catalog_zabronirovat_prise">140 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						</div>
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/GIANT_Rincon.png" alt="GIANT_Rincon.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">GIANT Rincon (2015)</a>
						</div>
						<div class="catalog_zabronirovat_prise">180 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/STELS_Pilot_710.png" alt="STELS_Pilot_710.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">STELS Pilot 710 (2016)</a>
						</div>
						<div class="catalog_zabronirovat_prise">140 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/Merida_RX_567.png" alt="Merida_RX_567.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">Merida RX 567 fs/x</a>
						</div>
						<div class="catalog_zabronirovat_prise">150 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main Studio_main_margin text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/GIANT_Rincon.png" alt="GIANT_Rincon.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">GIANT Rincon (2015)</a>
						</div>
						<div class="catalog_zabronirovat_prise">180 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
					<div class="Studio_main text-center">
						<div class="Studio_main_img">
							<a href=""><img src="img/images/STELS_Pilot_710.png" alt="STELS_Pilot_710.png"></a>
						</div>
						<div class="catalog_name">
							<a href="" class="opisanie_name">STELS Pilot 710 (2016)</a>
						</div>
						<div class="catalog_zabronirovat_prise">140 
							<span class="glyphicon glyphicon-ruble"> / час</span>
						</div>
						<div>
							<button type="button" class="btn time_catalog_button">
								Забронировать
							</button>
						</div>
					</div>
				</div>
	</div>
	
	<div class="container container_1200 text_center">
		<button type="button" class="btn echo_predlogeniy">
			Еще 20 велосипедов 
		</button>
	</div>
	
	
	
	
	
	
	<!-- Studio_Rental_Two end -->
	
	
	
	
<div class="page_buffer"></div> <!-- pressing footer empty block -->
</div>	<!-- pressing footer end -->	
<!-- footer -->
	<footer>
		<div class="container container_1200">
			<ul class="nav nav-pills footer_main_menu">
				<li class="active"><a href="#">Главная</a></li>
				<li><a href="#">О проекте</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Безопасность</a></li>
				<li><a href="#">Соглашение</a></li>
				<li><a href="#">Реклама</a></li>
				<li><a href="#">Полезное</a></li>
				<li><a href="#">Структура</a></li>
			</ul>
			<div class="podpishites">
				<label for="podpis">Подпишись</label>
				 <input placeholder="Ваш e-mail" id="podpis" type="text" class="form-control">
				 <span class="airplane_icon" ></span>
			 </div>
			 <div class="logo_small">
				<a href=""><img src="img/logo_small.png" alt="logo_small.png"></a>
				<p>&copy; 2016 Непеш.com Все права защищены</p>
			 </div>
			<ul class="nav nav-pills footer_navbar_right">
				<li><a href="#"><img src="img/f.png" alt="facebook"></a></li>
				<li><a href="#"><img src="img/tv.png" alt="twitter"></a></li>
				<li><a href="#"><img src="img/g.png" alt="g+"></a></li>
				<li><a href="#"><img src="img/vk.png" alt="vk"></a></li>
				<li><a href="#"><img src="img/y.png" alt="youtube"></a></li>
			</ul>
		</div>		
	</footer>
<!-- footer end -->
	
	

	
<script src='lib/jquery/jquery.js'></script>
<!--<script src='lib/bootstrap/js/bootstrap.js'></script>-->
<script src='lib/angular/angular.js'></script>
<script src='lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>
<script src='lib/checklist-model/checklist-model.js'></script>
<script src='lib/ui-select/select.js'></script>
<script src='lib/icheck-2.x/icheck.js'></script>
<script src='lib/bootstrap-slider/bootstrap-slider.js'></script>
<script src='lib/angular-bootstrap-slider/slider.js'></script>






<script type='text/javascript'>
  var app = angular.module('app', ['ui.bootstrap', 'ui.select', 'checklist-model', 'ui.bootstrap-slider'])
  
  
  app.controller('MainCtrl', ['$scope', '$timeout', '$uibModal',
    function MainCtrl($scope, $timeout, $uibModal) {
      var s = $scope.s = {}
      
      
      s.things = [
        {id: 1, name: 'foo'},
        {id: 2, name: 'bar'},
        {id: 3, name: 'baz'},
        {id: 4, name: 'qux'},
        {id: 5, name: 'quux'},
        {id: 6, name: 'corge'},
        {id: 7, name: 'grault'},
      ]
      
      
      s.openModal = function openModal($event) {
        return $uibModal.open({
          templateUrl: 'confirmationModalTempl',
          controller: 'ModalCtrl as s',
        })
          .result
          
          .then(
            res => {if (res === 'yes') s.modalResult = 'yes'},
            res => {s.modalResult = 'no'}
          )
      }
      
      
      $timeout(function timeout() {
        $('input.-icheck').icheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
        })
      })
    },
  ])
  
  
  app.controller('ModalCtrl', [
    '$scope', '$uibModalInstance',
    
    function ConfirmationModalCtrl($scope, $uibModalInstance) {
      const s = this
      
      s.yes = () => $uibModalInstance.close('yes')
      s.cancel = () => $uibModalInstance.dismiss()
    },
  ])
</script>
</body>
</html>
