#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 560px;
    height: 510px;
    visibility: hidden;
}

#jssor_1 .loading {
    position: absolute;
    top: 0px;
    left: 0px;
}

#jssor_1 .loading .cloak {
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#jssor_1 .loading .load {
    position: absolute;
    display: block;
    background: url('/static/img/slider/loading.gif') no-repeat center center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#jssor_1 .slides {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 560px;
    height: 400px;
}

.jssort01 .slides {
    cursor: default;
}

.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    width: 11px;
    height: 21px;
    cursor: pointer;
    overflow: hidden;
    bottom: 40px;
}

.jssora05l {
    left: -40px;
    background: url('/static/img/images/nav_left.png') no-repeat;
}

.jssora05r {
    right: -40px;
    background: url('/static/img/images/nav_right.png') no-repeat;
}

.jssort01 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 800px;
    height: 100px;
}

.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: none;
    box-sizing: content-box;
}

.jssort01 .pav .c {
    width: 68px;
    height: 68px;
    border: 2px solid #fd3f5a;
    background-position: 50% 50%;
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: 2px solid #fd3f5a;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 68px;
    height: 68px;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
    width /**/: 72px;
    height /**/: 72px;
}