{% extends 'index.html' %}
{% load bootstrap3 %}
{% block content %}
    <br clear="all">
    <form action="" method="post" class="form" novalidate>
    {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "floppy-save" %} Сохранить
            </button>
        {% endbuttons %}
        <div class="row col-xs-12">
            <div class="col-xs-4">{% bootstrap_field form.theme %}</div>
            <div class="col-xs-4" id="id_question_container">
                <div class="checkbox" id="question_template" style="display: none;">
                    <label for="id_doc-new-question_0">
                        <input class="" id="id_doc-new-question_" name="doc-new-question" title=""
                               type="checkbox" value="1">
                    </label>
                </div>
                {% bootstrap_field form.question %}
            </div>
            <div class="col-xs-3">{% bootstrap_field form.date_complete %}</div>
        </div>

        <div class="row col-xs-12">
            <div class="col-xs-4">
                {% bootstrap_field form.firm %}
                {% bootstrap_field form.lname_ip %}
                {% bootstrap_field form.fname_ip %}
                {% bootstrap_field form.mname_ip %}
                {% bootstrap_field form.inn %}
                {% bootstrap_field form.ogrn %}
            </div>
            <div class="col-xs-4">
                {% bootstrap_field form.count %}
            </div>
            <div class="col-xs-4 address-fields">
                {% bootstrap_field address_form.city %}
                {% bootstrap_field address_form.street %}
                {% bootstrap_field address_form.house %}
                {% bootstrap_field address_form.appartament %}
            </div>
        </div>

    </form>
{% endblock %}

{% block js %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}