{% extends 'index.html' %}
{% load bootstrap3 %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{% url 'orders-update' pk=object.pk %}" class="btn btn-primary" role="button">
                {% bootstrap_icon "floppy-save" %} Редактировать
            </a>

            <a href="{% url 'orders-delete' pk=object.pk %}" class="btn btn-danger" role="button">
                {% bootstrap_icon "remove-circle" %} Удалить
            </a>
        </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-body">
    <dl>
        <dt>#</dt>
        <dd>{{ object.pk }}</dd>

        <dt>Номер заказа</dt>
        <dd>{{ object.number }}</dd>

        <dt>Дата создания </dt>
        <dd>{{ object.date_create }}</dd>

        <dt>Дата выполнения </dt>
        <dd>{{ object.date_complete }}</dd>

        <hr/>
            <dt>Название компании</dt>
            <dd>{{ object.firm }}</dd>

            <dt>ИНН компании</dt>
            <dd>{{ object.inn }}</dd>

            <dt>ОГРН компании</dt>
            <dd>{{ object.ogrn }}</dd>
        <hr/>

        <dt>Имя клиента</dt>
        <dd>{{ object.user_name }}</dd>

        <dt>Телефон клиента</dt>
        <dd>{{ object.phone }}</dd>

        <dt>Email клиента</dt>
        <dd>{{ object.email }}</dd>

        <dt>Адрес клиента</dt>
        <dd>{{ object.address }}</dd>

    </dl>
    </div>
    </div>
{% endblock %}
