{% extends 'index.html' %}
{% load bootstrap3 %}
{% block content %}
    <h1 class="page-header">Заказы</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'orders-create' %}" class="btn btn-primary" role="button">
                    {% bootstrap_icon 'plus' %}Новый заказ
                </a>
                <a href="{% url 'request' %}" class="btn btn-success" role="button">
                    {% bootstrap_icon 'flag' %}Сформировать заявку
                </a>
            </div>
        </div>
        <form action="" method="get" class="form-inline" novalidate>
            <div class="form-group">
                <input type="text" name="search" id="id_search" class="form-control" placeholder="Поиск" value="{{ search|default:'' }}" />
            </div>
            <div class="form-group">
                <select name="filter_theme" id="id_filter_theme" class="form-control">
                    <option value="">Все</option>
                    {% for t in themes %}
                        <option value="{{ t.id }}" {% if filter_theme == t.id|slugify %}selected{% endif %}>{{ t.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success small" value="Фильтр" />
            </div>
        </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Создание</th>
                        <th>Завершение</th>
                        <th>Имя клиента</th>
                        <th>Телефон</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for order in object_list %}
                            <tr>
                            <td>
                                <a href="{% url 'orders-update' pk=order.id %}" title="Перейти к заказу">
                                    {{ order.number }}
                                </a>
                            </td>
                            <td>{{ order.date_created|date:"d.m.Y" }}</td>
                            <td>{{ order.date_complete|date:"d.m.Y" }}</td>
                            <td>
                                {% if order.client %}
                                    <a href="{% url 'contact-detail' pk=order.client.id %}" title="Перейти к клиенту">
                                        {{ order.client.name }}
                                    </a>
                                {% else %}

                                {% endif %}
                            </td>
                            <td>{{ order.client.get_phones }}</td>
                            <td>{{ order.client.get_emails }}</td>
                            <td>
                                <a href="{% url 'orders-update' pk=order.id %}" class="btn btn-primary btn-xs">Ред.</a>
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}
