{% extends 'index.html' %}
{% load bootstrap3 staticfiles %}

{% block content %}
<div class="preloader_block">
    <img src="{% static 'images/preloader.gif' %}" width="100px">
</div>
<div id="id_order_form_div" style="display: none;">
    {% if errors %}
        <p class="red">Пожалуйста, исправьте ошибки.</p>
    {% endif %}

    <form action="" method="post" class="form" novalidate style="margin: 10px 20px;">
        {% csrf_token %}

        {% buttons %}
            <button type="submit" class="btn btn-primary" onclick="$('#id_action').val('save'); return true;">
                {% bootstrap_icon "floppy-save" %} Сохранить
            </button>
            <button type="submit" class="btn btn-primary" onclick="$('#id_action').val('save_close'); return true;">
                {% bootstrap_icon "floppy-save" %} Сохранить и закрыть
            </button>
            {% if order %}
                <a href="{% url 'orders-delete' pk=order.pk %}" class="btn btn-danger">
                    {% bootstrap_icon "remove-circle" %} Удалить
                </a>
            {% endif %}
            <a href="{% url 'orders-create' %}" class="btn btn-primary" role="button" target="_blank">
                {% bootstrap_icon 'plus' %}Новый заказ
            </a>
        {% endbuttons %}
        <div>

            <div class="row">
                <div class="col-xs-3 col-md-3">
                    {% bootstrap_field form.number field_class='input-small' %}
                </div>
                <div class="col-xs-3 col-md-3">
                    {% bootstrap_field form.date_created %}
                </div>
                <div class="col-xs-3 col-md-3">
                    {% bootstrap_field form.status field_class='input-small' %}
                </div>
            </div>
            {% bootstrap_field form.client field_class='input-big' %}
            {% bootstrap_field form.payment_type field_class='input-small payment_type_class' %}

            <div id="dialog" title="Введите реквизиты">
                {% bootstrap_field form.payment_name size='small' %}
                {% bootstrap_field form.payment_inn size='small' %}
                {% bootstrap_field form.payment_kpp size='small' %}
                <button type="submit" class="btn btn-primary" id="id_requisites">
                    Сохранить
                </button>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
{#                <li role="presentation" class="active">#}
{#                    <a href="#order" aria-controls="home" role="tab" data-toggle="tab">Заказ</a>#}
{#                </li>#}
                <li role="presentation" class="active">
                    <a href="#documents" aria-controls="profile" role="tab" data-toggle="tab"  class="active">
                        Заказ</a>
                </li>
                <li role="presentation">
                    <a href="#contacts" id="id_link_contacts" aria-controls="profile" role="tab" data-toggle="tab">
                        Карточка клиента</a>
                </li>
                <li role="presentation">
                    <a href="#address" aria-controls="address" role="tab" data-toggle="tab">
                        Доставка</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="documents">

                    <div id="new_document_form">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="col-xs-4">
                                    {% bootstrap_field document_form.theme %}
                                </div>
                                <div class="col-xs-4 col-md-4" id="id_question_container">
                                    {% bootstrap_field document_form.question %}
                                </div>

                                <div class="col-xs-4 col-md-4">
                                    <button class="btn btn-success" id="add_new_document" style="margin-top: 24px;">
                                        {% bootstrap_icon "plus" %} Добавить документ
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="class_new_document_form" style="display: none;">
                            <div class="row col-xs-12">

                                <div class="col-xs-3">{% bootstrap_field document_form.date_complete %}</div>
                            </div>

                            <div class="row col-xs-12">
                                <div class="col-xs-4">
                                    <span id="id_span_name_firm">
                                        {% bootstrap_field document_form.firm %}
                                    </span>
                                    <span id="id_span_ip">
                                        {% bootstrap_field document_form.lname_ip %}
                                        {% bootstrap_field document_form.fname_ip %}
                                        {% bootstrap_field document_form.mname_ip %}
                                    </span>
                                    {% bootstrap_field document_form.inn %}
                                    {% bootstrap_field document_form.ogrn %}
                                </div>
                                <div class="col-xs-4">
                                    {% bootstrap_field document_form.count %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="contacts">

                    <div class="col-xs-12" id="id_customer_card">
                        <div class="contact_form">
                            <div class="col-xs-3">
                                {% bootstrap_field contact_form.name size='small' %}
                            </div>
                            <br clear="all" />
                            <input type="hidden" name="prefix_phones_formset" id="id_prefix_phones_formset" value="{{ phone_formset.prefix }}">
                            {{ phone_formset.management_form }}
                            <div class="phones_formset">
                                {% for pf in phone_formset %}
                                    <div class="contact_data contact-div">
                                        {% for f in pf %}
                                            <div class="col-xs-3">{% bootstrap_field f %}</div>
                                        {% endfor %}
                                        <br clear="all">
                                    </div>
                                {% endfor %}
                                <div id="empty_phone" style="display:none">
                                    <div class="contact_data contact-div">
                                        {% for f in phone_formset.empty_form %}
                                            <div class="col-xs-3">{% bootstrap_field f size='small' %}</div>
                                        {% endfor %}
                                        <br clear="all">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="count_phones_el" id="id_count_phones_el" value="1">

                            <a href="#" id="new_phone" class="btn btn-success right">
                                Добавить еще один телефон</a>
                            <br clear="all">
                        </div>

                        {% if orders %}
                            <hr />
                            <br clear="all">
                            <h3>История заказов</h3>
                            <table class="table" id='id_client_history_orders'>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Дата создания</th>
                                        <th>Дата завершения</th>
                                        <th>Статус</th>
                                        <th>Кол-во документов</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ord in orders %}
                                        <tr
                                            title="Показать документы"
                                            class="order_data"
                                            data-order_id="{{ ord.id }}"
                                            onclick="javascript: show_documents({{ ord.id }})">

                                            <td>{{ ord.number }}</td>
                                            <td>{{ ord.date_created|date:"d.m.Y" }}</td>
                                            <td>{{ ord.date_complete|date:"d.m.Y" }}</td>
                                            <td>{{ ord.status.name }}</td>
                                            <td>{{ ord.documents.count }}</td>
                                        </tr>
                                        {% if ord.documents.all %}
                                            <tr
                                                class="order_documents order_documents_{{ ord.id }}"
                                                data-order_id="{{ ord.id }}">
                                                <td colspan="5">
                                                    <table class="table order_documents_table">
                                                        <tr>
                                                            <th>№</th>
                                                            <th>Вопрос</th>
                                                            <th>Готовность</th>
                                                            <th>ИНН</th>
                                                            <th>ОГРН(ИП)</th>
                                                            <th>Кол-во</th>
                                                            <th>Адрес</th>
                                                        </tr>
                                                        {% for doc in ord.documents.all %}
                                                            <tr>
                                                                <td>
                                                                    {{ doc.pk }}
                                                                </td>
                                                                <td>
                                                                    {{ doc.question.all|join:', ' }}
                                                                </td>
                                                                <td>
                                                                    {% if doc.date_complete %}
                                                                        {{ doc.date_complete }}
                                                                    {% else %}-{% endif %}
                                                                </td>
                                                                <td>
                                                                    {{ doc.inn }}</td>
                                                                <td>
                                                                    {{ doc.ogrn }}</td>
                                                                <td>
                                                                    {{ doc.count }}</td>
                                                                <td>
                                                                    {{ doc.address.name }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>

                <div role="address" class="tab-pane" id="address">
                    <p><b>Способ доставки:</b></p>
                    {% bootstrap_field form.delivery_type field_class='input-medium' show_label=False %}
                    <span class="address_form_class">
                        <p><b>Доставка:</b></p>
                        <div class="form-group input-small"><b>Существующий адрес:</b></div><br clear="all" />
                        <div class="form-group input-medium">
                            <select id="id_client_address" class="form-control" name="client_address">
                                <option value="0">---</option>
                                {% for addr in order.client.address.all %}
                                    <option value="{{ addr.id }}" {% if order.address == addr %}selected{% endif %}>
                                        {{ addr.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="new_address_form">
                            <div class="form-group input-small"><b>Новый адрес:</b></div>
                            {% bootstrap_field address_form.city field_class='input-medium class_address' %}
                            {% bootstrap_field address_form.metro field_class='input-medium class_address' %}
                            {% bootstrap_field address_form.street field_class='input-medium class_address' %}
                            {% bootstrap_field address_form.type_house layout='inline' form_group_class='form-group inline-style' field_class='choice-address input-small class_address' %}
                            {% bootstrap_field address_form.house layout='inline' form_group_class='inline-style' field_class='class_address' %}
                            <br clear="all">
                            {% bootstrap_field address_form.type_place layout='inline' form_group_class='form-group inline-style' field_class='choice-address input-small class_address' %}
                            {% bootstrap_field address_form.place layout='inline' form_group_class='inline-style' field_class='class_address' %}
                            <br clear="all">
                            {% bootstrap_field address_form.type_appartament layout='inline' form_group_class='form-group inline-style' field_class='choice-address input-small class_address' %}
                            {% bootstrap_field address_form.appartament layout='inline' form_group_class='inline-style' field_class='class_address' %}
                            <br clear="all">
                            <div class="form-group input-small">
                                <select class="selectpicker btn btn-info" id="id_select_additional_addressa">
                                    <option value="0" selected hidden>Добавить</option>
                                    {% for ta in type_addresses %}
                                        {% if not addit_exists or ta.0 not in addit_exists %}
                                            <option data-ti="{{ ta.0|make_list|first }}" value="{{ ta.0 }}" desc="{{ ta.1 }}">{{ ta.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </span>
                    <br clear="all">
                    <div class="form-group" style="padding-top: 10px;">
                        <div class="input-medium">
                            <input
                                class="form-control"
                                id="id_adress_name"
                                name="addr-name"
                                type="text"
                                value="{% if not request.POST %}
                                        {% if address.name %}{{ address.name }}{% elif order %}{{ order.address }}{% endif %}
                                    {% endif %}"
                                style="background: white;"
                                readonly>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        {% buttons %}
            <button type="submit" class="btn btn-primary" onclick="$('#id_action').val('save'); return true;">
                {% bootstrap_icon "floppy-save" %} Сохранить
            </button>
        {% endbuttons %}

        <input type="hidden" id="id_action" name="action" value="save"/>
    </form>

    <br/>
        {% if order and order.documents.all %}
            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Вопрос</th>
                    <th>Готовность</th>
                    <th>ИНН</th>
                    <th>ОГРН(ИП)</th>
                    <th>Кол-во</th>
                </tr>
                </thead>
                {% for doc in order.documents.all %}
                    <tr>
                        <td>
                            <a href="{% url 'document-detail' pk=doc.pk %}">
                                {{ doc.pk }}</a>
                        </td>
                        <td>
                            {{ doc.question.all|join:', ' }}
                        </td>
                        <td>
                            {% if doc.date_complete %}
                                {{ doc.date_complete }}
                            {% else %}-{% endif %}
                        </td>
                        <td>{{ doc.inn }}</td>
                        <td>{{ doc.ogrn }}</td>
                        <td>{{ doc.count }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    <br/>
    
    <div id="create_new_city" title="Добавить город">
        Название города (населенного пункта): <input type="text" id="id_ajax_name_new_city" size="30" name="name_city">
        <span id="id_ajax_name_new_city_error" class="red"></span>
        <a href="" id="id_ajax_new_city" class="btn btn-success">
            Добавить
        </a>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/csrf_protect.js" %}"></script>
    {{ form.media }}

    {% if errors %}
        <script>
            $(document).ready(function() {
                {% for e in errors %}
                    var err = '{{ e|cut:"Обязательное поле"|removetags:"ul li" }}';
                    var error_elements = $('div.form-group').find('input[name$='+err+']');
                    console.log(error_elements);
                    $(error_elements).each(function() {
                        console.log($(this));
                        $(this).parent().addClass('has-error');
                    });
                {% endfor %}
            });
        </script>
    {% endif %}

    {% if address %}
        <script>
        $(document).ready(function() {
            {% for ad in address.additional_data.all %}
                var type_id= '{{ ad.type_address|make_list|first }}';
                var text = '{{ ad.name }}';
                var type = '{{ ad.get_type_address_display }}';
                var value = '{{ ad.type_address }}'
                if (value) {
                    $('input[data-type_id="' + type_id + '"]').parent().parent().after('<br clear="all">'+
                            '<div class="form-group inline-style choice-address input-small class_address">' +
                            type +'</div>' +
                            '<div class="inline-style class_address" style="padding-left: 3px;">' +
                            '<input class="form-control class_address" data-type_name="' + text.toLowerCase() + '" id="id_addit-addr-' + value + '" maxlength="50" name="addit-addr-' + value + '" value="' + text + '" title="" type="text">' +
                            '</div><br clear="all>');
                }
                {% comment %}
                <div class="form-group">
                    <div class="input-medium">
                        <input
                            class="form-control class_address"
                            id="id_addit-addr-{{ ad.type_address }}"
                            maxlength="50"
                            name="addit-addr-{{ ad.type_address }}"
                            placeholder="{{ ad.get_type_address_display }}"
                            title="{{ ad.get_type_address_display }}"
                            type="text"
                            value="{{ ad.name }}">
                    </div>
                </div>
                {% endcomment %}
            {% endfor %}
        });
        </script>
    {% endif %}
{% endblock %}