<table border="1" cellpadding="5" cellspacing="2" rules="all">
    <tr>
        <th>№</th>
        <th>Название компании/организации</th>
        <th>Количество</th>
        <th>ОГРН</th>
        <th>ИНН</th>
        <th>Маршрут</th>
    </tr>
    {% for order in today_requests %}
        <tr>
            <td>
                {{ forloop.counter }}.
            </td>
            <td>
                {{ order.get_name_comp }}
            </td>
            <td>
                {{ order.count }}
            </td>
            <td>
                {% if order.ogrn %}{{ order.ogrn }}{% endif %}
            </td>
            <td>
                {% if order.inn %}{{ order.inn }}{% endif %}
            </td>
            <td>
                {% if order.route %}{{ order.route }}{% endif %}
            </td>
        </tr>
    {% endfor %}
    {% for order in requests %}
        <tr>
            <td>
                {{ forloop.counter }}.
            </td>
            <td>
                {{ order.get_name_comp }}
            </td>
            <td>
                {{ order.count }}
            </td>
            <td>
                {% if order.ogrn %}{{ order.ogrn }}{% endif %}
            </td>
            <td>
                {% if order.inn %}{{ order.inn }}{% endif %}
            </td>
            <td>
                {% if order.route %}{{ order.route }}{% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<script>
    window.print()
</script>