{% extends 'index.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
    <h1>Заявки за сегодня</h1>

    <form action="" method="post" class="form" novalidate>
        {% csrf_token %}
        <textarea
            id="id_requests"
            cols="100"
            rows="{{ raws_count|add:'3' }}"
            name="form_requests">

            {% for order in today_requests %}
                {{ forloop.counter }}. {{ order.get_name_comp }} {% if order.count > 1 %} количество: {{ order.count }}{% endif %}
                {% if order.ogrn %}ОГРН: {{ order.ogrn }}{% endif %}
                {% if order.inn %}ИНН: {{ order.inn }}{% endif %}
            {% endfor %}
            {% for order in requests %}
                {{ forloop.counter|add:length_roday_requests }}. {{ order.get_name_comp }} {% if order.count > 1 %} количество: {{ order.count }}{% endif %}
                {% if order.ogrn %}ОГРН: {{ order.ogrn }}{% endif %}
                {% if order.inn %}ИНН: {{ order.inn }}{% endif %}
            {% endfor %}
        </textarea>

        <br clear="all">

        {% if request.user.settings.email %}
            {% buttons %}
            <button type="submit" class="btn btn-primary" onclick="$('#id_action').val('save'); return true;">
                {% bootstrap_icon "floppy-save" %} Отправить лист
            </button>
        {% endbuttons %}
        {% else %}
            <span class="red">Привяжите email в настройках для возможности отправки</span>
        {% endif %}

        <a href="?print_page=true" id="id_print_page" class="btn btn-success">
            Печатный лист</a>
    </form>
{% endblock %}
