{% extends 'index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block block_links %}
    <a href="#link_toggle_map" class="btn btn-default" id="link_toggle_map">Развернуть карту</a>
    <a href="#link_toggle_table" class="btn btn-default" id="link_toggle_table">Развернуть таблицу</a>
{% endblock %}

{% block content %}
    <div id="id_routes_block">
        <div class="col-md-6" id="id_routes_info">
            <!-- orders -->
            <div>
                <form action="" class="form-inline" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_route">Маршрут</label>
                        <select name="routes" id="id_route" multiple>
                            <option value="" {% if filter_route == '' %}selected{% endif %}>Все</option>
                            <option value="-2" {% if '-2' in filter_route %}selected{% endif %}>Не заполнено</option>
                            {% for route in routes %}
                                <option value="{{ route }}" {% if route in filter_route|slugify %}selected{% endif %}>{{ route }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Фильтр" class="btn btn-success"/>
                    </div>
                </form>
            </div>

            <table class="table table-striped table-hover" id="document_table" style="table-layout: fixed">
                <thead>
                <tr>
                    <th></th>
                    <th>№ Заказа</th>
                    <th>Адрес</th>
                    <th>Клиент</th>
                    <th>№ маршрута</th>
                </tr>
                </thead>
                <tbody>
                {% for document in orders %}
                    <tr data-docid="{{ document.id }}">
                        <td>
                            <input
                                type="checkbox"
                                id="id_toggle_placemark_{{ document.id }}"
                                onclick="show_hide_point('{{ document.id }}');"
                                checked>
                        </td>
                        <td onclick="go_point('{{ document.id }}'); return false;">
                            {{ document.document_order__number|default_if_none:'' }}
                        </td>
                        <td onclick="go_point('{{ document.id }}'); return false;">
                            {{ document.address__name|default_if_none:'' }}
                        </td>
                        <td onclick="go_point('{{ document.id }}'); return false;">
                            {% if document.document_order__client__pk %}
                                <a href="{% url 'contact-detail' pk=document.document_order__client__pk %}">
                                    {{ document.document_order__client__name }}
                                </a>
                            {% else %}
                                {{ document.document_order__client__name }}
                            {% endif %}
                        </td onclick="go_point('{{ document.id }}'); return false;">
                        <td>
                            <input type="text" name="route" placeholder="маршрут"
                                   class="class_doc_{{ document.id }}"
                                   value="{{ document.route|default_if_none:'' }}" style="width: 40px;"
                                   onkeyup="updateRoute(this.value, $(this).closest('tr').attr('data-docid'))">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% bootstrap_button 'Save' %}
        </div>
        <div class="col-md-6" id="id_routes_map">
            <!-- orders -->
            <div id="YMapsID" style="width: 512px;height: 512px;"></div>
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?load=package.full&amp;lang=ru-RU"></script>
    <script src="{% static "js/lib.js" %}"></script>
    <script src="{% static "js/routes.js" %}"></script>
    <script src="{% static "js/csrf_protect.js" %}"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {

            $('#document_table').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false
            });


            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': {allow_single_deselect: true},
                '.chosen-select-no-single': {disable_search_threshold: 10},
                '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
                '.chosen-select-width': {width: "95%"}
            }
            $("#id_route").chosen(config);
        });
    </script>
{% endblock %}