{% extends 'index.html' %}
{% load bootstrap3 %}
{% block content %}
    <h1 class="page-header">Звонки</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'calls-create' %}" class="btn btn-primary" role="button">
                    {% bootstrap_icon 'plus' %}Входящий звонок
                </a>
{#                <a href="{% url 'calls-create' %}" class="btn btn-primary" role="button">#}
{#                    {% bootstrap_icon 'plus' %}Исходящий звонок#}
{#                </a>#}
            </div>
        </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Тема</th>
                        <th>Вопрос</th>
                        <th>Дата</th>
{#                        <th>Заказ</th>#}
{#                        <th></th>#}
                    </tr>
                    </thead>
                    <tbody>
                        {% for call in object_list %}
                            <tr>
                            <td>
                                <a href="{% url 'calls-update' pk=call.id %}">{{ call.number }}</a>
                            </td>
                            <td>{{ call.theme }}</td>
                            <td>{{ call.question.all|join:',' }}</td>
                            <td>{{ call.date_created|date:'d.m.Y' }}</td>
{#                            <td>-</td>#}
{#                            <td>#}
{#                                <a href="{% url 'calls-detail' pk=call.id %}" class="btn btn-primary btn-xs">Просмотр</a>#}
{#                            </td>#}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}
