{% extends 'index.html' %}
{% load bootstrap3 %}
{% block content %}

    <div class="panel panel-default">
    <div class="panel-body">
        <a href="{% url 'calls-update' pk=object.pk %}" class="btn btn-primary" role="button">
            {% bootstrap_icon "floppy-save" %} Редактировать
        </a>

        <a href="{% url 'calls-delete' pk=object.pk %}" class="btn btn-danger" role="button">
            {% bootstrap_icon "remove-circle" %} Удалить
        </a>

        <a href="{% url 'orders-create-call' call_id=object.pk %}" class="btn btn-success" role="button">
            {% bootstrap_icon "leaf" %} Создать заказ на основе звонка
        </a>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-body">
    <dl>
        <dt>#</dt>
        <dd>{{ object.pk }}</dd>

        <dt>Имя клиента</dt>
        <dd>{{ object.user_name }}</dd>

        <dt>Телефон клиента</dt>
        <dd>{{ object.phone }}</dd>

        <dt>Email клиента</dt>
        <dd>{{ object.email }}</dd>

        <dt>Тип звонка</dt>
        <dd>{{ object.get_type_display }}</dd>

        <dt>Комментарий</dt>
        <dd>{{ object.comment }}</dd>

        <dt>Вопросы</dt>
        <dd>
        <ul>
            {% for question in object.question.all %}
                <li>{{ question.name }}</li>
            {% endfor %}
        </ul>
        </dd>


        <dt>Источник информации</dt>
        <dd>{{ object.source }}</dd>

        <dt>Тема звонка</dt>
        <dd>{{ object.theme }}</dd>
    </dl>
    </div>
    </div>
{% endblock %}
