{% extends 'index.html' %}
{% load bootstrap3 %}
{% block content %}

<form action="" method="post" class="form" novalidate>
    {% csrf_token %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "floppy-save" %} Сохранить
        </button>
        <button type="submit" class="btn btn-success" onclick="$('#id_action').val('save_close'); return true;">
            {% bootstrap_icon "floppy-save" %} Сохранить и закрыть
        </button>
        <button type="submit" class="btn btn-success" onclick="$('#id_action').val('save_call'); return true;">
            {% bootstrap_icon "floppy-save" %} Сохранить и создать новый звонок
        </button>

        <button type="submit" class="btn btn-info" onclick="$('#id_action').val('save_order'); return true;">
            {% bootstrap_icon "floppy-save" %} Сохранить и создать заказ
        </button>
    {% endbuttons %}


    <div class="col-xs-12 col-md-12 col-lg-12">
        <div>

            <div id="source"></div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#theme" aria-controls="home" role="tab" data-toggle="tab">Тема звонка</a>
                </li>
{#                <li role="presentation">#}
{#                    <a href="#info" aria-controls="profile" role="tab" data-toggle="tab">Справочная информация</a>#}
{#                </li>#}
                <li role="presentation">
                    <a href="#contacts" aria-controls="profile" role="tab" data-toggle="tab">Карточка клиента</a>
                </li>
{#                <li role="presentation">#}
{#                    <a href="#tasks" aria-controls="profile" role="tab" data-toggle="tab">Задачи</a>#}
{#                </li>#}
                <li role="presentation">
                    <a href="#comments" aria-controls="profile" role="tab" data-toggle="tab">Комментарии</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="theme">

                {% if object and object.question.all %}
                    <div id="questions">
                        <table class="table">
                            <thead>
                                <th>Тема</th>
                                <th>Вопрос</th>
                            </thead>
                        <tbody>
                            {% for q in object.question.all %}
                                <tr>
                                    <td>{{ q.theme.name }}</td>
                                    <td>{{ q.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                {% endif %}

                <a href="#add_new_question" class="btn btn-success">Добавить вопрос</a>

                </div>
                <div role="tabpanel" class="tab-pane" id="info"></div>
                <div role="tabpanel" class="tab-pane" id="contacts">
                    <a href="#" id="new_phone" class="btn btn-success">
                        Добавить еще один телефон
                    </a>
                </div>
                <div role="tabpanel" class="tab-pane" id="tasks"></div>
                <div role="tabpanel" class="tab-pane" id="comments"></div>

                {% bootstrap_form form %}
                {% bootstrap_form contact_form %}
                {% bootstrap_form phone_form %}
            </div>
        </div>
    </div>



</form>
{% endblock %}

{% block js %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
