<div class="r_p_heder1"> {# TODO. studio first image #}
  <img src="{{ studio.photos.all.0.image.url|default:"/static/img/images/velo_bro_smoll.png" }}" alt="" />
</div>
<div class="r_p_heder2">
  <input type="text" placeholder="Название проката" value="{{ studio.name }}"/>
</div>
<div class="r_b_top">
  <div class="{% if active == 'velos' %}active{% else %}bicegli_a{% endif %}">
    <a class="bicycles" href="{% url 'studio_profile' pk=studio.pk %}">Велосипеды студии</a>
  </div>
  <div class="{% if active == 'desc' %}active{% else %}bicegli_a{% endif %}">
    <a class="rentals" href="{% url 'studio_profile_desc' pk=studio.pk %}">Описание проката </a>
  </div>
  <div class="{% if active == 'contacts' %}active{% else %}bicegli_a{% endif %}" id="contacts_margin">
    <a class="contacts" href="{% url 'studio_profile_contacts' pk=studio.pk %}">Контакты</a>
  </div>
</div>