{% extends 'account/studio.html' %}
{% block studio_tabs %}
{% endblock %}

{% block profile_content %}
<form class="ng-pristine ng-valid" method="post" action="" style="margin-left: 50px;margin-top: 50px;">
  {% csrf_token %}
  <div class="form_left_personal">
    <p>Добавление филиала</p>
    <div class="form-group">
      <input name="name" type="text" class="col-xs-10 form-control" placeholder="Название филиала" value="{{ form.name.value|default:"" }}">
    </div>
    <button type="submit" class="btn">
      Сохранить
    </button>
  </div>
</form>
{% endblock %}