{% extends 'account/studio.html' %}

{% block profile_content %}
  <div class="Rolled_Profile">
    <div class="col-md-12 r_p_heder" ng-controller="addDescCtrl">
      {% include 'account/studio/_header.html' with active='contacts' studio=studio %}
      <form class="studio_form" id="studio_form" method="post" action="">
        {% csrf_token %}

        <div class="col-md-6 r_p_left">
          <script type="text/javascript" charset="utf-8"
                  src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gsJFyMO_mbNOJu796KGvWCvvZaob4Hrv&width=342&height=342&lang=ru_UA&sourceType=constructor"></script>
        </div>
        <div class="col-md-6 r_p_right" style="min-height: 600px;">
          <div class="block_filter_section" style="padding: 0;margin-top: 15px;">
            <p class="block_filter_section_p">Контактная информация</p>
            <div class="col-md-12 r_p_right_textarea">
              <label for="text2">Бывший владелец:</label>
              <textarea id="text2"></textarea>
            </div>
            <p class="block_filter_section_p">Дополнительные опции</p>
            <p class="block_filter_section_p">Адрес</p>
            <p class="block_filter_section_p">Режим работы</p>

          </div>
        </div>
        <div class="text-center form_left_personal retain">
          <button type="submit" class="btn">
            Сохранить
          </button>
        </div>
      </form>
    </div>

  </div>
{% endblock %}


