{% extends 'account/studio.html' %}{% load staticfiles utils %}
{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'lib/jquery-ui/jquery-ui.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/select2/dist/js/select2.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/blueimp-file-upload/js/jquery.iframe-transport.js' %}"></script>

  <script type="text/javascript">
    var object = {
      pk: {{ object.pk|default:"false" }},
      model: '{{ object|to_class_name }}'
    }
  </script>

  <script type="text/ng-template" id="tpl_tmp_upload">
    <div class="uploadwidget">
      <input type="file" name="attach" id="id_tmp_upload_file" class="uploadwidget__input" style="display: none;">
      <div class="uploadwidget__clear" data-ng-show="data !== []">
        <div class="active" ng-repeat="x in data">
          <img ng-src="{( x.attach.url )}" alt="{( x.attach.url )}">
          <a data-ng-click="clearWidget(x.pk, x.model)"></a>
          <input type="hidden" name="photo[]" value="{( x.pk )}"/>
          <input type="hidden" name="photo2" value="{( x.pk )}"/>
        </div>
      </div>
      <div class="uploadwidget__button">
        <div class="img_zagryzit1"><a ng-click="chooseFile()"></a></div>
      </div>
    </div>
  </script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'lib/jquery-ui/themes/ui-lightness/jquery-ui.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'lib/select2/dist/css/select2.css' %}" rel="stylesheet"/>
{% endblock %}

{% block profile_content %}
  <div class="Rolled_Profile">
    <div class="col-md-12 r_p_heder" ng-controller="addDescCtrl">
      {% include 'account/studio/_header.html' with active='desc' studio=studio %}

      <form class="studio_form" id="studio_form" method="post" action="">
        {% csrf_token %}
        <div class="col-md-6 r_p_left">
          <div class="r_p_left_img">
            <div></div>
            <div><a href="">Загрузить картинку<br> студии</a></div>
          </div>
          <div class="r_p_left_nav">
            <div data-ng-tmp-upload data-ng-model="form_file"></div>
          </div>

        </div>
        <div class="col-md-6 r_p_right" style="min-height: 600px;">
          <div class="block_filter_section" style="padding: 0;margin-top: 15px;">
            <div class="r_p_right_textarea">
              <div class="r_p_left_opis_header">Описание</div>
              <textarea name="desc"
                        style="margin: 0px; width: 366px; height: 174px;">{{ form.desc.value|default:'' }}</textarea>
            </div>
            <p class="block_filter_section_p">Дополнительные опции</p>
            <div class="checkbox_1_label checkbox_1_label_dop">
              {% for service in services %}
                <input type="checkbox" class="checkbox_1" id="dop{{ service.pk }}" data-field="id_additional"
                       data-id="{{ service.pk }}" ng-click="changeAdditional($event)"
                       {% if service.pk|slugify in current_services %}checked="checked"{% endif %}/>
                <label for="dop{{ service.pk }}" class="checkbox-inline label-checkbox">{{ service.name }}
                </label><br/>
              {% endfor %}

              <select name="additional" id="id_additional" multiple="multiple" style="display: none;">
                {% for service in services %}
                  <option value="{{ service.pk }}" {% if service.pk|slugify in current_services %}selected="selected"{% endif %}>
                    {{ service.name }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="text-center form_left_personal retain">
          <button type="submit" class="btn">
            Сохранить
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
