{% extends 'account/studio.html' %}
{% load staticfiles bootstrap3 utils %}
{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'lib/jquery-ui/jquery-ui.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/select2/dist/js/select2.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/blueimp-file-upload/js/jquery.iframe-transport.js' %}"></script>

  <script type="text/javascript">
    var object = {
      pk: {{ object.pk|default:"false" }},
      model: '{{ object|to_class_name }}'
    }
  </script>

  <script type="text/ng-template" id="tpl_tmp_upload">
    <div class="uploadwidget">
      <input type="file" name="attach" id="id_tmp_upload_file" class="uploadwidget__input" style="display: none;">

      <div class="uploadwidget__clear" data-ng-show="data !== null">

        <div ng-show="!!data.length" class="active" ng-repeat="x in data">
          <img ng-src="{( x.attach.url )}" alt="{( x.attach.url )}"/>
          <a data-ng-click="clearWidget(x.pk, x.model)"></a>
          <input type="hidden" name="photo[]" value="{( x.pk )}"/>
        </div>
      </div>
      <div class="uploadwidget__button">
        <div class="img_zagryzit1"><a ng-click="chooseFile()"></a></div>
      </div>
    </div>
  </script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'lib/jquery-ui/themes/ui-lightness/jquery-ui.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'lib/select2/dist/css/select2.css' %}" rel="stylesheet"/>
{% endblock %}

{% block profile_content %}
  <div class="Rolled_Profile">
    <div class="col-md-12 r_p_heder" ng-controller="addVeloCtrl">
      {% include 'account/studio/_header.html' with active='velos' studio=studio %}
      <div style="display: none;" id="upload_form_div">
        {{ image_form.as_p }}
      </div>
      <form class="add_velo_form" id="velo_form" {% if not bike_form_show %}style="display: none;"{% endif %}
            method="post" action="">
        {% csrf_token %}
        <div class="col-md-6 r_p_left">
          <div class="r_p_left_img">
            <div></div>
            <div><a href="">Загрузить картинку<br> велосипеда</a></div>
          </div>
          <div class="r_p_left_nav">
            <div data-ng-tmp-upload data-ng-model="form_file"></div>
          </div>
          <div class="r_p_left_opis">
            <div class="r_p_left_opis_header">Описание</div>
            {{ form.desc }}
          </div>
        </div>
        <div class="col-md-6 r_p_right">
          {{ form.errors }}
          <div class="col-md-12 r_p_right_textarea">
            <label for="name">Название велосипеда:</label>
            <textarea id="name" name="name"
                      placeholder="Название велосипеда">{{ form.name.value|default:"" }}</textarea>
          </div>
          <div class="col-md-12 r_p_right_header">Закрепить велосипед за филиалом</div>
          <div>
            {{ form.studio }}
          </div>
          <div class="col-md-12 r_p_right_header tarif">Тариф</div>
          <div class="col-md-12 ui_select_chearch_my2 padding0" id="id_tariff_div">
            <div>{{ form.tariff }}</div>
            <div class="drygoy"><a ng-click="editModal()"></a></div>
            <div class="dobavit"><a ng-click="openModal()">Добавить<br> другой тариф</a></div>
          </div>
          <div class="col-md-12 r_p_right_header harakter">Характеристики</div>
          {% for field in form %}
            {% if field.name != 'name' and field.name != 'chars' and field.name != 'desc' and field.name != 'tariff' and field.name != 'studio' %}
              <div class="col-md-12 r_p_right_textarea">
                <label for="id_gender">{{ field.label }}:</label>
                {{ field }}
              </div>
            {% endif %}
          {% endfor %}

          <div class="block_filter_section">
            <p class="block_filter_section_p">Дополнительные опции</p>
            <div class="checkbox_1_label checkbox_1_label_dop">
              {% for service in chars %}
                <input type="checkbox" class="checkbox_1" id="dop{{ service.pk }}" data-field="id_chars"
                       data-id="{{ service.pk }}" ng-click="changeAdditional($event)"
                       {% if service.pk|slugify in current_chars %}checked="checked"{% endif %}/>
                <label for="dop{{ service.pk }}" class="checkbox-inline label-checkbox">{{ service.name }}
                </label><br/>
              {% endfor %}
              <div style="display: none;">
                {{ form.chars }}
              </div>
            </div>
          </div>
        </div>
        <div class="text-center form_left_personal retain">
          <button type="submit" class="btn">
            Сохранить
          </button>
        </div>
      </form>
      {% if not bike_form_show %}
        <div class="text-center form_left_personal retain">
          <button type="button" class="btn" id="add_velo_button" ng-click="showAddForm($event)">
            Добавить велосипед
          </button>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock %}

{% block velos %}
  <div class="main_catalog">
    {% for bike in bikes %}
      {% url 'bike' pk=bike.pk as bike_url %}
      <div class="main_catalog_bicegli">
        <div class="main_catalog_bicegli1">
          <div class="catalog_foto">
            <a href="{{ bike_url }}"><img src="/static/img/images/Merida_RX_567.png" alt="{{ bike.name }}"></a>
          </div>
          <div class="catalog_opisanie">
            <a href="{{ bike_url }}" class="opisanie_name">{{ bike.name|slice:"30" }}</a>

            {% for key, value in object.get_properties.items %}
              <div class="catalog_p">
                {% if value.img %}
                  <div>
                    <img src="{% static value.img %}" alt="">
                  </div>
                {% endif %}
                {{ value.name }}
              </div>
            {% endfor %}
          </div>
          <div class="catalog_zabronirovat">
            <div class="catalog_zabronirovat_prise">{{ bike.price|default:"0" }}
              <span class="glyphicon glyphicon-ruble"> / час</span>

            </div>
            <div class="time_catalog"><b>{{ bike.price_2hour|default:"0" }}</b> <span
                class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;2
              часов
            </div>
            <div class="time_catalog"><b>{{ bike.price_day|default:"0" }}</b> <span
                class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в
              день
            </div>
            <div class="time_catalog"><b>{{ bike.price_week|default:"0" }}</b> <span
                class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;в неделю
            </div>
            <div>
              <button type="button" class="btn time_catalog_button">
                <img src="/static/img/Shape3.png" alt="Shape3.png">&nbsp;&nbsp;&nbsp;Быстрый просмотр
                {# TODO: iframe popup #}
              </button>
            </div>
          </div>
        </div>
        <div class="main_catalog_bicegli2">
          <div class="adres_block first">
            <div><img src="/static/img/Shape.png" alt="Shape.png"></div>
            <a href="">Переместить в другой филиал</a></div>
          <div class="adres_block">
            <div><img src="/static/img/Shape1.png" alt="Shape1.png"></div>
            <a href="{% url 'bike_edit' pk=studio.pk bike_id=bike.pk %}">Редактировать</a></div>
          <div class="adres_block last">Инвентарный №:&nbsp;&nbsp;&nbsp;{{ bike.number|slice:'15' }}</div>
        </div>
      </div>
    {% endfor %}
  </div>

  <script type="text/ng-template" id="TariffModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Добавление тарифа</h3>
    </div>
    <div class="modal-body">

      <div class="container">
        <form action="{% url 'create_tariff' %}" method="post" id="tariff_form">
          {% for field in tariff_form %}
            <div class="row">
              <div class="col-xs-3 col-md-3">{{ field.label }}</div>
              <div class="col-xs-3 col-md-3">
                <div class="form-group">{# TODO: dirty #}
                  {% if field.name == 'name' %}
                    <label class="sr-only control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <input class="form-control" id="id_{{ field.name }}" name="{{ field.name }}"
                           placeholder="{{ field.label }}"
                           ng-model="formData.{{ field.name }}"
                           title="" type="{{ field.widget }}">
                  {% else %}
                    <label class="sr-only control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <input class="form-control" id="id_{{ field.name }}" name="{{ field.name }}"
                           placeholder="{{ field.label }}" step="10"
                           ng-model="formData.{{ field.name }}"
                           title="" type="number">
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </form>

      </div>
      {#        Selected: <b>{{ selected.item }}</b>#}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

{% endblock %}