{% extends "lend/base.html" %}

{% block content %}
    {% for visit in visits %}
    {{visit.date}}<br>
    {% endfor %}

    ----------------------------
    {% if visits.has_previous %}
        <a href="?page={{ visits.previous_page_number }}">←</a>
    {% endif %}

    {% for num in visits.paginator.page_range %}
        {% if num == visits.number %}
            <span class="current"><b>{{ num }}</b></span>
        {% else %}
            <a href="?page={{ num }}"> {{ num }}</a>
        {% endif %} 
    {% endfor %}

    {% if article_list.has_next %}
        <a href="?page={{ article_list.next_page_number }}">→</a>
    {% endif %}
{% endblock %}